<h3 class="govuk-heading-m">Offences</h3>
<div data-test="offender-offences">
    {% if offenceDetailsSectionError %}
        <p class="govuk-body">
            Unable to show any of these details. You can try reloading the page.
        </p>
    {% endif %}

    {% if offenceDetailsSectionError == false %}
        {% set offenceRows = [] %}

        {% for offence in offenceDetails %}
            {% set offenceRows = (offenceRows.push(
                {
                    key: {
                    text: offence.label
                },
                    value: {
                    text: offence.value | showDefault
                }
                }
                ), offenceRows) %}
        {% endfor %}

        {{ govukSummaryList({
            rows: offenceRows,
            classes: "govuk-!-margin-bottom-2",
            attributes: { "data-test": "offence-summary" }
        }) }}
        
        <a href="{{ prisonerProfileData.offenderNo + '/sentence-and-release' }}" class="govuk-link govuk-!-font-size-19">View sentence and release details</a>
    {% endif %}
</div>
