<h3 class="govuk-heading-m">Schedule</h3>
{% set scheduledActivityRows = [] %}

<div data-test="schedules">
    {% if scheduledActivityPeriodsSectionError %}
        <p class="govuk-body">
            Unable to show any of these details. You can try reloading the page.
        </p>
    {% endif %}

    {% if scheduledActivityPeriodsSectionError == false %}
        {% for activityPeriod in scheduledActivityPeriods %}
            {% set scheduledActivityRows = (scheduledActivityRows.push(
                {
                    key: {
                    text: activityPeriod.label
                },
                    value: {
                    html: scheduledActivities(activityPeriod.value)
                }
                }
                ), scheduledActivityRows) %}
        {% endfor %}

        {{ govukSummaryList({
            rows: scheduledActivityRows,
            classes: "govuk-!-margin-bottom-2",
            attributes: { "data-test": "schedule-summary" }
        }) }}

        <a href="{{ '/prisoner/' + prisonerProfileData.offenderNo + '/schedule' }}"
           class="govuk-link govuk-!-font-size-19">
           View 7 day schedule
        </a>
    {% endif %}
</div>
