<h3 class="govuk-heading-m">Visits</h3>
{% set visitRows = [] %}

<div data-test="visit-details">
    {% if visits.visitSectionError %}
        <p class="govuk-body">
            Unable to show any of these details. You can try reloading the page.
        </p>
    {% endif %}
    {% if visits.visitSectionError == false %}

        {% for visitDetail in visits.details %}
            {% set visitRows = (visitRows.push(
                {
                    key: {
                    text: visitDetail.label
                },
                    value: {
                    text: visitDetail.value | showDefault
                }
                }
                ), visitRows) %}
        {% endfor %}

        {% if visits.nextVisitDetails %}
            {% for nextVisitDetail in visits.nextVisitDetails %}
                {% set visitRows = (visitRows.push(
                    {
                        key: {
                        text: nextVisitDetail.label,
                        classes: 'govuk-summary-list__key--indent'
                    },
                        value: {
                        text: nextVisitDetail.value | showDefault
                    }
                    }
                    ), visitRows) %}
            {% endfor %}
        {% endif %}

        {{ govukSummaryList({
            rows: visitRows,
            classes: "govuk-!-margin-bottom-2",
            attributes: { "data-test": "visits-summary" }
        }) }}
    {% endif %}
</div>
