<configuration debug="true">

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>utf-8</charset>
			<Pattern>%d{HH:mm:ss.SSS} [%p] %c.%M - %m%n</Pattern>
		</encoder>
	</appender>

	<logger name="wiremock.org.eclipse.jetty" level="INFO"/>

	<root level="INFO">
		<appender-ref ref="CONSOLE"/>
	</root>

</configuration>
