.horizontal-information {
  @media print, (min-width: #{map-get($govuk-breakpoints, 'tablet')}) {
    padding-bottom: 0;
    display: flex;
  }

  &--with-border {
    padding: govuk-spacing(3) 0;
    border-top: 1px solid $govuk-border-colour;
    border-bottom: 1px solid $govuk-border-colour;
  }

  &__item {
    @media print, (min-width: #{map-get($govuk-breakpoints, 'tablet')}) {
      flex: 1 1 0;
      padding-right: govuk-spacing(3);

      &--tenth {
        flex-basis: 10%;
      }

      &:last-child {
        padding-right: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.horizontal-form {
  * {
    width: 100%;
  }

  @include govuk-media-query($from: desktop) {
    display: flex;
    flex-flow: row wrap;

    * {
      width: auto;
      margin-bottom: 0;
    }

    > div {
      margin-right: govuk-spacing(3);
    }

    .date-picker-container input {
      width: 130px !important;
    }

    label {
      margin-bottom: govuk-spacing(1);
    }

    button {
      margin-right: govuk-spacing(3);
      margin-bottom: $govuk-border-width-form-element;
    }

    a {
      margin-bottom: 10px;
    }

    button,
    a {
      align-self: flex-end;
    }
  
  }
}

.horizontal-links {
  > a {
    margin-right: govuk-spacing(2);
  }

  @include govuk-media-query($from: desktop) {
    display: flex;

    * {
      width: auto;
      margin-bottom: 0;
    }

    > a {
      margin-right: govuk-spacing(3);
    }
  }
}

.no-label-form-clear-link {
  margin-bottom: 10px;
  margin-top: 0 !important;
}