$govuk-page-width: 1170px;
// $govuk-global-styles: true;
@import 'node_modules/govuk-frontend/govuk/all';
@import 'node_modules/@ministryofjustice/frontend/moj/components/sortable-table/sortable-table';
@import 'components/_header.scss';
@import 'components/_sortable-table.scss';
@import 'views/components/datePicker/datePicker.scss';
@import 'views/components/timePicker/timePicker.scss';
@import 'views/components/movementSlip/movementSlip.scss';
@import 'views/components/scheduledEvents/scheduledEvents.scss';

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.clickable {
  cursor: pointer;
}

.horizontal-form {
  * {
    width: 100%;
  }

  @include govuk-media-query($from: desktop) {
    display: flex;

    * {
      width: auto;
      margin-bottom: 0;
    }

    > div {
      margin-right: govuk-spacing(3);
    }

    label {
      margin-bottom: govuk-spacing(1);
    }

    button {
      align-self: flex-end;
      margin-bottom: $govuk-border-width-form-element;
    }
  }
}

// Print
@page {
  margin: 0;
}

@media print {
  .printed-page {
    background: none;
  }
}
