$govuk-page-width: 1170px;
$govuk-font-family-print: 'GDS Transport';
@import 'node_modules/govuk-frontend/dist/govuk/all';
@import 'node_modules/@ministryofjustice/frontend/moj/components/sortable-table/sortable-table';
@import 'node_modules/@ministryofjustice/frontend/moj/all';
@import 'node_modules/@ministryofjustice/hmpps-connect-dps-shared-items/dist/assets/dps/components/alert-flag/alert-flag';
@import 'components/fallback_header';
@import 'components/header';
@import 'components/sortable-table';
@import 'components/print-link';
@import 'components/offender-basic-details';
@import 'components/flags';
@import 'components/attendance-stats';
@import 'components/establishment-roll';
@import 'components/buttons';
@import 'components/prisonerProfile/prisoner-schedule';
@import 'components/prisonerProfile/prisoner-work-inside-prison-details';
@import 'components/prisonerProfile/prisoner-change-incentive-level';
@import 'components/covid/dashboard';
@import 'components/prisonerSearch/prisoner-search';
@import 'components/prisonerSearch/prisoner-panel';
@import 'components/scheduled-moves';
@import 'components/results-table';
@import 'components/card';

@import 'pages/homepage';

@import 'views/components/datePicker/datePicker';
@import 'views/components/timePicker/timePicker';
@import 'views/components/movementSlip/movementSlip';
@import 'views/components/scheduledEvents/scheduledEvents';
@import 'views/components/notificationBar/notificationBar';
@import 'views/components/feedbackBanner/feedbackBanner';

@import 'govuk-overrides';
@import 'moj-overrides';
@import 'typography';
@import 'horizontal-content';
@import 'print';

#main-content * {
  box-sizing: border-box;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.clickable {
  cursor: pointer;
}

.word-break {
  word-break: break-word;
}

.allow-overflow {
  overflow: auto;
}

.govuk-blue-background-confirm-override {
  .govuk-panel--confirmation {
    background-color: govuk-colour('blue') !important;
  }
}

.interruption-panel {
  @extend .govuk-panel;

  text-align: left;
  background-color: govuk-colour('blue');
  color: govuk-colour('white');

  .govuk-heading-l, .govuk-body {
    color: govuk-colour('white');
  }
}

.suspended {
  color: #df3034;
  font-weight: 700;
}

.pull-right {
  text-align: right;
}

.right-content {
  float: right;
  height: 100%;
}

@include govuk-media-query($from: desktop) {
  .table-compact {
    th {
      white-space: nowrap;
      padding-right: 40px;
    }
    tr td {
      padding-right: 40px;
      white-space: nowrap;
    }
    tr td:last-child {
      width: 100%;
    }
  }
}

.moj-pagination__results {
  font-family: $govuk-font-family;
}

.case-note-entry {
  display: flex;
  flex-direction: row;
  margin-bottom: govuk-spacing(3);
}
.bottom-line {
  border-bottom: 1px solid $govuk-border-colour;
}
.case-notes-created {
  flex-basis: 20%;
  min-width: 20%;
}

.case-notes-details {
  flex-basis: 80%;
}

.case-notes-omic-open {
  display: none;
}
.case-notes-omic-open-warning {
  margin-left: 15px;
}

.case-notes-behaviour-prompt {
  display: none;
}

pre {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

//tabular data font
.app-\!-font-family-tabular {
  @include govuk-font($size: false, $tabular: true);
}

.app-\!-font-family-tabular-bold {
  @include govuk-font($size: false, $tabular: true, $weight: bold);
}

.change-someones-cell-has-moved-content {
  margin-bottom: 100px;
}
