$govuk-page-width: 1170px;
@import 'node_modules/govuk-frontend/govuk/all';
@import 'node_modules/@ministryofjustice/frontend/moj/components/sortable-table/sortable-table';
@import 'node_modules/@ministryofjustice/frontend/moj/all';
@import 'components/header';
@import 'components/sortable-table';
@import 'components/print-link';
@import 'components/offender-basic-details';
@import 'components/alert-flags';
@import 'components/buttons';
@import 'components/prisonerProfile/prisoner-profile';
@import 'components/prisonerProfile/prisoner-profile-header';
@import 'components/prisonerProfile/prisoner-profile-footer';
@import 'components/prisonerProfile/prisoner-full-image';
@import 'components/prisonerProfile/prisoner-personal';
@import 'components/prisonerProfile/prisoner-alerts';
@import 'components/prisonerProfile/prisoner-visits';
@import 'components/prisonerProfile/prisoner-schedule';
@import 'components/covid/dashboard';
@import 'components/prisonerSearch/prisoner-search';
@import 'components/prisonerSearch/prisoner-panel';

@import 'views/components/datePicker/datePicker.scss';
@import 'views/components/timePicker/timePicker.scss';
@import 'views/components/movementSlip/movementSlip.scss';
@import 'views/components/scheduledEvents/scheduledEvents.scss';
@import 'govuk-overrides';
@import 'moj-overrides';
@import 'typography';
@import 'horizontal-content';

* {
  box-sizing: border-box;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.clickable {
  cursor: pointer;
}

.word-break {
  word-break: break-word;
}

// Print
@page {
  margin: 1cm 0;
}

@include govuk-media-query($media-type: print) {
  // govuk-frontend overrides
  .govuk-heading-l {
    font-size: 19pt;
  }

  .govuk-heading-m {
    font-size: 16pt;
  }

  .govuk-heading-s {
    font-size: 14pt;
  }

  .govuk-body-l {
    font-size: 12pt;
  }

  .printed-page {
    background: none;
  }

  .govuk-table {
    font-size: 10pt;

    .govuk-link {
      color: inherit;
      text-decoration: none;

      // Remove url from links in printed view within a table
      &[href^="/"], &[href^="http://"], &[href^="https://"] {
        &::after {
          content: '';
        }
      }
    }

    // Remove styling from MOJ sortable table colum headers
    [aria-sort] button {
      color: inherit;

      &:before,
      &:after {
        content: '';
      }
    }
  }
}
.govuk-blue-background-confirm-override {
  .govuk-panel--confirmation {
    background-color: govuk-colour('blue') !important;
  }
}

.suspended {
  color: #df3034;
  font-weight: 700;
}

.pull-right {
  text-align: right;
}

@include govuk-media-query($from: desktop) {
  .table-compact {
    th {
      white-space: nowrap;
      padding-right: 40px;
    }
    tr td {
      padding-right: 40px;
      white-space: nowrap;
    }
    tr td:last-child {
      width: 100%;
    }
  }
}

.moj-pagination__results {
  font-family: $govuk-font-family;
}

.case-note-entry {
  display: flex;
  flex-direction: row;
  margin-bottom: govuk-spacing(3);
}
.bottom-line {
  border-bottom: 1px solid $govuk-border-colour;
}
.case-notes-created {
  flex-basis: 20%;
  min-width: 20%;
}

.case-notes-details {
  flex-basis: 80%;
}

pre {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}
