$govuk-page-width: 1170px;
@import 'node_modules/govuk-frontend/govuk/all';
@import 'node_modules/@ministryofjustice/frontend/moj/components/sortable-table/sortable-table';
@import 'components/header';
@import 'components/sortable-table';
@import 'components/print-link';
@import 'components/offender-basic-details';
@import 'components/alert-flags';
@import 'components/buttons';
@import 'components/prisonerProfile/prisoner-profile-header';
@import 'components/prisonerProfile/prisoner-full-image';
@import 'components/prisonerProfile/prisoner-personal';
@import 'views/components/datePicker/datePicker.scss';
@import 'views/components/timePicker/timePicker.scss';
@import 'views/components/movementSlip/movementSlip.scss';
@import 'views/components/scheduledEvents/scheduledEvents.scss';
@import 'govuk-overrides';
@import 'typography';

* {
  box-sizing: border-box;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.clickable {
  cursor: pointer;
}

.horizontal-form {
  * {
    width: 100%;
  }

  @include govuk-media-query($from: desktop) {
    display: flex;

    * {
      width: auto;
      margin-bottom: 0;
    }

    > div {
      margin-right: govuk-spacing(3);
    }

    label {
      margin-bottom: govuk-spacing(1);
    }

    button {
      align-self: flex-end;
      margin-bottom: $govuk-border-width-form-element;
    }
  }
}

.horizontal-links {
  > a {
    margin-right: govuk-spacing(2);
  }

  @include govuk-media-query($from: desktop) {
    display: flex;

    * {
      width: auto;
      margin-bottom: 0;
    }

    > a {
      margin-right: govuk-spacing(3);
    }
  }
}

// Print
@page {
  margin: 0;
}

@include govuk-media-query($media-type: print) {
  // govuk-frontend overrides
  .govuk-heading-l {
    font-size: 19pt;
  }

  .govuk-body-l {
    font-size: 12pt;
  }

  .printed-page {
    background: none;
  }

  .govuk-table {
    font-size: 10pt;

    .govuk-link {
      color: inherit;
      text-decoration: none;

      // Remove url from links in printed view within a table
      &[href^="/"], &[href^="http://"], &[href^="https://"] {
        &::after {
          content: '';
        }
      }
    }

    // Remove styling from MOJ sortable table colum headers
    [aria-sort] button {
      color: inherit;

      &:before,
      &:after {
        content: '';
      }
    }
  }
}
.govuk-blue-background-confirm-override {
  .govuk-panel--confirmation {
    background-color: govuk-colour('blue') !important;
  }
}

.suspended {
  color: #df3034;
  font-weight: 700;
}

.pull-right {
  text-align: right;
}

@include govuk-media-query($from: desktop) {
  .table-compact {
    th {
      white-space: nowrap;
      padding-right: 40px;
    }
    tr td {
      padding-right: 40px;
      white-space: nowrap;
    }
    tr td:last-child {
      width: 100%;
    }
  }
}

