$govuk-page-width: 1170px;
@import 'node_modules/govuk-frontend/govuk/all';
@import "node_modules/@ministryofjustice/frontend/moj/all";
@import 'components/_header.scss';
@import "components/_sortable-table.scss";
@import 'views/components/datePicker/datePicker.scss';
@import 'views/components/timePicker/timePicker.scss';
@import 'views/components/movementSlip/movementSlip.scss';


.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.clickable {
  cursor: pointer;
}

// Print
@page {
  margin: 0;
}

@media print {
  .printed-page {
    background: none;
  }
}
