{{ govukWarningText({
  text: reverseOrderPrisonerName + " has a non-association with a prisoner in this location",
  iconFallbackText: "Warning"
}) }}

{% for nonAssociation in nonAssociationsRows %} 
    {{ govukInsetText({
      html: govukSummaryList({
        classes: "govuk-summary-list--no-border govuk-body",
        attributes: {'data-test': 'non-association-summary-' + nonAssociation.prisonNumber},
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: nonAssociation.name
            }
          },
          {
            key: {
              text: "Prison number"
            },
            value: {
              text: nonAssociation.prisonNumber
            }
          },
          {
            key: {
              text: "Type"
            },
            value: {
              text: nonAssociation.type
            }
          },
          {
            key: {
              text: nonAssociation.selectedOffenderKey
            },
            value: {
              text: nonAssociation.selectedOffenderRole
            }
          },
          {
            key: {
              text: nonAssociation.otherOffenderKey
            },
            value: {
              text: nonAssociation.otherOffenderRole
            }
          },
          {
            key: {
              text: "Comment"
            },
            value: {
              text: nonAssociation.comment
            }
          }
        ] | removePaddingBottom
      }),
      classes: 'govuk-!-padding-top-0 govuk-!-padding-bottom-0'
    }) }}

{% endfor %}

<p class="govuk-body" data-test="message">You must have checked any local processes for non-associations.</p>
