{% extends "../layouts/prisonerLayout.njk" %}
{% from "../macros/prisonerScheduledActivities.njk" import scheduledActivities %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set title = "Quick look" %}
{% set containerClasses = "prisoner-profile" %}

{% block prisonerProfileSection %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <div class="govuk-!-margin-bottom-6">
        {% include "./partials/offences.njk" %}
      </div>
    </div>

    <div class="govuk-grid-column-one-half">
      <div class="govuk-!-margin-bottom-6">
        {% include "./partials/money.njk" %}
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <div class="govuk-!-margin-bottom-6">
        {% include "./partials/incentivesAndAdjudications.njk" %}
      </div>
    </div>

    <div class="govuk-grid-column-one-half">
      <div class="govuk-!-margin-bottom-6">
        {% include "./partials/visits.njk" %}
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <div class="govuk-!-margin-bottom-6">
        {% include "./partials/personal.njk" %}
      </div>

      {% if prisonerProfileData.canViewProbationDocuments %}
        <div class="govuk-!-margin-bottom-6">
          <h3 class="govuk-heading-m">Offender management</h3>

          <a href="{{'/offenders/' + prisonerProfileData.offenderNo + '/probation-documents' }}" class="govuk-link govuk-!-font-size-19" data-test="probation-documents-link">
            View documents held by probation
          </a>
        </div>
      {% endif %}
    </div>

    <div class="govuk-grid-column-one-half">
      {% include "./partials/schedule.njk" %}
    </div>
  </div>
{% endblock %}
