{% extends "../partials/layout.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "components/datePicker/datePicker.njk" import datePicker %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "./partials/sharedMovementDetails.njk" import prisonerProfileLink, propertyColumn, alertsColumn %}
{% from "../macros/printLink.njk" import printLink %}

{% set title = "Scheduled movements" %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: "Digital Prison Services",
                href: "/"
            },
            {
                text: "Manage prisoner whereabouts",
                href: "/manage-prisoner-whereabouts"
            }
        ]
    }) }}
{% endblock %}


{% block content %}

    <div class="govuk-grid-row govuk-body">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-m">People due to leave {{ agencyDescription }} on {{ dateForTitle }}</h1>
        </div>

        <div class="govuk-grid-column-two-thirds">
            <form novalidate="novalidate"
                  class="form-background govuk-!-padding-3 govuk-!-margin-bottom-5 govuk-!-display-none-print"
                  method="get">
                <h2 class="govuk-heading-m">View by</h2>

                <div class="horizontal-form govuk-!-margin-bottom-3">

                    {{ datePicker({
                        id: 'date',
                        label: 'Date',
                        name: 'date',
                        date: formValues.date
                    }) }}

                    {{ govukSelect({
                        name: 'scheduledType',
                        id: 'scheduledType',
                        label: {
                            text: 'Reason for leaving'
                        },
                        items: scheduledTypes  | addDefaultSelectedVale('All', true) | setSelected(formValues.scheduledType)
                    }) }}


                    {{ govukButton({
                        text: "View",
                        preventDoubleClick: true,
                        type: "submit"
                    }) }}
                </div>
            </form>
        </div>


        {{ printLink('Print displayed results', 'right') }}

        {% if showCourtAppearances %}
            <div id="court" class="govuk-grid-column-full">
                {% include("./partials/courtEvents.njk") %}
            </div>
        {% endif %}

        {% if showReleases %}
            <div id="releases" class="govuk-grid-column-full">
                {% include("./partials/releaseEvents.njk") %}
            </div>
        {% endif %}

        {% if showTransfers %}
            <div id="transfers" class="govuk-grid-column-full">
                {% include("./partials/transferEvents.njk") %}
            </div>
        {% endif %}

    </div>

{% endblock %}
