{% from "govuk/components/footer/macro.njk" import govukFooter %}

{{ 
  govukFooter({
    meta: {
      items: [
        {
          href: supportUrl + 'feedback-and-support',
          text: "Feedback and support"
        }
      ]
    },
    classes: "govuk-!-display-none-print qa-court-service-footer"
  }) 
}}
