{% from "govuk/components/footer/macro.njk" import govukFooter %}

{{ 
  govukFooter({
    navigation: [
      {
        title: "Useful links",
        items: [
          {
            href: "/content/features",
            text: "Features"
          },
          {
            href: "/content/roadmap",
            text: "Roadmap"
          },
          {
            href: "/content/whats-new",
            text: "What's new"
          }
        ]
      }
    ],
    meta: {
      items: [
        {
          href: supportUrl + 'feedback-and-support',
          text: "Feedback and support"
        },
        {
          href: "/content/terms-conditions",
          text: "Terms and conditions"
        }
      ]
    },
    classes: "govuk-!-display-none-print"
  }) 
}}
