{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% include "../components/feedbackBanner/feedbackBanner.njk" %}

{{ 
  govukFooter({
    meta: {
      items: [
        {
          href: supportUrl,
          text: "Get help"
        },
        {
          href: "/content/terms-conditions",
          text: "Terms and conditions"
        }
      ]
    },
    classes: "govuk-!-display-none-print"
  }) 
}}
