 <header class="page-header">
    <div class="header-content clickable">
        <div class="left-content">
            <a title="Home link" class="link" href="/">
                <div class="logo"><img src="/images/Crest@2x.png" alt="" width="42" height="35"></div>
            </a>
            <a title="Home link" class="unstyled-link" href="/">
                <span class="logo-text">HMPPS</span>
                <span class="title">Digital Prison Services</span>
            </a>
        </div>

       {% if user %}
            <div class="right-content">
                <div class="right-menu no-select">
                    <label class="right-menu-content clickable" for="menuToggle">
                        <input id="menuToggle" type=checkbox>
                        <div id="info-wrapper" class="info-wrapper right-menu-info-wrap" role="menu" tabindex="0">
                            <strong class="user-name right-menu-content-primary">{{ user.displayName }}</strong>
                            <span class="case-load right-menu-content-secondary">{{ user.activeCaseLoad.description }}</span>
                        </div>
                        <div class="right-menu-dropdown-menu" id="menuItems">
                            <div>
                            {% for caseload in inactiveCaseLoads %}
                                <button type="button" class="clickable right-menu-dropdown-menu-option" id="menu-option-{{caseload.caseLoadId}}">{{caseload.description}}</button>
                            {% endfor %}
                            <a class="right-menu-dropdown-menu-option" href="/auth/logout">Sign out</a>
                            </div>
                        </div>
                    </label>
                </div>
            </div>
        {% endif %}
    </div>
</header>
