{% extends "govuk/template.njk" %}

{% block head %}
<!--[if !IE 8]><!-->
<link href="styles/application.css" rel="stylesheet" />
<!--<![endif]-->

{% endblock %}

{% block header %}
  {% include "./header.njk" %}
{% endblock %}

{% block bodyEnd %}
{# Run JavaScript at end of the
<body>, to avoid blocking the initial render. #}
<script src="/public/govuk/all.js"></script>
<script>window.GOVUKFrontend.initAll();</script>
{% endblock %}