{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% extends "govuk/template.njk" %}

{% block head %}

<!--[if !IE 8]><!-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
<link href = "https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
<link href="/static/stylesheets/application.css" rel="stylesheet" />
<script src="/static/js/main.js"></script>
<title>{% block pageTitle %}{{title}}{% endblock %}</title>
<!--<![endif]-->

{% block headIcons %}
    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/favicon.ico" type="image/x-icon" />
{% endblock %}

{% endblock %}

{% block header %}
  {% include "./header.njk" %}
{% endblock %}

{% block footer %}
  {% include "./footer.njk" %}
{% endblock %}

{% block bodyEnd %}
{# Run JavaScript at end of the
<body>, to avoid blocking the initial render. #}
<script src="/assets/govuk/all.js"></script>
<script>window.GOVUKFrontend.initAll();</script>
{% endblock %}
