.stat-with-warning {
    box-sizing: border-box;
    padding: 0 15px;
    width: 13%;
    float: left;
  }

div[data-qa='refusingToShield'] .govuk-warning-text__icon {
    padding-right: 10px;
    padding-left: 10px;
  }
  