{% from "../../macros/holdAgainstTransferDetailsDialog.njk" import holdAgainstTransferDetailsDialog %}

<div class="horizontal-information">
    <h2 class="govuk-heading-s horizontal-information__item scheduled-moves__section_heading">Court appearances</h2>
    {% if courtEvents.length !== 0 %}
        <p class="govuk-body horizontal-information__item pull-right"><strong>Prisoners listed:</strong> {{ prisonersListedForCourt }}</p>
    {% endif %}
</div>

{% if courtEvents.length !== 0 %}
    {% set courtEventRows = [] %}
    {% for event in courtEvents %}
        {% set courtEventRows = (courtEventRows.push([
            { html: prisonerProfileLink(event.prisonerNumber, event.name)},
            { text: event.cellLocation },
            { html: propertyColumn(event.personalProperty) },
            { html: alertsColumn(event.relevantAlertFlagLabels, event.holdAgainstTransferAlerts)},
            { text: event.reasonDescription },
            { text: event.destinationLocationDescription, classes: 'govuk-input--width-4' }
        ]), courtEventRows) %}
    {% endfor %}

    {{ govukTable({
        head: [
            {
                text: "Name and prisoner number",
                attributes: {"aria-sort": "ascending"}
            },
            {
                text: "Location",
                attributes: {"aria-sort": "ascending"}
            },
            {
                text: "Property"
            },
            {
                text: "Relevant details"

            },
            {
                text: "Reason"
            },
            {
                html: "Destination location",
                classes: 'govuk-input--width-2',
                attributes: {"aria-sort": "ascending"}
            }
        ],
        rows: courtEventRows,
        attributes: { "id": "court-events-table", "data-qa": "court-events-table" }
    }) }}

    {% for event in courtEvents %}
        {% if event.holdAgainstTransferAlerts %}
            {{ holdAgainstTransferDetailsDialog(event.holdAgainstTransferAlerts) }}
        {% endif %}
    {% endfor %}
{% else %}
    <p id="no-court-events">
        There are no court appearances arranged for {{ dateForTitle }}
    </p>
{% endif %}
