<h2 class="govuk-heading-s">Court appearances</h2>
{% if courtEvents.length !== 0 %}
    {% set courtEventRows = [] %}
    {% for event in courtEvents %}
        {% set courtEventRows = (courtEventRows.push([
            { html: prisonerProfileLink(event.prisonerNumber, event.name) },
            { text: event.cellLocation },
            { html: propertyColumn(event.personalProperty) },
            { html: alertsColumn(event.relevantAlertFlagLabels)},
            { text: event.reasonDescription },
            { text: event.destinationLocationDescription }
        ]), courtEventRows) %}
    {% endfor %}

    <p class="govuk-body pull-right"><strong>Prisoners listed:</strong> {{ courtEventRows.length }}</p>
    {{ govukTable({
        head: [
            {
                text: "Name and prisoner number",
                attributes: {"aria-sort": "ascending"}
            },
            {
                text: "Cell",
                attributes: {"aria-sort": "ascending"}
            },
            {
                text: "Property"
            },
            {
                text: "Relevant details"

            },
            {
                text: "Reason"
            },
            {
                text: "Destination location",
                attributes: {"aria-sort": "ascending"}
            }
        ],
        rows: courtEventRows,
        attributes: { "id": "court-events-table", "data-qa": "court-events-table" }
    }) }}
{% else %}
    <p id="no-court-events">
        There are no court appearances arranged for {{ dateForTitle }}
    </p>
{% endif %}
