<h2 class="govuk-heading-s">Releases</h2>
{% if releaseEvents.length !== 0 %}
    {% set releaseEventRows = [] %}
    {% for event in releaseEvents %}
        {% set releaseEventRow = (releaseEventRows.push([
            { html: prisonerProfileLink(event.prisonerNumber, event.name) },
            { text: event.cellLocation },
            { html: propertyColumn(event.personalProperty) },
            { html: alertsColumn(event.relevantAlertFlagLabels, event.holdAgainstTransferAlerts)},
            { text: event.reasonDescription }
        ]), releaseEventRows) %}
    {% endfor %}

    <p class="govuk-body pull-right"><strong>Prisoners listed:</strong> {{ releaseEventRows.length }}</p>
    {{ govukTable({
        head: [
            {
                text: "Name and prisoner number",
                attributes: {"aria-sort": "ascending"}
            },
            {
                text: "Location",
                attributes: {"aria-sort": "ascending"}
            },
            {
                text: "Property"
            },
            {
                text: "Relevant details"

            },
            {
                text: "Reason"
            }
        ],
        rows: releaseEventRows,
        attributes: { "id": "release-events-table" , "data-qa": "release-events-table" }
    }) }}
{% else %}
    <p id="no-release-events">
        There are no releases arranged for {{ dateForTitle }}
    </p>
{% endif %}
