{% from "../../macros/alertFlags.njk" import alertFlags %}
{% from "../../macros/holdAgainstTransferAlertLink.njk" import holdAgainstTransferAlertLink %}

{% macro prisonerProfileLink(prisonerNumber, text) %}
    <a href="{{ "/prisoner/" + prisonerNumber }}" class="govuk-link govuk-body"
       data-test="cell-details-link">{{ text }}</a>
{% endmacro %}

{% macro propertyColumn(personalProperty) %}
    {% if personalProperty.length === 0 %}
        None
    {% else %}
        {% for property in personalProperty %}
            <div>
                {{ property.containerType }} - {{ property.boxNumber }}
            </div>
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro alertsColumn(relevantAlertFlagLabels, holdAgainstTransferAlerts = undefined) %}
    {% if relevantAlertFlagLabels.length === 0 and not holdAgainstTransferAlerts %}
        None
    {% else %}
        {{ alertFlags(relevantAlertFlagLabels, newLine=true) }}
        {% if holdAgainstTransferAlerts %}
            {{ holdAgainstTransferAlertLink(holdAgainstTransferAlerts) }}
        {% endif %}
    {% endif %}
{% endmacro %}

