{% from "../../macros/holdAgainstTransferDetailsDialog.njk" import holdAgainstTransferDetailsDialog %}

<div class="horizontal-information">
    <h2 class="govuk-heading-s horizontal-information__item scheduled-moves__section_heading">Transfers</h2>
    {% if transferEvents.length !== 0 %}
        <p class="govuk-body horizontal-information__item pull-right"><strong>Prisoners listed:</strong> {{ prisonersListedForTransfer }}</p>
    {% endif %}
</div>

{% if transferEvents.length !== 0 %}
    {% set transferEventRows = [] %}
    {% for event in transferEvents %}
        {% set transferEventRows = (transferEventRows.push([
            { html: prisonerProfileLink(event.prisonerNumber, event.name) },
            { text: event.cellLocation },
            { html: propertyColumn(event.personalProperty) },
            { html: alertsColumn(event.relevantAlertFlagLabels, event.holdAgainstTransferAlerts)},
            { text: event.reasonDescription },
            { text: event.destinationLocationDescription }
        ]), transferEventRows) %}
    {% endfor %}

    {{ govukTable({
        head: [
            {
                text: "Name and prisoner number",
                attributes: {"aria-sort": "ascending"}
            },
            {
                text: "Location",
                attributes: {"aria-sort": "none"}
            },
            {
                text: "Property"
            },
            {
                text: "Relevant details"

            },
            {
                text: "Reason"
            },
            {
                text: "Destination location",
                attributes: {"aria-sort": "none"}
            }
        ],
        rows: transferEventRows,
        attributes: { "id": "transfer-events-table", "data-qa": "transfer-events-table" }
    }) }}

    {% for event in transferEvents %}
        {% if event.holdAgainstTransferAlerts %}
            {{ holdAgainstTransferDetailsDialog(event.holdAgainstTransferAlerts) }}
        {% endif %}
    {% endfor %}
{% else %}
    <p id="no-transfer-events">
        There are no transfers arranged for {{ dateForTitle }}
    </p>
{% endif %}
