<h2 class="govuk-heading-s">Transfers</h2>
{% if transferEvents.length !== 0 %}
    {% set transferEventRows = [] %}
    {% for event in transferEvents %}
        {% set transferEventRows = (transferEventRows.push([
            { html: prisonerProfileLink(event.prisonerNumber, event.name) },
            { text: event.cellLocation },
            { html: propertyColumn(event.personalProperty) },
            { html: alertsColumn(event.relevantAlertFlagLabels)},
            { text: event.reasonDescription },
            { text: event.destinationLocationDescription }
        ]), transferEventRows) %}
    {% endfor %}

    <p class="govuk-body pull-right"><strong>Prisoners listed:</strong> {{ transferEventRows.length }}</p>
    {{ govukTable({
        head: [
            {
                text: "Name and prisoner number",
                attributes: {"aria-sort": "ascending"}
            },
            {
                text: "Cell",
                attributes: {"aria-sort": "ascending"}
            },
            {
                text: "Property"
            },
            {
                text: "Relevant details"

            },
            {
                text: "Reason"
            },
            {
                text: "Destination location",
                attributes: {"aria-sort": "ascending"}
            }
        ],
        rows: transferEventRows,
        attributes: { "id": "transfer-events-table", "data-qa": "transfer-events-table" }
    }) }}
{% else %}
    <p id="no-transfer-events">
        There are no transfers arranged for {{ dateForTitle }}
    </p>
{% endif %}
