{% extends "../layouts/prisonerLayout.njk" %}
{% from "../macros/prisonerAccordionSection.njk" import accordionSection %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "../macros/prisonerSummarySection.njk" import prisonerSummarySection %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set title = "Work and Skills" %}
{% set containerClasses = "prisoner-profile" %}
{% set errorMessage = "We cannot show these details right now. Try reloading the page." %}

{% set functionalSkillLevels = functionalSkillLevels.content %}

{% set functionalSkillsLevel %}
  <div data-test="functional-skills-level-summary">
    {% include "./partials/learnerLatestAssessments.njk" %}
  </div>
{% endset %}

{% set blank %}
  <div>
    <p class="govuk-body">Sed fringilla augue at eleifend varius. In et faucibus elit. Vestibulum in turpis id eros vestibulum volutpat. 
    Pellentesque dignissim tellus libero, ac vestibulum libero sagittis vitae. In non pellentesque tellus, sit amet malesuada ligula. 
    Fusce nec risus et ante ullamcorper sollicitudin.</p>
  </div>
{% endset %}

{% set leftSections = [
    { heading: 'Lorem ipsum', html: blank }
] %}
{% set rightSections = [
    { heading: 'Functional skills level', html: functionalSkillsLevel }
  ]
%}

{% block prisonerProfileSection %}
  <div class="govuk-accordion govuk-accordion--split" data-module="govuk-accordion" id="prisoner-eswe-accordion">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        {% for section in leftSections %}
          {{ accordionSection(section.heading, section.html, loop.index) }}
        {% endfor %}
      </div>
      <div class="govuk-grid-column-one-half">
        {% for section in rightSections %}
          {{ accordionSection(section.heading, section.html, loop.index) }}
        {% endfor %}
      </div>    </div>
  </div>
{% endblock %} 