{% from "govuk/components/input/macro.njk" import govukInput %}

<div class="pure-u-md-1-6 padding-right margin-bottom">
<label class="form-label" for="date-picker">
    Date
</label>
  <input class="govuk-input date-input" id="datepicker" name="date" type="text">
</div>