{% from "govuk/components/input/macro.njk" import govukInput %}

<div class="date-picker-container">
<label class="govuk-label" for="datepicker">
    Date
</label>
  <input class="govuk-input date-input" id="datepicker" name="date" type="text" value="{{date}}">
</div>