<div class="pure-u-md-1-6">
<label class="form-label" for="period">
    Period - {{ selectedPeriod }}
</label>

<select
    id="period"
    name="period"
    class="form-control"
    value={{ selectedPeriod }}
    onChange={} 
>
    <option key="MORNING" value="AM">
    Morning (AM)
    </option>
    <option key="AFTERNOON" value="PM">
    Afternoon (PM)
    </option>
    <option key="EVENING" value="ED">
    Evening (ED)
    </option>
</select>
</div>