<div class="pure-u-md-1-6">
<label class="form-label" for="period">
    Period
</label>

<select
    id="period"
    name="period"
    class="form-control"
    value={{ period }}
>
    <option key="MORNING" value="AM" {% if period === "AM" %} selected {%endif%}>
    Morning (AM)
    </option>
    <option key="AFTERNOON" value="PM" {% if period === "PM" %} selected {%endif%}>
    Afternoon (PM)
    </option>
    <option key="EVENING" value="ED" {% if period === "ED" %} selected {%endif%}>
    Evening (ED)
    </option>
</select>
</div>