{% extends "../../partials/layout.njk" %}

{% block content %}
  {% include "../partials/prisonerProfileHeader.njk" %}
  {% include "../partials/prisonerProfileTabs.njk" %}

  {% block prisonerProfileSection %}{% endblock %}
{% endblock %}
