<h2 class="govuk-heading-m">Other scheduled events on this date</h2>

<ul class="appointment-clashes govuk-list" data-qa="offender-clashes">
  {% if clashes.length %}
    {% for clash in clashes %}
      <li class="appointment-clashes__event">
        <span class="appointment-clashes__event__time">{{ clash.startTime + ' - ' + clash.endTime if clash.endTime else clash.startTime }}</span>
        <strong>{{clash.eventDescription}}</strong>
      </li>
    {% endfor %}
  {% else %}
    <li>Nothing scheduled on this date</li>
  {% endif %}
</ul>
