{% extends "./partials/layout.njk" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: notmUrl
    },
    {
      text: "Manage prisoner whereabouts",
      href: "/manage-prisoner-whereabouts"
    },
    {
      text: "Attendance reason statistics",
      href: "/manage-prisoner-whereabouts/attendance-reason-statistics"
    },
    {
      text: reason
    }
  ]
})
}}
{% endblock %}
{% block content %}
<table class="govuk-table sortable">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header sortable-column sortableLink" data-sortby="text">
        <span class="th-content">Name <i class="arrow"></i></span>
      </th>
      <th scope="col" class="govuk-table__header">Prison no.</th>
      <th scope="col" class="govuk-table__header">Location </th>
      <th scope="col" class="govuk-table__header">Activity</th>
      <th scope="col" class="govuk-table__header">Outcome</th>
      <th scope="col" class="govuk-table__header">Comments</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for offender in offenders %}
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">{{offender.fullName}}</td>
        <td class="govuk-table__cell">{{offender.offenderNo}}</td>
        <td class="govuk-table__cell">{{offender.cellLocation}}</td>
        <td class="govuk-table__cell">{{offender.comment}}</td>
        <td class="govuk-table__cell">{{offender.eventOutcome}}</td>
        <td class="govuk-table__cell">{{offender.comments}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
{% block bodyEnd %}
<script src="/static/js/sortable-table.js"></script>
{% endblock %}