{% extends "./partials/layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %} 
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}


 {% block beforeContent %}
  {{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: notmUrl
    },
    {
      text: "Manage prisoner whereabouts",
      href: "/manage-prisoner-whereabouts"
    },
    {
      text: "Attendance reason statistics"
    }
  ]
}) 
}}
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l govuk-!-margin-bottom-1">Attendance reason statistics</h1>
<p class="govuk-body-l govuk-!-font-size-24">{{displayDate}} - {{periodString}}</p>
<form action="/manage-prisoner-whereabouts/attendance-reason-statistics">
  <div class="govuk-grid-row">
    <input type="hidden" name="agencyId" value="{{caseLoadId}}" />
    <div class="govuk-grid-column-one-quarter">
      {% include "./components/datePicker.njk" %}
    </div>
    <div class="govuk-grid-column-one-quarter">
      {% include "./components/periodSelect.njk" %}
    </div>
    <div class="govuk-grid-column-one-quarter">
      {{
          govukButton({
            type: submit,
            text: 'Update results',
            classes: 'govuk-button govuk-!-margin-top-6'
          })
        }}
    </div>
  </div>
</form>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{%if not isFuturePeriod %}
<h2 class="govuk-heading-m">Not recorded</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body">Unaccounted for</p>
    <span class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold">{{dashboardStats.unaccountedFor}}</span>
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<h2 class="govuk-heading-m">Paid reasons</h2>
<div class="govuk-grid-row ">
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body">Attended</p>
    <span class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold">{{dashboardStats.attended}}</span>
  </div>
  {% for paidReasons in formattedReasons.paidReasons|sort(attribute="value") %}
    <div class="govuk-grid-column-one-quarter govuk-!-padding-bottom-3">
      <p class="govuk-body">{{paidReasons.name}}</p>
      <span class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold">{{dashboardStats[paidReasons.value]}}</span>
    </div>
  {% endfor %}
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<h2 class="govuk-heading-m">Not paid reasons</h2>

<div class="govuk-grid-row">
  {% for unpaidReasons in formattedReasons.unpaidReasons|sort(attribute="value") %}
      <div class="govuk-grid-column-one-quarter govuk-!-padding-bottom-3">
        <p class="govuk-body">{{unpaidReasons.name}}</p>
        <span class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold">{{dashboardStats[unpaidReasons.value]}}</span>
      </div>
  {% endfor %}
</div>
{%endif%}

{%if isFuturePeriod %}
<div class="govuk-inset-text">
  This {%if period === 'PM' %}afternoon’s{%endif%}{%if period === 'ED' %}evening’s{%endif%} statistics cannot be viewed. Try again later.
</div>
{%endif%}


<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
{% endblock %}