{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% extends "./partials/layout.njk" %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: dashboardUrl,
      classes: "govuk-!-display-none-print"
  }) }}
{% endblock %}
{% block content %}

  <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">Suspended</h1>
  <p class="govuk-body-l govuk-!-font-size-24">{{displayDate}} - {{displayPeriod}}</p>

    <p class="govuk-body-l govuk-!-font-size-27 govuk-!-font-weight-bold govuk-!-margin-bottom-1 pull-right">Number of suspensions: <span class="govuk-!-font-weight-regular">{{totalRecords}}</span></p>
    <p class="govuk-body-l govuk-!-font-size-27 govuk-!-font-weight-bold pull-right">Prisoners listed: <span class="govuk-!-font-weight-regular">{{totalOffenders}}</span></p>

  {{ govukTable({
      head: [
        {
          text: "Name",
          attributes: {
            "aria-sort": "ascending"
          }
        },
        {
          text: "Prison no."
        },
        {
          text: "Location",
          attributes: {
            "aria-sort": "none"
          }
        },
        {
          text: "Activity",
          attributes: {
            "aria-sort": "none"
          }
        },
        {
          text: "Attended",
          attributes: {
            "aria-sort": "none"
          }
        }
      ],
      rows: offendersData,
      attributes: { "data-qa": "court-bookings-table" }
    }) }}
{% endblock %}
{% block bodyEnd %}
{{ super() }}
<script src="/assets/moj/components/sortable-table/sortable-table.js"></script>
<script>
new MOJFrontend.SortableTable({
  table: $('table')[0],
})
</script>
{% endblock %}