{% extends "./partials/layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "components/datePicker/datePicker.njk" import datePicker %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% if shouldClearFormValues  %}
   {%  set period = null %}
   {%  set fromDate = null %}
   {%  set toDate = null %}
{%  endif %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: notmUrl
    },
    {
      text: "Manage prisoner whereabouts",
      href: "/manage-prisoner-whereabouts"
    },
    {
      text: "Attendance reason statistics"
    }
  ]
})
}}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l govuk-!-margin-bottom-1">Attendance reason statistics</h1>
  <p class="govuk-body-l govuk-!-font-size-24">{{displayDate}} - {{displayPeriod}} </p>

  {% if errors.length > 0 %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors,
      attributes: { 'data-qa-errors': true }
    }) }}
  {% endif %}

  <form action="/manage-prisoner-whereabouts/attendance-reason-statistics" class="horizontal-form govuk-!-display-none-print govuk-!-margin-bottom-6">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      <input type="hidden" name="agencyId" value="{{caseLoadId}}"/>

        {{ datePicker({
            id: 'fromDate',
            label: 'Date',
            name: 'fromDate',
            date: fromDate,
            errorMessage: errors | findError('fromDate'),
            attributes: {'data-disable-future-date':'true'},
            errorMessage: errors | findError('fromDate')
        }) }}

        {{ govukSelect({
            name: 'period',
            id: 'period',
            label: {
                text: "Period"
            },
            items: [
              {
                text: 'AM',
                value: 'AM'
              },
              {
                text: 'PM',
                value: 'PM'
              },
              {
                text: 'ED',
                value: 'ED'
              },
              {
                text: 'AM and PM',
                value: 'AM_PM'
              }
            ] | addDefaultSelectedVale('Select', true) | setSelected(period),
            errorMessage: errors | findError(period)
          }) }}


        {{
          govukButton({
            type: submit,
            text: 'Update results',
            classes: 'govuk-button'
          })
        }}
  </form>

    <div class="horizontal-links">
            <a href="{{ statsForCurrentWeek }}" class="govuk-link govuk-!-font-size-19">View current week</a>
            <a href="{{ statsForPreviousWeek  }}" class="govuk-link govuk-!-font-size-19">View last week</a>
            <a href="{{ statsFor2Weeks  }}" class="govuk-link govuk-!-font-size-19">View last 2 weeks</a>
    </div>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <p class="govuk-body">Unaccounted for</p>
        <span class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold" data-qa="unaccountedfor">{{dashboardStats.notRecorded}}</span>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <p class="govuk-body">Suspended</p>
        <span class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold" data-qa="suspended">
            {% if dashboardStats.suspended > 0 %}
              <a href="/manage-prisoner-whereabouts/attendance-reason-statistics/suspended?agencyId={{caseLoadId}}&fromDate={{clickThrough.fromDate}}&toDate={{clickThrough.toDate}}&period={{clickThrough.period}}" class="govuk-link--no-visited-state">
                {{dashboardStats.suspended}}
              </a>
            {% else %}
              {{dashboardStats.suspended}}
            {% endif %}
        </span>
      </div>

        <div class="govuk-grid-column-one-quarter">
            <p class="govuk-body">Reason changes</p>
            <span class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold" data-qa="changes">
            {% if dashboardStats.changes > 0 %}
                <a href="/attendance-changes?agencyId={{caseLoadId}}&fromDateTime={{changeClickThrough.fromDateTime}}&toDateTime={{changeClickThrough.toDateTime}}&subHeading={{changeClickThrough.subHeading}}" class="govuk-link--no-visited-state">
                {{dashboardStats.changes}}
              </a>
            {% else %}
                {{dashboardStats.changes}}
            {% endif %}
        </span>
        </div>

    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <h2 class="govuk-heading-m">Paid reasons</h2>

    <div class="govuk-grid-row ">

    <div class="govuk-grid-column-one-quarter">
      <p class="govuk-body">Attended</p>
      <span class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold" data-qa="attended">{{dashboardStats.attended}}</span>
    </div>

     {% for paidReasons in dashboardStats.paidReasons | sort(attribute = "name") %}
        <div class="govuk-grid-column-one-quarter govuk-!-padding-bottom-3">
          <p class="govuk-body">{{paidReasons.name}}</p>
          <span class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold" data-qa="{{ paidReasons.id }}">
            {% if paidReasons.value > 0 %}
              <a href="/manage-prisoner-whereabouts/attendance-reason-statistics/reason/{{paidReasons.id}}?agencyId={{caseLoadId}}&fromDate={{clickThrough.fromDate}}&toDate={{clickThrough.toDate}}&period={{clickThrough.period}}" class="govuk-link--no-visited-state">
                {{paidReasons.value}}
              </a>
            {% else %}
              {{paidReasons.value}}
            {% endif %}
          </span>
        </div>
      {% endfor %}
    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <h2 class="govuk-heading-m">Not paid reasons</h2>

    <div class="govuk-grid-row">
      {% for unpaidReasons in dashboardStats.unpaidReasons | sort(attribute = "name") %}
        <div class="govuk-grid-column-one-quarter govuk-!-padding-bottom-3">
          <p class="govuk-body">{{unpaidReasons.name}}</p>
          <span class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold" data-qa="{{ unpaidReasons.id}}">
            {% if unpaidReasons.value > 0 %}
              <a href="/manage-prisoner-whereabouts/attendance-reason-statistics/reason/{{unpaidReasons.id}}?agencyId={{caseLoadId}}&fromDate={{clickThrough.fromDate}}&toDate={{clickThrough.toDate}}&period={{clickThrough.period}}" class="govuk-link--no-visited-state">
                {{unpaidReasons.value}}
              </a>
            {% else %}
              {{unpaidReasons.value}}
            {% endif %}
          </span>
        </div>
      {% endfor %}
    </div>

{% endblock %}
