{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% extends "./partials/layout.njk" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: notmUrl
    },
    {
      text: "Manage prisoner whereabouts",
      href: "/manage-prisoner-whereabouts"
    },
    {
      text: "Attendance reason statistics",
      href: dashboardUrl
    },
    {
      text: title
    }
  ]
})
}}
{% endblock %}
{% block content %}

<h1 class="govuk-heading-xl govuk-!-margin-bottom-1">{{title}}</h1>
<p class="govuk-body-l govuk-!-font-size-24">{{displayDate}} - {{displayPeriod}}</p>

{{ govukSelect({
        id: "sortingOptions",
        name: "sortingOptions",
        label: {
            text: "Order the list"
        },
        items: sortOptions,
        errorMessage: errors | findError('sortingOptions')
    }) }}

{{ govukTable({
  firstCellIsHeader: false,
  attributes: { id: "offenderListTable" },
  classes: "sortable",
  head: [
    {
      html: '<span class="th-content">Name <i class="arrow-up"></i></span>',
      classes: "sortableLink"
    },
    {
      html: '<span class="th-content">Prison no. <i class="arrow"></i></span>'
    },
    {
      html: '<span class="th-content">Location <i class="arrow"></i></span>',
      classes: "sortableLink"
    },
    {
      html: '<span class="th-content">Info <i class="arrow"></i></span>'
    },
    {
      html: '<span class="th-content">Activity <i class="arrow"></i></span>',
      classes: "sortableLink"
    },
    {
      html: '<span class="th-content">Comments <i class="arrow"></i></span>'
    }
  ],
  rows: offenders
}) }}
{% endblock %}
{% block bodyEnd %}
<script src="/js/sortable-table.js"></script>
{% endblock %}
