{% extends "./partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set title = 'Appointments created' %}
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "The appointments have been added"
      }) }}

      {% if prisonersRemoved.length > 0 %}
        <p class="govuk-body">Appointments have not been added for:</p>

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Last name</th>
              <th scope="col" class="govuk-table__header">Prison number</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for prisoner in prisonersRemoved %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">{{prisoner.lastName}}</td>
                <td class="govuk-table__cell">{{prisoner.offenderNo}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}

      <p class="govuk-body">
        <a href="/bulk-appointments/appointments-movement-slips" class="govuk-link govuk-link--no-visited-state" target="_blank" rel="noopener noreferrer" data-qa="print-movement-slips">
          Print movement authorisation slips
        </a>
      </p>

      {{ govukButton({ 
          text: "Add more appointments",
          element: 'a',
          href: '/bulk-appointments/add-appointment-details',
          classes: "govuk-!-margin-right-3",
          attributes: {
            'data-qa': 'add-more-appointments'
          }
        })
      }}

      {{ govukButton({
          text: "Exit to Digital Prison Services",
          element: 'a',
          href: dpsUrl,
          classes: "govuk-button--secondary",
          attributes: {
            'data-qa': 'exit-bulk-appointments'
          }
        })
      }}
    </div>
  </div>
{% endblock %}