{% extends "./partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "components/timePicker/timePicker.njk" import timePicker %}

{% set title = 'Confirm appointments' %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "/bulk-appointments/" + previousPage
  }) }}
{% endblock %}

{% block content %}

  {% if errors.length > 0 %}
    {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors,
        attributes: { 'data-qa-errors': true }
    })
  }}
  {% endif %}

  <h1 class="govuk-heading-xl">{{title}}</h1>

  <h2 class="govuk-heading-m">
    Appointment details
  </h2>

  {% include ("components/appointment-details-summary/appointmentDetailsSummary.njk") -%}

  <h2 class="govuk-heading-m">
    Prisoners listed on CSV file
  </h2>

  <p class="govuk-body">
    Appointments will be created for these prisoners.
  </p>
  <form method="POST" id="confirmBulkAppointments">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    <table class="govuk-table table-compact" data-qa="prisoners-found">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Last name</th>
          <th scope="col" class="govuk-table__header">First name</th>
          <th scope="col" class="govuk-table__header">Prison number</th> 
          <th scope="col" class="govuk-table__header">Cell</th> 

          {% if appointmentDetails.sameTimeAppointments === 'no' %}
            <th scope="col" class="govuk-table__header">Start time</th>
            <th scope="col" class="govuk-table__header">End time (optional)</th>
          {% endif %}
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for prisoner in appointmentDetails.prisonersListed %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{prisoner.lastName}}</td>
            <td class="govuk-table__cell">{{prisoner.firstName}}</td>
            <td class="govuk-table__cell">{{prisoner.offenderNo}}</td>
            <td class="govuk-table__cell">{{prisoner.cellNo}}</td>
            {% if appointmentDetails.sameTimeAppointments === 'no' %}
              <td class="govuk-table__cell">
                {{ timePicker({
                  id: prisoner.offenderNo + '-start-time',
                  name: prisoner.offenderNo + 'startTime',
                  hour: prisoner.startTimeHours,
                  minute: prisoner.startTimeMinutes,
                  errorMessage: errors | findError(prisoner.offenderNo + '-start-time-hours'),
                  classes: ['govuk-!-margin-bottom-0']
              })
            }}
              </td>
              <td class="govuk-table__cell">
                {{ timePicker({
                  id: prisoner.offenderNo + '-end-time',
                  name: prisoner.offenderNo + 'endTime',
                  hour: prisoner.endTimeHours,
                  minute: prisoner.endTimeMinutes,
                  errorMessage: errors | findError(prisoner.offenderNo + '-end-time-hours'),
                  classes: ['govuk-!-margin-bottom-0']
              })
            }}
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {{ govukInsetText({
      text: "You cannot delete the CSV file once you have confirmed these details. If you want to delete any appointments, you will need to delete it through the individual prisoner’s activity page."
    }) }}

    {{ govukButton({ 
      text: "Confirm",
      preventDoubleClick: true,
      classes: "govuk-!-margin-right-3",
      type: "submit"
    }) }}

    {{ govukButton({
      text: "Cancel",
      element: 'a',
      href: '/bulk-appointments/upload-file',
      classes: "govuk-button--secondary"
    }) }}
  </form>

{% endblock %}