{% from "govuk/components/select/macro.njk" import govukSelect %}
{% extends "./partials/layout.njk" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: notmUrl
    },
    {
      text: "Switch caseload"
    }
  ]
})
}}
{% endblock %}
{% block content %}
{{ govukSelect({
        id: "caseloadSwitch",
        name: "caseloadSwitch",
        label: {
            text: "Select active case load"
        },
        items: options,
        errorMessage: errors | findError('caseloadSwitch')
    }) }}
{% endblock %}