{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% extends "./partials/layout.njk" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/"
    },
    {
      text: offenderDetails.name,
      href: offenderDetails.profileUrl
    },
    {
      text: "Close alert"
    }
  ]
}) 
}}
{% endblock %}

{% block content %}
  {% if errors.length > 0 %}
    {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors,
        attributes: { 'data-qa-errors': true }
      }) 
    }}
  {% endif %}

  {% if alert and not alert.expired %}
    <form action={{formAction}} method="POST">
      {% call govukFieldset({
                legend: {
                  text: "Are you sure you want to close this alert?",
                  classes: "govuk-fieldset__legend--l",
                  isPageHeading: true
                }
              }) 
      %}

      {{ govukTable({
          head: [
            {
              text: "Type of alert"
            },
            {
              text: "Alert"
            },
            {
              text: "Notes"
            },
            {
              text: "Date added"
            },
            {
              text: "Created by / location"
            }
          ],
          rows: [
            [
              {
                text: alert.alertTypeDescription + ' (' + alert.alertType + ')'
              },
              {
                text: alert.alertCodeDescription + ' ('  + alert.alertCode + ')'
              },
              {
                text: alert.comment
              },
              {
                text: alert.dateCreated
              },
              {
                text: "unknown"
              }
            ]
          ]
        })
      }}
      {% endcall %}

      {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "alertStatus",
          name: "alertStatus",
          hint: {
            text: "Closing this alert will change it to inactive and you cannot re-activate it"
          },
          errorMessage: errors | findError('alertStatus'),
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        })
      }}

      {{ govukButton({ text: "Save and continue" }) }}
    </form>
  {% endif %}
{% endblock %}
