{% extends "./partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukPanel({
                titleHtml: prisonerName | possessive | safe + ' appointment has been added' ,
                classes: "govuk-!-margin-bottom-9"
            }) }}

            <h3 class="govuk-heading-m">Appointment details</h3>

            {{ govukSummaryList({
                classes: "govuk-summary-list--no-border",
                rows: details | toSummaryViewModel
            }) }}

            <p class="govuk-body">
                <a href="/bulk-appointments/appointments-movement-slips" class="govuk-link govuk-link--no-visited-state" target="_blank" rel="noopener noreferrer" data-qa="print-movement-slips">
                    Print movement slip
                </a>
            </p>


            {{ govukButton({
                text: "Add more appointments",
                element: 'a',
                href: addAppointmentsLink,
                classes: "govuk-!-margin-right-3",
                attributes: {
                    'data-qa': 'add-more-appointments'
                }
            })
            }}

            {{ govukButton({
                text: "Back to prisoner profile",
                element: 'a',
                href: prisonerProfileLink,
                classes: "govuk-button--secondary",
                attributes: {
                    'data-qa': 'back-to-profile'
                }
            })
            }}
        </div>
{% endblock %}
