{% extends "./partials/courtServiceLayout.njk" %}

{% set title = "Book a video link with a prison" %}
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-!-margin-bottom-6">
                <h1 class="govuk-heading-l">{{ title }}</h1>
                <p class="govuk-body">If you work in a court, you can book a video link with a prison for a court appearance.</p>
            </div>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-!-margin-bottom-6">
                <h2 class="govuk-heading-m" data-qa="bookings-link">
                    <a href="/videolink/prisoner-search" class="govuk-link">Book a video link for a single person</a>
                </h2>
                <p class="govuk-body">You'll need the name of who you want to book the video link for and the prison they are in. The service will book a video link booking between a court and a prison.</p>
                <p class="govuk-body">If the person is not currently in a prison, you'll need their name, date of birth and the prison they are being sent to. A request will be sent to the prison to complete the booking.</p>
            </div>
        </div>

        <div class="govuk-grid-column-one-third">
            <div class="govuk-!-margin-bottom-6">
                <h2 class="govuk-heading-m" data-qa="appointments-link">
                    <a href="/videolink/bookings" class="govuk-link">View all video link bookings</a>
                </h2>
            </div>
        </div>
    </div>
{% endblock %}