{% extends "./partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "components/scheduledEvents/scheduledEvents.njk" import scheduledEvents %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set title = "Video link booking details" %}
{% set mainClasses = "govuk-main-wrapper--l" %}

{% macro appointment(params) %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            {{ govukSelect({
                name: params.name + "Location",
                id: params.name + "Location",
                label: {
                    text: "Room selection"
                },
                items: locations | addDefaultSelectedVale('Select') | setSelected(params.location),
                errorMessage: errors | findError(params.name + "Location")
            }) }}

            {{ govukSelect({
                name: params.name + "Duration",
                id: params.name + "Duration",
                label: {
                    text: "Duration"
                },
                items: [
                    { text: '20 minutes', value: '20' },
                    { text: '30 minutes', value: '30' },
                    { text: '40 minutes', value: '40' },
                    { text: '50 minutes', value: '50' },
                    { text: '1 hour', value: '60' }
                ] | setSelected(params.duration),
                errorMessage: errors | findError(params.name + "Duration")
            }) }}
        </div>

        <div id="{{ 'location-events-' + params.name }}" class="govuk-grid-column-one-half">
            {% if formValues[params.name + "Location"] %}
                    {{ scheduledEvents(locationEvents[params.name].events, 'location', 'Schedule for ' + locationEvents[params.name].locationName) }}
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% set preAppointmentHtml %}
    {{ appointment({name:"preAppointment",locations: locations, location: formValues.preAppointmentLocation, duration: formValues.preAppointmentDuration}) }}
{% endset -%}

{% set postAppointmentHtml %}
    {{ appointment({name:"postAppointment",locations: locations, location: formValues.postAppointmentLocation, duration: formValues.postAppointmentDuration}) }}
{% endset -%}

{% block content %}
    {% if errors.length > 0 %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errors,
            attributes: { 'data-qa-errors': true }
        }) }}
    {% endif %}

    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-l">{{ title }}</h1>

                {{ govukSummaryList({
                    classes: "govuk-summary-list--no-border",
                    rows: details | toSummaryViewModel
                }) }}

            </div>
        </div>

        <form method="post" about="{{ links.postAppointments }}">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
            <input type="hidden" id="appointment-date" value="{{ date }}"/>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    {{ govukRadios({
                        classes: "govuk-radios--inline",
                        idPrefix: "preAppointment",
                        name: "preAppointment",
                        fieldset: {
                            legend: {
                                text: "Do you want to add a pre-court hearing briefing?",
                                classes: "govuk-fieldset__legend--s"
                            }
                        },
                        items: [{
                            value: "yes",
                            text: "Yes",
                            checked: formValues.preAppointment == 'yes',
                            conditional: {
                                html: preAppointmentHtml
                            }
                        },
                            {
                                value: "no",
                                text: "No",
                                checked: formValues.preAppointment == 'no'
                            }
                        ]
                    }) }}
                </div>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    {{ govukRadios({
                        classes: "govuk-radios--inline",
                        idPrefix: "postAppointment",
                        name: "postAppointment",
                        fieldset: {
                            legend: {
                                text: "Do you want to add a post-court hearing briefing?",
                                classes: "govuk-fieldset__legend--s"
                            }
                        },
                        items: [{
                            value: "yes",
                            text: "Yes",
                            checked: formValues.postAppointment == 'yes',
                            conditional: {
                                html: postAppointmentHtml
                            }
                        },
                            {
                                value: "no",
                                text: "No",
                                checked: formValues.postAppointment == 'no'
                            }
                        ]
                    }) }}
                </div>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    {{ govukSelect({
                        name: "court",
                        id: "court",
                        label: {
                            text: "Which court is the booking for?"
                        },
                        items: courts | addDefaultSelectedVale('Select') | setSelected(formValues.court),
                        errorMessage: errors | findError("court")
                    }) }}
                </div>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    {{ govukButton({
                        text: "Save and continue",
                        type: 'submit',
                        classes: "govuk-!-margin-right-3"
                    }) }}

                    {{ govukButton({
                        text: "Cancel",
                        element: 'a',
                        href: links.cancel,
                        classes: "govuk-button--secondary",
                        attributes: {
                            'data-qa': 'back-to-profile'
                        }
                    }) }}
                </div>
            </div>
        </form>
    </div>
    </div>
    </div>
{% endblock %}
{% block pageScripts %}
    <script src="/js/prepostAppointment.js"></script>
{% endblock %}
