{% extends "./partials/layout.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set title = 'Prevent removal of this record' %}
{% set subtitle = 'Reason for preventing removal' %}
{% set instructions = 'Select all that may apply. Remove all to stop retaining the record.' %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: offenderUrl
  }) }}
{% endblock %}

{% block content %}

  {% if errors.length > 0 %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors,
      attributes: { 'data-qa-errors': true }
    }) }}
  {% endif %}

  <div class="govuk-body">
    <hr class="govuk-section-break govuk-section-break--visible">
    <div class="govuk-!-padding-top-2 govuk-!-padding-bottom-2">

      <div class="offender-basic-details">

        <div class="govuk-!-margin-right-6">
          <img
                  src="/app/images/{{ offenderBasics.offenderNo }}/data"
                  alt="Headshot of {{ offenderBasics.firstName }} {{ offenderBasics.lastName }}"
                  style="float:left"
                  height="110"
                  width="90"
                  data-qa="offender-image"
          />
        </div>

        <div class="govuk-!-margin-right-3">
            <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-0">Name</p>
            <span data-qa="offender-name">{{ offenderBasics.lastName }}, {{ offenderBasics.firstName }}</span>
        </div>
        <div class="govuk-!-margin-right-3">
            <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-0">Prison No.</p>
            <span data-qa="offender-no">{{ offenderBasics.offenderNo }}</span>
        </div>
        <div class="govuk-!-margin-right-3">
            <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-0">Date of Birth</p>
            <span data-qa="dob">{{ offenderBasics.dateOfBirth }}</span>
        </div>
        <div class="govuk-!-margin-right-3">
            <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-0">Location</p>
            <span data-qa="agency">{{ agency }}</span>
        </div>
      </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--visible">
  </div>

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">{{ title }}</h1>

      {% set reasonOptions = [] %}

      {% for i in range(0, retentionReasons | length) %}

        {% set reason = retentionReasons[i] %}
        {% set error =  errors | findError("more-detail-" + reason.reasonCode) %}

        {% set moreDetail %}
        {{ govukTextarea({
          id: "more-detail-" + reason.reasonCode,
          name: "reasons[" + i + "][reasonDetails]",
          classes: "govuk-!-width-one-third",
          label: {
            text: "Please give details"
          },
          value: reason.details,
          errorMessage: error
        }) }}
        {% endset -%}

        {% set reasonOptions = (reasonOptions.push(
          { 
            id: "retention-reason-" + reason.reasonCode,
            name: "reasons[" + i + "][reasonCode]",
            value: reason.reasonCode, 
            text: reason.displayName, 
            checked: reason.alreadySelected,
            conditional: { 
              html: moreDetail
            } if reason.allowReasonDetails
          }), reasonOptions) %}

      {% endfor %}

      <form action={{ formAction }} method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        {% if lastUpdate %}
          <input type="hidden" name="version" value="{{ lastUpdate.version }}"/>
        {% endif %}

        {{ govukCheckboxes({
          fieldset: {
            legend: {
              text: subtitle,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: instructions 
          },
          items: reasonOptions 
        }) }}

        {{ govukButton({
          text: "Update",
          type: "submit",
          classes: "govuk-!-margin-right-1",
          preventDoubleClick: true
        }) }}
      
        {{ govukButton({
          text: "Cancel",
          classes: "govuk-button--secondary",
          preventDoubleClick: true,
          href: offenderUrl
        }) }}
      </form>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">Last update</h2>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <h3 class="govuk-heading-s">Date of update</h3>
              <p id="last-update-timestamp">
              {% if lastUpdate.timestamp %}
              {{ lastUpdate.timestamp }} (UTC)
              {% endif %}
              </p>
            </div>
            <div class="govuk-grid-column-one-half">
              <h4 class="govuk-heading-s">User ID</h4>
              <p id="last-update-user">{{ lastUpdate.user }}</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
