{% extends "./partials/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "components/datePicker/datePicker.njk" import datePicker %}

{% set title = "View by residential location "%}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "/manage-prisoner-whereabouts"
  }) }}
{% endblock %}

{% block content %}
  {% if errors.length > 0 %}
    {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors,
        attributes: { 'data-test': 'form-errors' }
    }) }}
  {% endif %}

  <h1 class="govuk-heading-l">{{ title }}</h1>

  <form method="POST">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            {{ datePicker({
              id: 'date',
              label: 'Date',
              name: 'date',
              date: date,
              classes: 'js-appointment-date',
              containerClasses: 'govuk-!-width-full govuk-!-margin-bottom-4',
              attributes: { 'data-test': 'date-select' }
            }) }}
          </div>

          <div class="govuk-grid-column-one-half">
            {{ govukSelect({
            name: 'period',
            id: 'period',
            label: {
                text: "Period"
            },
            items: [
              {
                text: 'Morning (AM)',
                value: 'AM'
              },
              {
                text: 'Afternoon (PM)',
                value: 'PM'
              },
              {
                text: 'Evening (ED)',
                value: 'ED'
              }
            ] | setSelected(period),
            classes: "govuk-!-width-full",
            attributes: { 'data-test': 'period-select' }
          }) }}
          </div>
        </div>

        {{ govukSelect({
          name: 'currentLocation',
          id: 'currentLocation',
          label: {
              text: "Select a location"
          },
          errorMessage: errors | findError('currentLocation'),
          items: residentialLocations | addDefaultSelectedVale('--Select--', true),
          classes: "govuk-!-width-full",
          attributes: { 'data-test': 'location-select' }
        }) }}

        {{ govukButton({
          text: "Continue",
          type: "submit"
        }) }}
      </div>
    </div>
  </form>
{% endblock %}
