{% extends "./partials/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "components/datePicker/datePicker.njk" import datePicker %}

{% set title = "View by residential location "%}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: "/manage-prisoner-whereabouts"
    }) }}
{% endblock %}

{% block content %}
  {% if errors.length > 0 %}
    {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors,
        attributes: { 'data-test-errors': true }
    }) }}
  {% endif %}

  <h1 class="govuk-heading-l">{{ title }}</h1>

  <form method="POST">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

    {{ datePicker({
      id: 'date',
      label: 'Date',
      name: 'date',
      date: date,
      classes: 'js-appointment-date'
    }) }}

    {{ govukSelect({
      name: 'period',
      id: 'period',
      label: {
          text: "Period"
      },
      items: [
        {
          text: 'Morning (AM)',
          value: 'AM'
        },
        {
          text: 'Afternoon (PM)',
          value: 'PM'
        },
        {
          text: 'Evening (ED)',
          value: 'ED'
        }
      ] | addDefaultSelectedVale('Select', true) | setSelected(period)
    }) }}

    {{ govukSelect({
      name: 'currentLocation',
      id: 'currentLocation',
      label: {
          text: "Select a location"
      },
      errorMessage: errors | findError('currentLocation'),
      items: residentialLocations | addDefaultSelectedVale('Select', true)
    }) }}

    {{ govukButton({
      text: "Continue",
      type: "submit"
    }) }}
  </form>
{% endblock %}
