{% extends "./partials/layout.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set title = 'Upload a CSV File' %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/bulk-appointments/add-appointment-details"
  }) }}
{% endblock %}

{% block content %}
  {% if errors and errors.length > 0 %}
    {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors,
        attributes: { 'data-qa-errors': true }
      }) 
    }}
  {% endif %}

  <div class="govuk-width-container">
      <h1 class="govuk-heading-xl">{{title}}</h1>
      <p class="govuk-body">
        Upload a CSV file with the prisoner numbers of all prisoners attending this appointment: 
      </p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      {% include ("components/appointment-details-summary/appointmentDetailsSummary.njk") -%}

      {{ govukInsetText({
        text: "You can only include each prison number once on a CSV file. If you need to add appointments for different times for the same prisoner, you must do this using different CSV files."
      }) }}
      
      <form action="/bulk-appointments/upload-file" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        {{ govukFileUpload({
          id: "file",
          name: "file",
          type: "file",
          errorMessage: errors | findError('file'),
          attributes: { 'accept':'.csv' }
        }) }}

        {% for key, detail in data %}
          <input type="hidden" value="{{detail}}" name="{{key}}" />
        {% endfor %}

      <p class="govuk-body">
        <a href="/bulk-appointments/csv-template" class="govuk-!-font-size-19 govuk-link govuk-link--no-visited-state">Download a CSV file template</a>
      </p>

      {{ govukButton({
          text: "Continue",
          classes: "govuk-!-margin-right-2",
          preventDoubleClick: true,
          type: "submit"
        }) }}

        {{ govukButton({
          text: "Cancel",
          classes: "govuk-button--secondary",
          element: 'a',
          href: '/bulk-appointments/add-appointment-details'
        }) }}
      </form>
  </div>
{% endblock %}
