{% extends "./partials/courtServiceLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukPanel({
                titleText: title,
                classes: "govuk-!-margin-bottom-9"
            }) }}

            <h3 class="govuk-heading-m">Video link details</h3>
        </div>
    </div>
    
    {{ govukSummaryList({
        classes: "govuk-summary-list--no-border govuk-body govuk-!-margin-bottom-2",
        rows: offender | toSummaryViewModel | removePaddingBottom
    }) }}

    {{ govukSummaryList({
        classes: "govuk-summary-list--no-border govuk-body govuk-!-margin-bottom-2",
        rows: details | toSummaryViewModel | removePaddingBottom
    }) }}
   
    {{ govukSummaryList({
        classes: "govuk-summary-list--no-border govuk-body govuk-!-margin-bottom-2",
        rows: prepostData | toSummaryViewModel | removePaddingBottom
    }) }}

    {{ govukSummaryList({
        classes: "govuk-summary-list--no-border",
        rows: court | toSummaryViewModel | removePaddingBottom
    }) }}

    <p class="govuk-body">
        <a href={{ videolinkPrisonerSearchLink }} class="govuk-link" data-qa="back-to-prisoner-search">Book another video link</a>
    </p>

    {{ govukButton({
        text: "Exit",
        element: 'a',
        href: '/videolink',
        classes: "govuk-button--primary",
        attributes: {
            'data-qa': 'back-to-video-link'
        }
    }) }}
{% endblock %}
