{% extends "./partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukPanel({
                titleText: title,
                classes: "govuk-!-margin-bottom-9"
            }) }}

                <p class="govuk-body">We have sent you an email with the video link details. An email has also been sent to the prison.</p>

            <h3 class="govuk-heading-m">Video link details</h3>
        </div>
    </div>
    
    {{ govukSummaryList({
        classes: "govuk-summary-list--no-border govuk-body govuk-!-margin-bottom-2",
        rows: offender | toSummaryViewModel | removePaddingBottom
    }) }}

    {{ govukSummaryList({
        classes: "govuk-summary-list--no-border govuk-body govuk-!-margin-bottom-2",
        rows: details | toSummaryViewModel | removePaddingBottom
    }) }}
   
    {{ govukSummaryList({
        classes: "govuk-summary-list--no-border govuk-body govuk-!-margin-bottom-2",
        rows: prepostData | toSummaryViewModel | removePaddingBottom
    }) }}

    {{ govukSummaryList({
        classes: "govuk-summary-list--no-border",
        rows: court | toSummaryViewModel | removePaddingBottom
    }) }}

    <p class="govuk-body">
        <a href="/bulk-appointments/appointments-movement-slips" class="govuk-link govuk-link--no-visited-state" target="_blank" rel="noopener noreferrer" data-qa="print-movement-slips">
            Print movement slip
        </a>
    </p>
        
    {{ govukButton({
        text: "Back to prisoner profile",
        element: 'a',
        href: prisonerProfileLink,
        classes: "govuk-button--secondary",
        attributes: {
            'data-qa': 'back-to-profile'
        }
    }) }}
{% endblock %}
