{% extends "partials/courtServiceLayout.njk" %}
{% from "components/datePicker/datePicker.njk" import datePicker %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "/",
      classes: "govuk-!-display-none-print"
  }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">{{title}}</h1>

  <form class="horizontal-form govuk-!-display-none-print">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    {{ datePicker({
      id: 'date',
      label: 'Date',
      name: 'date',
      date: date,
      errorMessage: errors | findError('date')
    }) }}

    {{ govukSelect({
      name: 'courtOption',
      id: 'courtOption',
      label: {
          text: "Court"
      },
      items: courts | addDefaultSelectedVale('All', true) | setSelected(courtOption),
      errorMessage: errors | findError(courtOption)
    }) }}

    {{ govukButton({
      text: "Update results",
      preventDoubleClick: true,
      type: "submit"
    }) }}
  </form>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  {% if appointmentRows.length %}
    <p class="govuk-body-l"><strong>Total:</strong> {{ appointmentRows.length }}</p>

    {{ govukTable({
      head: [
        {
          text: "Time",
          attributes: {
            "aria-sort": "ascending"
          }
        },
        {
          text: "Name"
        },
        {
          text: "Prison location"
        },
        {
          text: "Court"
        }
      ],
      rows: appointmentRows,
      attributes: { "data-qa": "court-bookings-table" }
    }) }}
  {% else %}
    <p class="govuk-body" data-qa="no-results-message">There are no videolink bookings for this date.</p>
  {% endif %}

{% endblock %}

{% block bodyEnd %}
{{ super() }}
<script src="/assets/moj/components/sortable-table/sortable-table.js"></script>
<script>
new MOJFrontend.SortableTable({
  table: $('table')[0],
})
</script>
{% endblock %}
