{% extends "./partials/layout.njk" %}
{% from "./macros/printLink.njk" import printLink %}
{% from "components/datePicker/datePicker.njk" import datePicker %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set title = "Appointments for " + formattedDate + " - " + timeSlot %}
{% set htmlClasses = "printed-page" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Digital Prison Services",
        href: "/"
      },
      {
        text: "Manage prisoner whereabouts",
        href: "/manage-prisoner-whereabouts"
      }
    ],
    classes: "govuk-!-display-none-print"
  }) }}
{% endblock %}

{% block content %}
  {% if errors.length > 0 %}
    {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors,
        attributes: { 'data-qa-errors': true }
    })
  }}
  {% endif %}
  <h1 class="govuk-heading-l">{{title}}</h1>
  {{ printLink(align = "right") }}

  <div class="govuk-!-padding-3 govuk-!-margin-bottom-5 form-background">
    <h2 class="govuk-heading-m">View by</h2>

    <form class="horizontal-form govuk-!-display-none-print">
      {{ datePicker({
        id: 'date',
        label: 'Date',
        name: 'date',
        date: date,
        errorMessage: errors | findError('date')
      }) }}

      {{ govukSelect({
        name: 'timeSlot',
        id: 'timeSlot',
        label: {
            text: "Period"
        },
        items: [
            { text: 'All', value: 'All' },
            { text: 'AM', value: 'AM' },
            { text: 'PM', value: 'PM' },
            { text: 'ED', value: 'ED' }
        ] | setSelected(timeSlot),
        errorMessage: errors | findError(timeSlot)
      }) }}

       {{ govukSelect({
        name: 'residentialLocation',
        id: 'residentialLocation',
        label: {
            text: "Residential location"
        },
        items: residentialLocationOptions | addDefaultSelectedVale('All', true) | setSelected(residentialLocation),
        errorMessage: errors | findError(residentialLocation)
      }) }}

      {{ govukSelect({
        name: 'type',
        id: 'type',
        label: {
            text: "Appointment type"
        },
        formGroup: {
            classes: 'govuk-!-width-one-quarter'
        },
        items: types | addDefaultSelectedVale('All', true) | setSelected(type),
        errorMessage: errors | findError(type)
      }) }}

      {{ govukSelect({
        name: 'locationId',
        id: 'locationId',
        label: {
            text: "Appointment location"
        },
        formGroup: {
            classes: 'govuk-!-width-one-quarter'
        },
        items: locations | addDefaultSelectedVale('All', true) | setSelected(locationId),
        errorMessage: errors | findError(locationId)
      }) }}

      {{ govukButton({
        text: "View",
        preventDoubleClick: true,
        classes: 'govuk-!-margin-top-3',
        type: "submit"
      }) }}
    </form>
  </div>

  {% if appointmentRows.length %}
    <p class="govuk-body pull-right"><strong>Appointments listed:</strong> {{ appointmentRows.length }}</p>

    {{ govukTable({
      head: [
        {
          text: "Time",
          attributes: {
            "aria-sort": "ascending"
          }
        },
        {
          text: "Name and prison number",
          attributes: {
            "aria-sort": "none"
          }
        },
        {
          text: "Cell location",
          attributes: {
            "aria-sort": "none"
          }
        },
        {
          text: "Appointment type",
          attributes: {
            "aria-sort": "none"
          }
        },
        {
          text: "Appointment location",
          attributes: {
            "aria-sort": "none"
          }
        },
         {
          text: "Added by",
          attributes: {
            "aria-sort": "none"
          }
        }
      ],
      rows: appointmentRows,
      attributes: { "data-qa": "appointments-table" }
    }) }}
  {% else %}
    <p class="govuk-body" data-qa="no-results-message">There are no appointments for what you have selected.</p>
  {% endif %}

  {{ printLink() }}
{% endblock %}

{% block bodyEnd %}
{{ super() }}
<script src="/assets/moj/components/sortable-table/sortable-table.js"></script>
<script>
new MOJFrontend.SortableTable({
  table: $('table')[0],
})
</script>
{% endblock %}
