{% extends "./partials/layout.njk" %}

{%import 'utils.njk' as helpers %}

{% from "govuk/components/button/macro.njk" import govukButton %} 

 {% block beforeContent %}
  {{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/"
    },
    {
      text: "Search prisoner whereabouts",
      href: "/search-prisoner-whereabouts"
    },
    {
      text: "Statistics: attendance reasons"
    }
  ]
}) 
}}
{% endblock %}

{% block content %}

{% set urlParams = '/whereabouts?agencyId=' + caseLoadId + '&period=AM&date=2019-08-23'%}

<h1 class="govuk-heading-l mainHeading">Statistics: attendance reasons</h1>
<form action="/whereabouts">
<div class="govuk-grid-row">
  <input type="hidden" name="agencyId" value="{{caseLoadId}}" />
  <div class="govuk-grid-column-one-quarter">
    {% include "./components/datePicker.njk" %}
  </div>
  <div class="govuk-grid-column-one-quarter">
    {% include "./components/periodSelect.njk" %}
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    {{
        govukButton({
          type: submit,
          text: 'Update',
          classes: 'govuk-button govuk-!-margin-bottom-0'
        })
      }}
  </div>
</div>
</form>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<h2 class="govuk-heading-m">Paid reasons</h2>
<div class="govuk-grid-row ">
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body">Attended</p>
    <span class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold">{{dashboardStats.attended}}</span>
  </div>
  {% for reason in absenceReasons.paidReasons %}
    <div class="govuk-grid-column-one-quarter govuk-!-padding-bottom-3">
      <p class="govuk-body">{{helpers.pascalToString(reason)}}</p>
      <span class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold">{{dashboardStats[reason.toLowerCase()]}}</span>
    </div>
   {% endfor %}
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<h2 class="govuk-heading-m">Not paid reasons</h2>

<div class="govuk-grid-row">
  {% for reason in absenceReasons.unpaidReasons %}
    <div class="govuk-grid-column-one-quarter govuk-!-padding-bottom-3">
      <p class="govuk-body">{{helpers.pascalToString(reason)}}</p>
      <span class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold">{{dashboardStats[reason.toLowerCase()]}}</span>
    </div>
  {% endfor %}
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<h2 class="govuk-heading-m">Not recorded</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body">Missing</p>
    <span class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold">{{dashboardStats.missing}}</span>
  </div>
</div>


{% endblock %}