{% extends "../../partials/layout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set title = "Professional contacts" %}
{% set containerClasses = "prisoner-profile" %}
{% set missingEntry = "Not entered" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: dpsUrl
      },
      {
        text: breadcrumbPrisonerName,
        href: "/prisoner/" + offenderNo
      },
      {
        text: title
      }
    ],
    classes: "govuk-!-display-none-print"
  }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">{{ prisonerName | possessive | safe }} professional contacts</h1>
  {% for group in contactsGroupedByRelationship %}
    <h2 class="govuk-heading-m" data-test="professional-contacts-relationship">{{ group.relationship }}</h2>

    {% if group.contacts.length %}
      {% for contacts in group.contacts | batch(2) %}
        <div class="govuk-grid-row">
          {% for contact in contacts %}
            {% set activeContactsPersonalRows = [] %}

            {% for contactDetail in contact.details %}

              {% if contactDetail.html %}
                {% set value = {html: contactDetail.html | showDefault(missingEntry)} %}
              {% else %}
                {% set value = {text: contactDetail.value | showDefault(missingEntry)} %}
              {% endif %}

              {% set activeContactsPersonalRows = (activeContactsPersonalRows.push(
                {
                  key: {
                    text: contactDetail.label,
                    classes: 'govuk-summary-list__key--indent'
                  },
                  value: value
                }
              ), activeContactsPersonalRows) %}
            {% endfor %}

            <div class="govuk-grid-column-one-half" data-test="professional-contacts-contact">
              <h3 class="govuk-summary-list-title govuk-heading-s govuk-!-padding-bottom-1">{{ contact.name }}</h3>
              {% if contact.jobTitle %}
                <p class="govuk-body govuk-!-margin-bottom-1">{{ contact.jobTitle }}</p>
              {% endif %}

              {% if contact.noFixedAddress %}
                <p class="govuk-body">No fixed abode</p>
              {% endif %}
            
              {{ govukSummaryList({
                rows: activeContactsPersonalRows
              }) }}
            </div>
          {% endfor %}
        </div>
      {% endfor%}
    {% else %}
      <p class="govuk-body">None</p>
    {% endif %}
  {% endfor %}

  <a href="{{ '/prisoner/' + offenderNo + '/personal#professional-contacts' }}" class="govuk-link govuk-!-font-size-19">Return to prisoner profile</a>
{% endblock %}