%status-style {
  @media screen {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 3px solid;
    padding: 5px 10px;
    margin-left: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
    line-height: 1;
    user-select: none;
    border-radius: 5px;
  }

  @media print {
    margin-bottom: 0px !important;
    font-size: 12px;
    color: black !important;
    border: none !important;
    background: none !important;
    min-width: auto;
  }
}

.alerts-list {
  @extend %govuk-list;
  margin-bottom: 0;

  @media screen {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    margin-bottom: 10px;
  }
}

.alerts-list-no-flex {
  @extend %govuk-list;
  margin-bottom: 0;
}

.alert-status {
  @extend %status-style;

  @media screen {
    min-height: 30px;
  }

  img {
    height: 14px;
    margin-right: 3px;

    @media print {
      display: none;
    }
  }

  &--acct {
    border-color: #d34700;
  }

  &--assault {
    border-color: #4c2c92;
  }

  &--disability {
    border-color: #2b88c8;
  }

  &--arsonist {
    border-color: #df3034;
  }

  &--elist {
    border-color: #28a197;
  }

  &--risk-females {
    border-color: #6f71af;
  }

  &--tact {
    border-color: #d53880;
  }

  &--corruptor {
    border-color: #b10e1e;
  }

  &--chemical-attacker {
    border-color: #69831e;
  }

  &--concerted-indiscipline {
    border-color: #444;
  }

  &--racist {
    border-color: #8f5f11;
  }

  &--risk-lgbt {
    border-color: #912b88;
  }

  &--hostage-taker {
    border-color: #c6545f;
  }

  &--controlled-unlock {
    border-color: #2e358b;
  }

  &--gang-member {
    border-color: #005f9e;
  }

  &--csip {
    border-color: #4c2c92;
  }

  &--veteran {
    border-color: #006435;
  }

  &--care-experienced {
    border-color: #3f90ae;
  }

  &--acct-post-closure {
    border: 3px dashed #f47738;
  }

  &--conflict {
    border-color: #800000;
  }

  &--no-one-to-one {
    border-color: #903;
  }

  &--quarantined {
    border-color: #330;
  }

  &--reverse-cohorting-unit {
    border-color: mix(white, #00703c, 20%);
  }

  &--protective-isolation-unit {
    border-color: #006637;
  }

  &--shielding-unit {
    border-color: #004424;
  }

  &--refusing-to-shield {
    border-color: #b58840;
  }

  &--risk-to-known-adults {
    border-color: #003078;
  }

  &--isolated-prisoner {
    border-color: #00753F;
  }

  &--visor {
    border-color: #003078;
  }
}

.alert-status--multicase {
  @media screen {
    text-transform: none;
    min-height: 30px;
  }
}

.cat-a-status {
  @extend %status-style;

  &--a,
  &--e {
    color: #00437b;
    border-color: #00437b;
  }

  &--h {
    background-color: #00437b;
    color: white;
    border-color: #00437b;
  }

  &--p {
    border: 3px dashed;
    color: #00437b;
    border-color: #00437b;
  }
}

.non-association {
  @extend %status-style;

  background: lighten(#D4351C,40);
  border-color: lighten(#D4351C,40);
  font-weight: bold;
  color: #D4351C;
}
