{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<div class="horizontal-information govuk-!-margin-bottom-6" data-test="cell-move-header-information">
  <div class="horizontal-information__item">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Name</h3>
    <p class="govuk-body govuk-!-margin-bottom-1" data-test="name">{{ breadcrumbPrisonerName }}</p>
    <p class="govuk-body">
      <a href="{{ offenderDetailsUrl }}" class="govuk-link" data-test="name-link">View details
        <span class="govuk-visually-hidden">for {{ breadcrumbPrisonerName }}</span>
      </a>
    </p>
  </div>
  <div class="horizontal-information__item">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Current location</h3>
    <p class="govuk-body" data-test="living-unit">{{ prisonerDetails.assignedLivingUnit.description }}</p>
  </div>
  <div class="horizontal-information__item">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">CSRA rating</h3>
    <p class="govuk-body govuk-!-margin-bottom-1" data-test="csra">{{ prisonerDetails.csra }}</p>
    <p class="govuk-body">
      <a href="{{ csraDetailsUrl }}" class="govuk-link" data-test="csra-link">View details
        <span class="govuk-visually-hidden">for{{ breadcrumbPrisonerName }}</span>
      </a>
    </p>
  </div>
  <div class="horizontal-information__item horizontal-information__item--tenth">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Relevant alerts</h3>
    {% if alerts.length %}
      <div class="govuk-!-margin-bottom-3" data-test="alerts">
        {{ alertFlags(alerts) }}
      </div>
    {% else %}
      <p class="govuk-body" data-test="alerts">None</p>
    {% endif %}
  </div>
  <div class="horizontal-information__item">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Non-associations</h3>
    {% if showNonAssociationsLink %}
      <p class="govuk-body govuk-!-margin-bottom-1" data-test="number-of-non-associations">{{ numberOfNonAssociations }}</p>
      <a href="{{ nonAssociationLink }}" class="govuk-link govuk-body" data-test="non-associations-link">View non-associations
        <span class="govuk-visually-hidden">for {{ breadcrumbPrisonerName }}</span>  
      </a>
    {% else %}
      <p class="govuk-body" data-test="non-associations-message">0 in NOMIS. Check local processes.</p>
    {% endif %}
  </div>
</div>

{{ govukInsetText({
  html: '<p class="govuk-body"><a data-test="select-cswap-link" href="' + '/prisoner/' + offenderNo + '/cell-move/confirm-cell-move?cellId=C-SWAP"' + '  class="govuk-link">Create a space for another prisoner</a> -  this will leave ' + prisonerName + ' without a cell. <br>You must move them into a cell as soon as possible today.',
  classes: 'govuk-!-width-two-thirds',
  attributes: {
    'data-test': 'select-cswap-text'
  }
}) }}

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">