<div class="horizontal-information horizontal-information--with-border" data-test="cell-move-header-information">
  <div class="horizontal-information__item">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Name</h3>
    <p class="govuk-body govuk-!-margin-bottom-1" data-test="name">{{ breadcrumbPrisonerName }}</p>
    <p class="govuk-body">
      <a href="{{ offenderDetailsUrl }}" class="govuk-link" data-test="name-link">View details
        <span class="govuk-visually-hidden">for {{ breadcrumbPrisonerName }}</span>
      </a>
    </p>
  </div>
  <div class="horizontal-information__item">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Current location</h3>
    <p class="govuk-body" data-test="living-unit">{{ prisonerDetails.assignedLivingUnit.description }}</p>
  </div>
  <div class="horizontal-information__item">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">CSRA rating</h3>
    <p class="govuk-body govuk-!-margin-bottom-1" data-test="csra">{{ prisonerDetails.csra }}</p>
    {% if showCsraLink %}
      <p class="govuk-body">
        <a href="{{ csraDetailsUrl }}" class="govuk-link" data-test="csra-link">View details
          <span class="govuk-visually-hidden">for{{ breadcrumbPrisonerName }}</span>
        </a>
      </p>
    {% endif %}
  </div>
  <div class="horizontal-information__item horizontal-information__item--tenth">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Relevant alerts</h3>
    {% if alerts.length %}
      <div class="govuk-!-margin-bottom-3" data-test="alerts">
        {{ alertFlags(alerts) }}
      </div>
    {% else %}
      <p class="govuk-body" data-test="alerts">None</p>
    {% endif %}
  </div>
  <div class="horizontal-information__item">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Non-associations</h3>
    {% if showNonAssociationsLink %}
      <a href="{{ nonAssociationLink }}" class="govuk-link govuk-body" data-test="non-associations-link">View non-associations
        <span class="govuk-visually-hidden">for {{ breadcrumbPrisonerName }}</span>  
      </a>
    {% else %}
      <p class="govuk-body" data-test="non-associations-message">You must also check any local processes</p>
    {% endif %}
  </div>
</div>