{% from "govuk/components/select/macro.njk" import govukSelect %}

{{ govukSelect({
    name: 'subLocation',
    id: 'subLocation',
    label: {
        text: 'Select area in residential unit',
        classes: 'govuk-visually-hidden'
    },
    items: subLocations 
}) }}