{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "../partials/layout.njk" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: '/'
      },
      {
        text: offenderDetails.name,
        href: offenderDetails.profileUrl
      },
      {
        text: "Add a case note"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  {% if errors.length > 0 %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors,
      attributes: { 'data-qa-errors': true }
    }) }}
  {% endif %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Is this information appropriate to share as an OMiC open case note?
      </h1>

      <form method="POST" novalidate="novalidate">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        {{ govukRadios({
          idPrefix: "confirmed",
          name: "confirmed",
          fieldset: {
            legend: {
              text: "Only save this case note if it needs to be shared across the prison.  If you need to record any sensitive information, go back and choose a different type of case note."
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({ text: "Confirm", type: "submit" }) }}
      </form>
    </div>
  </div>
{% endblock %}
