<div class="feedback-banner" data-test="feedback-banner">
  <a href="https://eu.surveymonkey.com/r/GYB8Y9Q?source={{ hostname + currentUrlPath }}" class="govuk-link govuk-link--inverse" target="_blank" rel="noopener noreferrer">
    Give feedback on Digital Prison Services (opens in a new tab)
  </a>
</div>