<div style="background: {{ feedbackBannerBackground or '#fff' }}">
  <div class="govuk-width-container">
    <div class="feedback-banner">
      <a href="https://eu.surveymonkey.com/r/GYB8Y9Q?source={{ currentUrlPath }}" class="feedback-banner__button" target="_blank" rel="noopener noreferrer">
        Give feedback on this service
      </a>
    </div>
  </div>
</div>
