{% set tabs = [
    { text: 'Private cash', path: '/private-cash', visible: true, testId: 'private-cash', ariaLabel: 'View private cash account' },
    { text: 'Spends', path: '/spends', visible: true, testId: 'spends', ariaLabel: 'View spends account' },
    { text: 'Savings', path: '/savings', visible: true, testId: 'savings', ariaLabel: 'View savings account' },
    { text: 'Damage obligations', path: '/damage-obligations', visible: showDamageObligationsLink, testId: 'damage-obligations', ariaLabel: 'View damage obligations account' }
  ]
%}

<div class="govuk-tabs govuk-!-display-none-print">
  <h2 class="govuk-tabs__title">
    Prisoner finance sections
  </h2>
  <ul class="govuk-tabs__list">
    {% for tab in tabs %}
      {% if tab.visible %}
        {% set fullTabPath = '/prisoner/' + prisoner.offenderNo + '/prisoner-finance-details' + tab.path %}
        {% set isSelected = ' govuk-tabs__list-item--selected' if currentUrlPath.split('?')[0].replace(r/\/$/, '') === fullTabPath %}
        <li class="{{'govuk-tabs__list-item' + isSelected }}">
          <a class="govuk-tabs__tab" href="{{ fullTabPath }}" data-test="{{'tabs-' + tab.testId }}" aria-label="{{ tab.ariaLabel }}">
          {{ tab.text }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
