{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "components/datePicker/datePicker.njk" import datePicker %}

{% extends "../partials/layout.njk" %}

{% set title = "Create an alert for " + offenderDetails.name %}
{% block beforeContent %}
  {{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: notmUrl
    },
    {
      text: offenderDetails.name,
      href: offenderDetails.profileUrl
    },
    {
      text: "Create an alert"
    }
  ]
})
}}
{% endblock %}

{% block content %}
      <h1 class="govuk-heading-l">
        {{title}}
        <span class="govuk-caption-l">Prison number: {{offenderNo}}</span>
      </h1>

      {% if errors.length > 0 %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errors,
            attributes: { 'data-qa-errors': true }
        }) }}
      {% endif %}

  <input type="hidden" name="subTypeUrl" value="{{ alertsRootUrl }}"/>

  <form method="POST" novalidate="novalidate">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      <input type="hidden" name="bookingId" value={{bookingId}} />
      <input type="hidden" name="existingAlerts" value="{{ prisonersActiveAlertCodes }}"/>
      {{ govukSelect({
            id: "alert-type",
            name: "alertType",
            label: {
                text: "Type of alert"
            },
            items: alertTypes | addDefaultSelectedVale('Select') | setSelected(formValues.alertType),
            errorMessage: errors | findError('alert-type')
          }) }}

      <div id="subTypes">
        {{ govukSelect({
            id: "alert-code",
            name: "alertCode",
            label: {
                text: "Alert"
            },
            items: alertCodes| addDefaultSelectedVale('Select') | setSelected(formValues.alertCode),
            errorMessage: errors | findError('alert-code')
        }) }}
      </div>

      {{ govukCharacterCount({
              name: "comments",
              id: "comments",
              maxlength: 1000,
              value: formValues.comments,
              errorMessage: errors | findError('comments'),
              classes: 'govuk-!-width-one-half',
              label: {
                  text: "Why are you creating this alert?",
                  classes: "govuk-!-font-weight-bold"
              }
          }) }}

      {{ datePicker({
              id: 'effective-date',
              label: 'When do you want this alert to start?',
              labelClasses: "govuk-!-font-weight-bold",
              name: 'effectiveDate',
              date: formValues.effectiveDate,
              errorMessage: errors | findError('effective-date'),
              attributes: {'data-disable-past-date':'false', 'data-disable-future-date':'true', 'data-min-date': '-7D', 'data-effective-date': 'true'}
          }) }}

    {{ govukButton({ text: "Save and continue", type: "submit" }) }}

      {{ govukButton({
          text: "Cancel",
          href: homeUrl,
          classes: "govuk-button--secondary"
      }) }}
  </form>
{% endblock %}
{% block pageScripts %}
    <script src="/js/alerts.js"></script>
{% endblock %}
