{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/label/macro.njk" import govukLabel %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% extends "../partials/layout.njk" %}

{% set title = 'Change or close alert' %}

{%  macro formDisplayValue(params) %}
  <div class="govuk-form-group">
    {{ govukLabel({
      text: params.label,
      classes: "govuk-label--s"
    }) }}
    <span class="govuk-body govuk-!-font-size-19">
      {{  params.displayValue }}
    </span>
  </div>
{%  endmacro %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: notmUrl
    },
    {
      text: offenderDetails.name,
      href: offenderDetails.profileUrl
    },
    {
      text: title
    }
  ]
})
}}
{% endblock %}

{% block content %}
  {% if errors.length > 0 %}
    {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors,
        attributes: { 'data-qa-errors': true }
      })
    }}
  {% endif %}

  {% if alert and not alert.expired %}
    <form action={{formAction}} method="POST">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      {% call govukFieldset({
                legend: {
                  text: title,
                  classes: "govuk-fieldset__legend--l",
                  isPageHeading: true
                }
              })
      %}

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            {{ formDisplayValue({
              label: "Prisoner name",
              displayValue: offenderDetails.name
            }) }}
          </div>
        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            {{ formDisplayValue({
              label: "Prisoner number",
              displayValue: offenderDetails.offenderNo
            }) }}
          </div>
        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            {{ formDisplayValue({
              label: "Type of alert",
              displayValue: alert.alertTypeDescription + ' (' + alert.alertType + ')'
            }) }}
          </div>
        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            {{ formDisplayValue({
              label: "Alert",
              displayValue:  alert.alertCodeDescription + ' ('  + alert.alertCode + ')'
            }) }}
          </div>
        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            {{ govukTextarea({
              name: "comment",
              id: "comment",
              value: alert.comment,
              errorMessage: errors | findError('comment'),
              label: {
                text: "Comments",
                classes: "govuk-label--s"
              }
            }) }}
          </div>
        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            {{ formDisplayValue({
              label: "Date added",
              displayValue:  alert.dateCreated
            }) }}
          </div>
        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            {{ formDisplayValue({
              label: "Added by",
              displayValue:  alert.createdBy
            }) }}
          </div>
        </div>

      {% endcall %}

      {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "alertStatus",
          name: "alertStatus",
          fieldset: {
              legend: {
                  text: "Do you want to close this alert?",
                  classes: "govuk-fieldset__legend--s"
              }
          },
          hint: {
            text: "Closing this alert will change it to inactive and you cannot reactivate it"
          },
          errorMessage: errors | findError('alertStatus'),
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        })
      }}

      <input type="hidden" name="offenderNo" value={{offenderDetails.offenderNo}} />

      {{ govukButton({ text: "Confirm", type: "submit" }) }}

        {{ govukButton({
            text: "Cancel",
            href: homeUrl,
            classes: "govuk-button--secondary"
        }) }}
    </form>
  {% endif %}
{% endblock %}
