   <dl class="govuk-summary-list" data-qa="appointment-details-summary">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Appointment type
          </dt>
          <dd class="govuk-summary-list__value" data-qa="appointment-details-summary-appointment-type">
            {{appointmentDetails.appointmentTypeDescription}}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Location
          </dt>
          <dd class="govuk-summary-list__value" data-qa="appointment-details-summary-appointment-location">
            {{appointmentDetails.locationDescription}}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Start date
          </dt>
          <dd class="govuk-summary-list__value" data-qa="appointment-details-summary-appointment-start-date">
            {{appointmentDetails.date | getDate()}}
          </dd>
        </div>

        {% if appointmentDetails.startTime %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Time
            </dt>
            <dd class="govuk-summary-list__value" data-qa="appointment-details-summary-appointment-start-time">
              {{appointmentDetails.startTime | getTime()}}
              {% if appointmentDetails.endTime %}
                {{' to ' + appointmentDetails.endTime | getTime()}}
              {% endif %}
            </dd>
          </div>
        {% endif %}

      {% if appointmentDetails.recurring === 'yes' %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            How often
          </dt>
          <dd class="govuk-summary-list__value" data-qa="appointment-details-summary-appointment-how-often">
            {{ appointmentDetails.repeatsText }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Number of appointments
          </dt>
          <dd class="govuk-summary-list__value" data-qa="appointment-details-summary-appointment-occurrences">
            {{ appointmentDetails.times }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            End date
          </dt>
          <dd class="govuk-summary-list__value" data-qa="appointment-details-summary-appointment-end-date">
            {{ appointmentDetails.endOfPeriod }}
          </dd>
        </div>
      {% endif %}
  </dl>