{% extends "../partials/layout.njk" %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "./macros.njk" import notInUnitWarning %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: "Home",
                href: notmUrl
            },
            {
                text: "COVID units"
            }
        ]
    }) }}
{% endblock %}

{% macro conditionalCountLink(params) %}
    {% if params.count > 0 %}
      <a class="govuk-link govuk-body govuk-link--no-visited-state govuk-!-font-size-48 govuk-!-font-weight-bold" data-qa="{{ params.name }}-link" href="{{params.page}}">
        <span data-qa="{{ params.name }}">{{params.count}}</span>
      </a>
    {% else %}
      <span class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold" data-qa="{{ params.name }}">{{params.count}}</span>
    {% endif %}
{% endmacro %}

{% block content %}
    <h1 class="govuk-heading-l">
        Current breakdown of COVID units
    </h1>
    
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <p class="govuk-body">Total prison population</p>
        <span class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold" data-qa="prisonPopulation">{{dashboardStats.prisonPopulation}}</span>
      </div>
    </div>
    
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <p class="govuk-body">Reverse Cohorting Unit</p>
      </div>
    </div>
    <div class="govuk-grid-row">
        <div class="stat-with-warning">
            {{ conditionalCountLink({ name: 'reverseCohortingUnit' , count: dashboardStats.reverseCohortingUnit, page: '/current-covid-units/reverse-cohorting-unit'}) }}
        </div>
        <div class="govuk-grid-column-three-quarters">
            {{ notInUnitWarning(dashboardStats.notInUnitCount) }}
        </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <p class="govuk-body">Protective Isolation Unit</p>
          {{ conditionalCountLink({ name: 'protectiveIsolationUnit' , count: dashboardStats.protectiveIsolationUnit, page: '/current-covid-units/protective-isolation-unit'}) }}
      </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <p class="govuk-body">Shielding Unit</p>
      </div>
    </div>
    <div class="govuk-grid-row">
        <div class="stat-with-warning">
            {{ conditionalCountLink({ name: 'shieldingUnit' , count: dashboardStats.shieldingUnit, page: '/current-covid-units/shielding-unit'}) }}
        </div>
        <div class="govuk-grid-column-three-quarters">
            {% if dashboardStats.refusingToShield > 0 %}
                {% set message = "There is " + dashboardStats.refusingToShield + " prisoner refusing to shield"
                    if dashboardStats.refusingToShield == 1
                    else "There are " + dashboardStats.refusingToShield + " prisoners who are refusing to shield" %}
                {% set messageAndLink = message + '<br/><a class="link govuk-body govuk-link--no-visited-state" data-qa="refusingToShield-link" href="/current-covid-units/refusing-to-shield">View prisoners</a>' %}
                {{ govukWarningText({
                    html: messageAndLink,
                    iconFallbackText: "Warning",
                    attributes: {
                        "data-qa": "refusingToShield"
                    }
                }) }}
            {% endif %}
        </div>
    </div>
{% endblock %}