{% extends "../partials/layout.njk" %}
{% from "../components/card/card.njk" import card %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set title = 'Home' %}
{% set feedbackBannerBackground = '#f0f4f5 '%}

{% block main %}
  <div class="govuk-width-container">
    <h1 class="govuk-heading-l govuk-!-margin-top-7">Digital Prison Services</h1>
  </div>

  <div class="doit">
<a href="#" class="govuk-link govuk-link--no-visited-state modal_dialog_button" data-test="prisoner-search-clear-alerts">
  Do stuff
</a>
   </div>

  <div data-module="govuk-modal-dialogue" class="govuk-modal-dialogue__wrapper">
    <dialog class="govuk-modal-dialogue__box" aria-labelledby="{{ labelledBy }}" aria-describedby="{{ describedBy }}" aria-modal="true" role="{{ params.role | default('dialog') }}" tabindex="0"
    {%- for attribute, value in params.attributes %} {{ attribute }}{% if value %}="{{ value }}"{% endif %}{% endfor %}{% if params.open %} open{% endif %}>
      <div class="govuk-modal-dialogue__header">
        {{ govukButton
        ({text: "×", type: "button",
          classes: "govuk-modal-dialogue__close govuk-modal-dialogue__continue",
          attributes: {
            "aria-label": "Close modal dialogue"
          }
        })
        }}
      </div>
      <div class="govuk-modal-dialogue__content">
        <h2 class="govuk-modal-dialogue__heading govuk-heading-l" id="{{ params.id }}-title">
          Params heading html
        </h2>
        <div class="govuk-modal-dialogue__description" id="{{ params.id }}-description">
          Params description html
        </div>
      </div>
    </dialog>
  </div>


  <div class="homepage-search">
    <div class="govuk-width-container">     
      <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Search for a prisoner</h1>
      <p class="govuk-body govuk-hint">Leave blank to view all results for selected residential location</p>

      <form action="/prisoner-search" class="horizontal-form" data-test="homepage-search-form">
        {{ govukInput({
          id: "keywords",
          name: "keywords",
          label: {
              text: "Name or prison number"
          },
          attributes: {
            'data-test': 'homepage-search-keywords'
          }
        }) }}

        {{ govukSelect({
          id: "location",
          name: "location",
          label: {
            text: "Residential location"
          },
          items: locationOptions,
          attributes: {
            'data-test': 'homepage-search-location'
          }
        }) }}

        {{ govukButton({
          text: "Search",
          type: "submit"
        }) }}
      </form>
    </div>
  </div>

  <div class="homepage-content">
    <div class="govuk-width-container">
      <ul class="govuk-grid-row card-group">
        {% for task in tasks %}
          <li class="govuk-grid-column-one-third card-group__item">
            {{ card({
              "href": task.href,
              "clickable": "true",
              "heading": task.heading,
              "description": task.description,
              "id": task.id
            }) }}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
  <script src="/static/js/card.js"></script>
{% endblock %}
