{% extends "../partials/layout.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set title = 'Digital prison services' %}

{% block content %}

    <h1 class="govuk-heading-xl">{{ title }}</h1>

    {% for task in tasks %}
        <div class="govuk-body" id="{{ task.id }}">
            <a data-qa="task-link" href="{{ task.linkUrl }}"> {{ task.text }} </a>
            <p data-qa="task-sub-text">
                {{ task.subText }}
            </p>
        </div>
    {% endfor %}

{% endblock %}
