<strong>{{ typeDescription }}: {{ subTypeDescription}}</strong>

<p class="govuk-body govuk-!-padding-top-5 word-break">
  {{ text }}
</p>

{% if amendLink %}
  <p class="govuk-body">
    <a class="govuk-link" href={{amendLink}}>
      Add more details
    </a>
  <p>
{% endif %}

<p class="govuk-body">
    Happened: {{ occurrenceDateTime }}
</p>
