<strong>{{ typeDescription }}: {{ subTypeDescription}}</strong>

<p class="govuk-body govuk-!-padding-top-5 word-break">
  {{ text }}
</p>

{% if amendLink %}
  <p class="govuk-body">
    <a class="govuk-link" data-test="add-more-details" href={{amendLink}}>
      Add more details
    </a>
  <p>
{% endif %}

<p class="govuk-body">
    Happened: {{ occurrenceDateTime }}
</p>

{% if printIncentiveLink %}
  <p class="govuk-body">
    <a class="govuk-link" data-test="add-more-details" href={{printIncentiveLink}}>
      Print Incentive Level Slip
    </a>
  <p>
{% endif %}
