<div class="govuk-!-padding-bottom-1">
    {{ day }}
</div>

<div class="govuk-!-padding-bottom-1">
    {{ date }}
</div>

<div class="govuk-!-padding-bottom-1">
    {{ time }}
</div>

<div class="govuk-!-padding-bottom-1">
    {{ authorName }}
</div>

