{% extends "../partials/courtServiceLayout.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "components/datePicker/datePicker.njk" import datePicker %}
{% from "components/timePicker/timePicker.njk" import timePicker %}
{% from "components/scheduledEvents/scheduledEvents.njk" import scheduledEvents %}

{% set title = 'Add video link date and time' %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">
                {{title}}
            </h1>

            {% if errors.length > 0 %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errors,
                    attributes: { 'data-qa-errors': true }
                }) }}
            {% endif %}

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    {{ govukSummaryList({
                        classes: "govuk-summary-list--no-border",
                        rows: [
                            {
                                key: {
                                    text: "Name"
                                },
                                value: {
                                    text: offenderNameWithNumber
                                }
                            },
                            {
                                key: {
                                    text: "Prison"
                                },
                                value: {
                                    text: agencyDescription
                                }
                            }
                        ]
                    }) }}
                </div>
            </div>

            <form method="POST" novalidate="novalidate">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <input type="hidden" name="bookingId" value={{bookingId}} />

                <input type="hidden" name="appointmentType" value="{{ formValues.appointmentType }}">
                <input type="hidden" name="bookingId" value="{{ bookingId }}">

                {{ datePicker({
                    id: 'date',
                    label: 'Date',
                    name: 'date',
                    date: formValues.date,
                    errorMessage: errors | findError('date'),
                    attributes: {'data-disable-past-date':'true', 'data-add-appointment-date': 'true'}
                }) }}

                {{ timePicker({
                    id: 'start-time',
                    label: 'Court hearing start time',
                    name: 'startTime',
                    hour: formValues.startTimeHours,
                    minute: formValues.startTimeMinutes,
                    errorMessage: errors | findError('start-time-hours')
                }) }}

                {{ timePicker({
                    id: 'end-time',
                    label: 'Court hearing end time',
                    name: 'endTime',
                    hour: formValues.endTimeHours,
                    minute: formValues.endTimeMinutes,
                    errorMessage: errors | findError('end-time-hours')
                }) }}

                {{ govukRadios({
                    classes: "govuk-radios--inline",
                    idPrefix: "pre-appointment-required",
                    name: "preAppointmentRequired",
                    errorMessage: errors | findError('pre-appointment-required'),
                    fieldset: {
                        legend: {
                        text: "Do you want to add a pre-court hearing briefing?",
                        classes: "govuk-fieldset__legend--s"
                        }
                    },
                    items: [
                        {
                            value: "yes",
                            text: "Yes",
                            checked: formValues.preAppointmentRequired == 'yes'
                        },
                        {
                            value: "no",
                            text: "No",
                            checked: formValues.preAppointmentRequired == 'no'
                        }
                    ]
                }) }}

                {{ govukRadios({
                    classes: "govuk-radios--inline",
                    idPrefix: "post-appointment-required",
                    name: "postAppointmentRequired",
                    errorMessage: errors | findError('post-appointment-required'),
                    fieldset: {
                        legend: {
                        text: "Do you want to add a post-court hearing briefing?",
                        classes: "govuk-fieldset__legend--s"
                        }
                    },
                    items: [
                        {
                            value: "yes",
                            text: "Yes",
                            checked: formValues.postAppointmentRequired == 'yes'
                        },
                        {
                            value: "no",
                            text: "No",
                            checked: formValues.postAppointmentRequired == 'no'
                        }
                    ]
                }) }}

                {{ govukButton({
                    text: "Continue",
                    type: "submit",
                    classes: "govuk-!-margin-right-2"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
