{% extends "../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set title = "Select an available room" %}
{% set mainClasses = "govuk-main-wrapper--l" %}

{% macro appointment(params) %}
    {{ govukSelect({
        name: params.name + "Location",
        id: params.name + "Location",
        label: {
            text: params.description + " appointment room"
        },
        items: locations | addDefaultSelectedVale('Select') | setSelected(params.location),
        errorMessage: errors | findError(params.name + "Location")
    }) }}
{% endmacro %}

{% block content %}
    <div class="govuk-width-container">
        {% if errors.length > 0 %}
            {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: errors,
                attributes: { 'data-qa-errors': true }
            }) }}
        {% endif %}

        <h1 class="govuk-heading-l">{{title}}</h1>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {{ govukSummaryList({
                    classes: "govuk-summary-list--no-border",
                    rows: details | toSummaryViewModel
                }) }}
            </div>
        </div>

        <form method="post">
            <input type="hidden" id="appointment-date" value="{{ date }}"/>

            {% if preAppointmentRequired %}
                {{ appointment({description: "Pre", name:"preAppointment",locations: locations, location: formValues.preAppointmentLocation, duration: formValues.preAppointmentDuration}) }}
            {% endif %}

            {{ appointment({description: "Main", name:"mainAppointment",locations: locations, location: formValues.mainAppointmentLocation, duration: formValues.mainAppointmentDuration}) }}

            {% if postAppointmentRequired %}
                {{ appointment({description: "Post", name:"postAppointment",locations: locations, location: formValues.postAppointmentLocation, duration: formValues.postAppointmentDuration}) }}
            {% endif %}

            {{ govukTextarea({	
                name: "comment",	
                id: "comment",	
                value: formValues.comment,	
                errorMessage: errors | findError('comment'),	
                classes: 'govuk-!-width-one-half',	
                label: {	
                    text: "Comments (optional)"	
                },	
                hint: {	
                    text: "Type of hearing and additional information"	
                }	
            }) }}

            {{ govukButton({
                    text: "Save and continue",
                    type: 'submit',
                    classes: "govuk-!-margin-right-2"
                }) }}

            {{ govukButton({
                    text: "Cancel",
                    element: 'a',
                    href: cancelLink,
                    classes: "govuk-button--secondary",
                    attributes: {
                        'data-qa': 'back-to-profile'
                    }
                }) }}
            
        </form>
    </div>
{% endblock %}