{% extends "../partials/courtServiceLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set title = "Select an available room in the prison" %}
{% set mainClasses = "govuk-main-wrapper--l" %}

{% macro appointment(params) %}
    {{ govukSelect({
        name: params.name + "Location",
        id: params.name + "Location",
        label: {
            text: params.description
        },
        items: params.locations | addDefaultSelectedVale('Select') | setSelected(params.location),
        errorMessage: errors | findError(params.name + "Location")
    }) }}
{% endmacro %}

{% block content %}
    <div class="govuk-width-container">
        {% if errors.length > 0 %}
            {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: errors,
                attributes: { 'data-qa-errors': true }
            }) }}
        {% endif %}

        <h1 class="govuk-heading-l">{{title}}</h1>

        <form method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
            <input type="hidden" id="appointment-date" value="{{ date }}"/>

            {% if preAppointmentRequired %}
                {{ appointment({description: "Prison room for pre-court hearing briefing", name:"selectPreAppointment",locations: preLocations, location: formValues.preAppointmentLocation, duration: formValues.preAppointmentDuration}) }}
            {% endif %}

            {{ appointment({description: "Prison room for court hearing", name:"selectMainAppointment",locations: mainLocations, location: formValues.mainAppointmentLocation, duration: formValues.mainAppointmentDuration}) }}

            {% if postAppointmentRequired %}
                {{ appointment({description: "Prison room for post-court hearing briefing", name:"selectPostAppointment",locations: postLocations, location: formValues.postAppointmentLocation, duration: formValues.postAppointmentDuration}) }}
            {% endif %}

            {{ govukTextarea({
                name: "comment",
                id: "comment",
                value: formValues.comment,
                errorMessage: errors | findError('comment'),
                classes: 'govuk-!-width-one-half',
                label: {
                    text: "Comments (optional)"
                },
                hint: {
                    text: "This can include the hearing number, type of hearing and any other additional details"
                }
            }) }}

            {{ govukButton({
                    text: "Book video link",
                    type: 'submit',
                    classes: "govuk-!-margin-right-2"
                }) }}

        </form>
    </div>
{% endblock %}
