{% extends "../partials/courtServiceLayout.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/input/macro.njk" import govukInput %}}

{% set title = 'Who is the video link for?' %}

{% macro errorClass(field) -%}
    {{ ' govuk-input--error' if errors | hasErrorWithPrefix([field, 'dobError']) else '' }}
{%- endmacro %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">
                {{title}}
            </h1>

            {% if errors.length > 0 %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errors,
                    attributes: { 'data-qa-errors': true }
                }) }}
            {% endif %}

            <form method="POST" novalidate="novalidate" action="/request-booking/create-booking-request">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ govukInput({
                    label: {
                        text: "First name"
                    },
                    id: "first-name",
                    name: "firstName",
                    value: formValues.firstName,
                    classes: "govuk-!-width-one-third",
                    errorMessage: errors | findError('first-name')
                }) }}

                {{ govukInput({
                    label: {
                        text: "Last name"
                    },
                    id: "last-name",
                    name: "lastName",
                    value: formValues.lastName,
                    classes: "govuk-!-width-one-third",
                    errorMessage: errors | findError('last-name')
                }) }}

                {{ govukDateInput({
                    id: "dob",
                    fieldset: {
                        legend: {
                            text: "Date of birth",
                            classes: "govuk-fieldset__legend--s"
                        }
                    },
                    errorMessage: errors | findErrors(['dobDay', 'dobMonth', 'dobYear']),
                    hint: {
                        text: "For example, 31 3 1980"
                    },
                    items: [
                        {
                            id: "dobDay",
                            name: "dobDay",
                            label: "Day",
                            classes: "govuk-input--width-2" + errorClass('dobDay'),
                            value: formValues.dobDay
                        },
                        {
                            id: "dobMonth",
                            name: "dobMonth",
                            label: "Month",
                            classes: "govuk-input--width-2" + errorClass('dobMonth'),
                            value: formValues.dobMonth
                        },
                        {
                            id: "dobYear",
                            name: "dobYear",
                            label: "Year",
                            classes: "govuk-input--width-4" + errorClass('dobYear'),
                            value: formValues.dobYear
                        }
                    ]
                }) }}

                {{ govukTextarea({
                    name: "comments",
                    id: "comments",
                    value: formValues.comments,
                    errorMessage: errors | findError('comments'),
                    classes: 'govuk-!-width-one-half',
                    label: {
                        text: "Comments (optional)"
                    },
                    hint: {
                        text: "This can include the hearing number, type of hearing and any other additonal details"
                    }
                }) }}

                {{ govukButton({ text: "Continue", type: "submit" }) }}
            </form>
        </div>
    </div>
{% endblock %}
