{% extends "../partials/courtServiceLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set title = 'You can request a video link booking for a prisoner' %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <h1 class="govuk-heading-l">
                {{title}}
            </h1>

            <p class="govuk-body-l">You can complete a request for the video link to be booked. This will be sent to the prison who will complete the booking and confirm details with your court.</p>

            {{ govukButton({
                    text: "Continue",
                    href: '/request-booking'
            }) }}

            <p class="govuk-body">
                <a href="/prisoner-search" class="govuk-link govuk-link--no-visited-state" data-qa="prisoner-search">
                    Search again
                </a>
            </p>

        </div>
    </div>
{% endblock %}
