{% extends "../partials/courtServiceLayout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-blue-background-confirm-override">
                {{ govukPanel({
                    titleText: title,
                    classes: "govuk-!-margin-bottom-9"
                }) }}
            </div>

            <div class="govuk-body">
                <p>
                    We have sent an email to the prison to book the video link. The details have also been sent to you.
                    The prison will email your court when they have booked the video link.
                </p>
            </div>

            <h3 class="govuk-heading-m">Video link details</h3>

        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukSummaryList({
                classes: "govuk-summary-list--no-border",
                rows: details | toSummaryViewModel | removePaddingBottom | longLabel
            }) }}
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukSummaryList({
                classes: "govuk-summary-list--no-border",
                rows: hearingDetails | toSummaryViewModel | removePaddingBottom | longLabel
            }) }}
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukSummaryList({
                classes: "govuk-summary-list--no-border",
                rows: prePostDetails | toSummaryViewModel | removePaddingBottom | longLabel
            }) }}
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukSummaryList({
                classes: "govuk-summary-list--no-border",
                rows: courtDetails | toSummaryViewModel | removePaddingBottom | longLabel
            }) }}
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-body govuk-!-margin-bottom-4">
                <a href="/request-booking" class="govuk-link govuk-!-font-size-19"> Book another video link</a>
            </div>

            <div class="govuk-body govuk-!-margin-bottom-4">
                {{ govukButton({
                    text: "Exit",
                    element: 'a',
                    href: homeUrl,
                    attributes: {
                        'data-qa': 'back-to-home'
                    }
                }) }}
            </div>
        </div>

    </div>
{% endblock %}
