{% extends "../partials/courtServiceLayout.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "components/datePicker/datePicker.njk" import datePicker %}
{% from "components/timePicker/timePicker.njk" import timePicker %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% set title = 'Request video link date and time' %}

{% macro errorClass(field) -%}
  {{ ' govuk-input--error' if errors | hasErrorWithPrefix([field, 'dobError']) else '' }}
{%- endmacro %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">
                {{title}}
            </h1>

            {% if errors.length > 0 %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errors,
                    attributes: { 'data-qa-errors': true }
                }) }}
            {% endif %}

            <form method="POST" novalidate="novalidate" action="/request-booking/check-availability">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {{ govukSelect({
                    id: "prison",
                    name: "prison",
                    label: {
                        text: "Prison"
                    },
                    items: prisons | addDefaultSelectedVale('Select'),
                    errorMessage: errors | findError('prison')
                }) }}

                {{ datePicker({
                    id: 'date',
                    label: 'Date',
                    name: 'date',
                    date: formValues.date,
                    errorMessage: errors | findError('date'),
                    attributes: {'data-disable-past-date':'true', 'data-add-appointment-date': 'true'}
                }) }}

                {{ timePicker({
                    id: 'start-time',
                    label: 'Court hearing start time',
                    name: 'startTime',
                    hour: formValues.startTimeHours,
                    minute: formValues.startTimeMinutes,
                    errorMessage: errors | findError('start-time-hours')
                }) }}

                {{ timePicker({
                    id: 'end-time',
                    label: 'Court hearing end time',
                    name: 'endTime',
                    hour: formValues.endTimeHours,
                    minute: formValues.endTimeMinutes,
                    errorMessage: errors | findError('end-time-hours')
                }) }}


                {{ govukRadios({
                    classes: "govuk-radios--inline",
                    idPrefix: "pre-appointment-required",
                    name: "preAppointmentRequired",
                    errorMessage: errors | findError('pre-appointment-required'),
                    fieldset: {
                        legend: {
                            text: "Do you want to add a pre-court hearing briefing?",
                            classes: "govuk-fieldset__legend--s"
                        }
                    },
                    items: [
                        {
                            value: "yes",
                            text: "Yes",
                            checked: formValues.preAppointmentRequired == 'yes'
                        },
                        {
                            value: "no",
                            text: "No",
                            checked: formValues.preAppointmentRequired == 'no'
                        }
                    ]
                }) }}

                {{ govukRadios({
                    classes: "govuk-radios--inline",
                    idPrefix: "post-appointment-required",
                    name: "postAppointmentRequired",
                    errorMessage: errors | findError('post-appointment-required'),
                    fieldset: {
                        legend: {
                            text: "Do you want to add a post-court hearing briefing?",
                            classes: "govuk-fieldset__legend--s"
                        }
                    },
                    items: [
                        {
                            value: "yes",
                            text: "Yes",
                            checked: formValues.postAppointmentRequired == 'yes'
                        },
                        {
                            value: "no",
                            text: "No",
                            checked: formValues.postAppointmentRequired == 'no'
                        }
                    ]
                }) }}

                {{ govukButton({ text: "Continue", type: "submit" }) }}
            </form>
        </div>
    </div>
{% endblock %}
