{% extends "../partials/courtServiceLayout.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set title = 'The video link date and time is available' %}

{% macro errorClass(field) -%}
    {{ ' govuk-input--error' if errors | hasErrorWithPrefix([field, 'dobError']) else '' }}
{%- endmacro %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">
                {{ title }}
            </h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-body">
                <p>
                    The date and time is currently available. A request will be sent to the prison to book the video
                    link.
                    The prison will contact your court if the date or time is not available later.
                </p>
            </div>

            {% if errors.length > 0 %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errors,
                    attributes: { 'data-qa-errors': true }
                }) }}
            {% endif %}
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukSummaryList({
                classes: "govuk-summary-list--no-border",
                rows: prisonDetails | toSummaryViewModel | removePaddingBottom | longLabel
            }) }}
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukSummaryList({
                classes: "govuk-summary-list--no-border",
                rows: hearingDetails | toSummaryViewModel | removePaddingBottom | longLabel
            }) }}
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukSummaryList({
                classes: "govuk-summary-list--no-border",
                rows: prePostDetails | toSummaryViewModel | removePaddingBottom | longLabel
            }) }}
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="POST" novalidate="novalidate" action="/request-booking/validate-court">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ govukSelect({
                    id: "hearing-location",
                    name: "hearingLocation",
                    label: {
                        text: "Which court is the hearing for?"
                    },
                    items: hearingLocations | addDefaultSelectedVale('Select'),
                    errorMessage: errors | findError('hearingLocation')
                }) }}

                {{ govukButton({ text: "Continue", type: "submit" }) }}
            </form>
        </div>
    </div>
{% endblock %}
