{% extends "../partials/layout.njk" %}
{% from "../macros/alertFlags.njk" import alertFlags %}

{% set title = "Consider risks of moving this person to reception" %}

{% block beforeContent %}

  {% if backUrl %}
    {{ govukBackLink({
      text: "Back",
      href: backUrl
    }) }}
  {% endif %}

{% endblock %}

{% block content %}

  {% if errors.length > 0 %}
      {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors,
          attributes: { 'data-qa-errors': true }
      }) }}
  {% endif %}

  <h1 class="govuk-heading-l">{{ title }}</h1>

  {% include "./partials/prisonerInformation.njk" %}
  
  {% if nonAssociationsRows.length %}
    {% include "./partials/nonAssociations.njk" %}
  {% endif %}
  
  {% include "./partials/prisonersCurrentlyInReception.njk" %}

  <form method="POST">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

    {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "considerRisksReception",
        name: "considerRisksReception",
        errorMessage: errors | findError('considerRisksReception'),

        fieldset: {
            legend: {
                text: "Are you sure you want to move "+ prisonerName + " to reception?",
                classes: "govuk-fieldset__legend--s"
            }
        },
      items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
          ]
      }) }}

    {{ govukButton({
      text: "Continue",
      preventDoubleClick: true,
      type: "submit"
    }) }}
  </form>

{% endblock %}
