{% extends "../partials/layout.njk" %}

{% set title = "No space available in reception" %}

{% block beforeContent %}
  {% if backUrl %}
    {{ govukBackLink({
      text: "Back",
      href: backUrl
    }) }}
  {% endif %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l"> {{title}} </h1>
      <p class="govuk-body"> You can't move this person to reception as it is currently at full capacity. </p>
      <p class="govuk-body"> You should contact reception to see if a space can be made available. </p>
      <p class="govuk-body">
        <a href="{{ locationDetailsUrl }}" class="govuk-link" data-test="location-details-link">
          Return to {{ offenderName }}'s location details
        </a>
      </p>
    </div>
  </div>
{% endblock %}
