{% extends "../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "../macros/alertFlags.njk" import alertFlags %}
{% from "../macros/printLink.njk" import printLink %}
{%- from "moj/components/pagination/macro.njk" import mojPagination -%}

{% set title = 'Prisoner search results' %}
{% set htmlClasses = "printed-page" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: notmUrl
      },
      {
        text: title
      }
    ],
    classes: 'govuk-!-display-none-print'
  })
  }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">
    {{title}}
  </h1>

  {% include './partials/prisonerSearchSummary.njk' %}

  <div class="govuk-!-display-none-print">
    {% include './partials/prisonerSearchForm.njk' %}

    <div class="prisoner-search__results-options">
      {% include './partials/prisonerSearchOrderForm.njk' %}

      {% include './partials/prisonerSearchToggles.njk' %}
    </div>
  </div>

  {% if results.length %}
    {{ printLink('Print displayed results', 'right')}}

    {{ mojPagination(pagination) }}

    {% if totalRecords > pageLimit  %}
      <div class="prisoner-search__options">
        <a href="{{ searchUrl + '&viewAll=true' + '&pageLimitOption=' + totalRecords }}" class="govuk-body govuk-link govuk-link--no-visited-state govuk-!-display-none-print" data-test="prisoner-search-view-all-link">
          View all results
        </a>
      </div>
    {% endif %}

    {% if view === 'grid' %}
      {% include './partials/prisonerSearchGrid.njk' %}
    {% else %}
      {% include './partials/prisonerSearchList.njk' %}
    {% endif %}
    

    <div class="govuk-!-display-none-print">
      {{ mojPagination(pagination) }}
    </div>
  {% else %}
  <p class="govuk-body">No records found matching search criteria.</p>
  {% endif %}
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script src="/assets/moj/components/sortable-table/sortable-table.js"></script>
  <script>
    new MOJFrontend.SortableTable({
      table: $('table')[0],
    })
  </script>
{% endblock %}
