.prisoner-search__form {
  margin-bottom: govuk-spacing(6);
  padding: govuk-spacing(3);
  background-color: govuk-colour('light-grey');
}

.prisoner-search__alerts {
  column-gap: $govuk-gutter;

  @include govuk-media-query($from: mobile) {
    display: flex;
    flex-wrap: wrap;
  }

  .govuk-checkboxes__item {
    @include govuk-media-query($from: mobile) {
      flex-basis: 50%;
    }

    @include govuk-media-query($from: desktop) {
      flex-basis: 25%;
    }
  }
}

.prisoner-search__results {
  overflow: auto;

  &__image {
    width: 90px;
  }

  .govuk-table__header {
    vertical-align: bottom;
  }

  .govuk-table__cell {
    vertical-align: middle;
  }
}
