.prisoner-search__form {
  margin-bottom: govuk-spacing(6);
  padding: govuk-spacing(3);
  background-color: govuk-colour('light-grey');
}

.prisoner-search__alerts {
  column-gap: $govuk-gutter;

  @include govuk-media-query($from: mobile) {
    column-count: 2;
  }

  @include govuk-media-query($from: desktop) {
    column-count: 4;
  }

  // not a fan
  .govuk-checkboxes__item {
    page-break-inside: avoid;
  }
}

.prisoner-search__results {
  overflow: auto;

  &__image {
    width: 90px;
  }

  .govuk-table__header {
    vertical-align: bottom;
  }

  .govuk-table__cell {
    vertical-align: middle;
  }
}
