{% extends "../layouts/prisonerLayout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "components/datePicker/datePicker.njk" import datePicker %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set title = "Case notes" %}
{% set containerClasses = "prisoner-profile" %}

{% set subTypesSelect %}
    {% include "./partials/subTypesSelect.njk" %}
{% endset %}

{% block prisonerProfileSection %}
    <input type="hidden" name="subTypeUrl" value="{{ caseNotesRootUrl }}"/>
    <form class="horizontal-form-clear-link " method="GET">
        {{ govukSelect({
            name: 'type',
            id: 'type',
            label: {
                text: "Type"
            },
            items: types | addDefaultSelectedVale('Select') | setSelected(formValues.type),
            errorMessage: errors | findError(type)
        }) }}

        <div id="subTypes">
            {{ govukSelect({
                name: 'subType',
                id: 'subType',
                label: {
                    text: "Sub-type"
                },
                items: subTypes | addDefaultSelectedVale('Select') | setSelected(formValues.subType)
            }) }}
        </div>

        {{ datePicker({
            id: 'fromDate',
            label: 'From',
            name: 'fromDate',
            date: formValues.fromDate,
            errorMessage: errors | findError('fromDate')
        }) }}

        {{ datePicker({
            id: 'toDate',
            label: 'To',
            name: 'toDate',
            date: formValues.toDate,
            errorMessage: errors | findError('toDate')
        }) }}

        {{ govukButton({
            text: "Apply",
            preventDoubleClick: true,
            type: "submit"
        }) }}

        <a href="{{caseNotesRootUrl }}"class="govuk-link">Clear</a>
    </form>

    <div class="govuk-!-padding-top-8">
        {{ govukTable({
            head: [
                {
                    text: "Created"
                },
                {
                    text: "Case note detail"
                }
            ],
            rows: caseNoteRows
        }) }}
    </div>

{% endblock %}

{% block pageScripts %}
    <script src="/static/js/caseNotes.js"></script>
{% endblock %}
