{% extends "../layouts/prisonerLayout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "components/datePicker/datePicker.njk" import datePicker %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{%- from "moj/components/pagination/macro.njk" import mojPagination -%}


{% set title = "Case notes" %}
{% set containerClasses = "prisoner-profile" %}

{% set subTypesSelect %}
    {% include "./partials/subTypesSelect.njk" %}
{% endset %}

{% macro links(caseNote) %}
    <div class="govuk-!-margin-top-5">
        {% if caseNote.caseNoteDetailColumn.amendLink %}
            <p class="govuk-body">
                <a class="govuk-link" data-test="add-more-details"
                href={{ caseNote.caseNoteDetailColumn.amendLink }}>
                    Add more details
                </a>
            <p>
        {% endif %}

        <p class="govuk-body">
            Happened: {{ caseNote.caseNoteDetailColumn.occurrenceDateTime }}
        </p>

        {% if caseNote.caseNoteDetailColumn.printIncentiveLink %}
            <p class="govuk-body">
                <a class="govuk-link" data-test="print-slip"
                href={{ caseNote.caseNoteDetailColumn.printIncentiveLink }} target="_blank" rel="noopener noreferrer">
                    Print Incentive Level slip
                </a>
            <p>
        {% endif %}
    </div>

{% endmacro %}

{% block prisonerProfileSection %}
    <input type="hidden" name="subTypeUrl" value="{{ caseNotesRootUrl }}"/>

    <div class="govuk-width-container govuk-!-padding-3 govuk-!-margin-bottom-5 form-background">
        <h2 class="govuk-heading-m">View by</h2>
        <form class="horizontal-form govuk-body govuk-!-margin-bottom-3" method="GET">
            <input type="hidden" name="pageOffsetOption" value="0"/>

            {{ govukSelect({
                name: 'type',
                id: 'type',
                label: {
                    text: "Type"
                },
                items: types | addDefaultSelectedVale('Select', true) | setSelected(formValues.type),
                errorMessage: errors | findError(type)
            }) }}

            <div id="subTypes">
                {{ govukSelect({
                    name: 'subType',
                    id: 'subType',
                    label: {
                        text: "Sub-type"
                    },
                    items: subTypes | addDefaultSelectedVale('Select', true) | setSelected(formValues.subType)
                }) }}
            </div>

            {{ datePicker({
                id: 'fromDate',
                label: 'From',
                name: 'fromDate',
                date: formValues.fromDate,
                errorMessage: errors | findError('fromDate')
            }) }}

            {{ datePicker({
                id: 'toDate',
                label: 'To',
                name: 'toDate',
                date: formValues.toDate,
                errorMessage: errors | findError('toDate')
            }) }}

            {{ govukButton({
                text: "Apply",
                preventDoubleClick: true,
                type: "submit"
            }) }}

            <a href="{{ caseNotesRootUrl }}" class="govuk-link">Clear</a>
        </form>
    </div>

    {% if caseNoteViewData.length %}

        {{ mojPagination(pagination) }}

       {% if not showAll and pagination.results.count  > 20 %}
            <div class="govuk-body govuk-!-margin-top-0 pull-right">
                <a data-test="view-all-case-notes-top-link" href="{{ viewAllCaseNotesUrl }}" class="govuk-link"> View all case notes</a>
            </div>
       {% endif %}

        <div class="case-note-entry">
            <div class="case-notes-created">
                <b class="govuk-heading-s">Created</b>
            </div>

            <div class="case-notes-details">
                <b class="govuk-heading-s">Case note detail</b>
            </div>
        </div>

        {% for caseNote in caseNoteViewData %}
            <div class="{{ 'case-note-entry bottom-line' if caseNote.caseNoteDetailColumn.amendments.length == 0 else 'case-note-entry'}}">
                <div class="case-notes-created">
                    <div class="govuk-!-margin-bottom-3">
                        <div class="govuk-!-padding-bottom-1">
                            <span class="govuk-body">{{ caseNote.createdByColumn.day }} </span>
                        </div>

                        <div class="govuk-!-padding-bottom-1">
                            <span class="govuk-body"> {{ caseNote.createdByColumn.date }} </span>
                        </div>

                        <div class="govuk-!-padding-bottom-1">
                            <span class="govuk-body">{{ caseNote.createdByColumn.time }} </span>
                        </div>

                        <div class="govuk-!-padding-bottom-1">
                            <span class="govuk-body"> {{ caseNote.createdByColumn.authorName }} </span>
                        </div>
                    </div>

                </div>

                <div class="case-notes-details">
                    <h3 class="govuk-heading-s">{{ caseNote.caseNoteDetailColumn.typeDescription }}: {{ caseNote.caseNoteDetailColumn.subTypeDescription }}</h3>

                    <pre class="govuk-body">{{ caseNote.caseNoteDetailColumn.text }}</pre>

                    {% if caseNote.caseNoteDetailColumn.amendments.length == 0 %}
                        {{ links(caseNote) }}
                    {% endif %}

            </div>
        </div>

            {% for amendment in caseNote.caseNoteDetailColumn.amendments %}
                <div class="{{ "case-note-entry bottom-line" if loop.index === caseNote.caseNoteDetailColumn.amendments.length else "case-note-entry"  }}">
                    <div class="case-notes-created">
                        <div class="govuk-!-margin-bottom-3">
                            <div class="govuk-!-padding-bottom-1">
                                <span class="govuk-body">{{ amendment.day }} </span>
                            </div>

                            <div class="govuk-!-padding-bottom-1">
                                <span class="govuk-body"> {{ amendment.date }} </span>
                            </div>

                            <div class="govuk-!-padding-bottom-1">
                                <span class="govuk-body">{{ amendment.time }} </span>
                            </div>

                            <div class="govuk-!-padding-bottom-1">
                                <span class="govuk-body"> {{ amendment.authorName }} </span>
                            </div>
                        </div>
                    </div>
                    <div class="case-notes-details">
                        <div class="govuk-!-margin-bottom-3">
                            <p class="govuk-body govuk-!-margin-bottom-1">
                                More details added:
                            </p>
                            <div class="govuk-!-padding-bottom-1">
                                <pre class="govuk-body">{{ amendment.text }} </pre>
                            </div>
                        </div>

                        {% if loop.index === caseNote.caseNoteDetailColumn.amendments.length %}
                            {{ links(caseNote) }}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

        {% endfor %}

        {{ mojPagination(pagination) }}
        {% if not showAll and pagination.results.count > 20 %}
            <div class="govuk-body govuk-!-margin-top-0 pull-right">
                <a data-test="view-all-case-notes-bottom-link" href="{{ viewAllCaseNotesUrl }}" class="govuk-link"> View all case notes</a>
            </div>
        {% endif %}

    {% else %}
        <p class="govuk-body" data-test="no-case-notes">There are no case notes of this type</p>
    {% endif %}

{% endblock %}

{% block pageScripts %}
    <script src="/js/caseNotes.js"></script>
{% endblock %}
