{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set offenderName = (prisonerProfileData.offenderName).split(',')[1].trim() + " " +(prisonerProfileData.offenderName).split(',')[0] %}

{% if employabilitySkills.content %}

    <h3 class="govuk-heading-s card__heading">Most recent levels</h3>

    {{ govukSummaryList({ rows: [
        createEmployabilitySkillsRow('Adaptability'),
        createEmployabilitySkillsRow('Communication'),
        createEmployabilitySkillsRow('Creativity'),
        createEmployabilitySkillsRow('Initiative'),
        createEmployabilitySkillsRow('Organisation'),
        createEmployabilitySkillsRow('Planning'),
        createEmployabilitySkillsRow('Problem Solving'),
        createEmployabilitySkillsRow('Reliability'),
        createEmployabilitySkillsRow('Team Working'),
        createEmployabilitySkillsRow('Timekeeping')
    ] }) }}
{% else %}
    <p class="govuk-body" data-test="employabilitySkills-errorMessage">{{ errorMessage }}</p>
{% endif %}
