
{% from "../../macros/prisonerSummarySection.njk" import prisonerSummarySection %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set offenderName = (prisonerProfileData.offenderName).split(',')[1].trim() + " " +(prisonerProfileData.offenderName).split(',')[0] %}
{% set offenderNo = prisonerProfileData.offenderNo %}

{% if not work %}
    <p class="govuk-body" data-test="work-errorMessage">{{ errorMessage }}</p>
{% endif %}

{% if work.currentJobs.length %}
    <h3 class="govuk-heading-s card__heading" data-test="work-header">Current activities</h3>
    {{ prisonerSummarySection(work.currentJobs, '', {"data-test": "work-currentWork"}, false, 'govuk-!-margin-bottom-1', true) }}
    <hr class="govuk-section-break govuk-section-break--visible">
{% elseif work.workHistoryPresent %}
    <h3 class="govuk-heading-s card__heading">Current role</h3>
    <p class="govuk-body" data-test="work-noCurrent">{{ offenderName }} has no current work or activities.</p>
{% endif %}

{% if work.workHistoryPresent %}
    <p class="govuk-body govuk-!-margin-top-3">
        <a class="govuk-link" href='/prisoner/{{offenderNo}}/work-activities' data-test="work-detailsLink">View work and activities for the last 12 months</a>
    </p>
{% endif %}

{% if work and not work.workHistoryPresent  %}
    <p class="govuk-body" data-test="work-noData">{{ offenderName }} has no work or activities.</p>
{% endif %}

<p class="govuk-body">
    <a class="govuk-link" href='/prisoner/{{offenderNo}}/schedule' data-test="work-scheduleLink">View 7 day schedule</a>
</p>

