.prisoner-header {
  margin-bottom: govuk-spacing(6);

  @include govuk-media-query($from: tablet) {
    display: flex;
  }

  &__details {
    @include govuk-media-query($from: mobile) {
      display: flex;
      flex-wrap: wrap;
      flex-basis: 100%;
    }

    &__alerts {
      margin-bottom: govuk-spacing(3);
      flex-basis: 100%;
    }

    &__information {
      @extend %govuk-list;
      column-gap: $govuk-gutter;

      @include govuk-media-query($from: mobile) {
        column-count: 2;
        flex-basis: 100%;
      }

      @include govuk-media-query($from: desktop) {
        column-count: 3;
      }

      @include govuk-media-query($from: 950px) {
        flex-basis: 75%;
        padding-right: $govuk-gutter * 2;
      }

      > li {
        margin-bottom: govuk-spacing(3);
        break-inside: avoid-column;
        page-break-inside: avoid;
      }
    }

    &__actions {
      flex-basis: 100%;

      @include govuk-media-query($from: 950px) {
        flex-basis: 25%;
      }
    }
  }

  &__image-container {
    margin-bottom: govuk-spacing(3);

    @include govuk-media-query($from: tablet) {
      padding-right: $govuk-gutter * 2;
    }
  }
}

.prisoner-image {
  width: 160px;
}
