.prisoner-schedule {
  &__day {
    page-break-inside: avoid;
  }

  &__periods {
    @media print, (min-width: #{map-get($govuk-breakpoints, 'desktop')}) {
      flex: 1 0 auto;
      display: flex;
    }

    &__period {
      &:first-of-type {
        margin-left: 0;
        padding-left: 0;
        border-left: 0;
      }

      @media print, (min-width: #{map-get($govuk-breakpoints, 'desktop')}) {
        display: flex;
        flex-direction: column;
        flex: 1 33.3333%;
        margin-left: $govuk-gutter;
      }

      @media print {
        padding-left: govuk-spacing(3);
        border-left: 1px solid $govuk-border-colour;
      }
    }
  }
}

.prisoner-schedule-events {
  flex: 1 0 auto;

  @media screen {
    padding: govuk-spacing(3);

    &--morning {
      background-color: #e9f3f9;
    }

    &--afternoon {
      background-color: #d5e8f4;
    }

    &--evening {
      background-color: #bedcee;
    }
  }
}
