.prisoner-header {
  display: flex;
  margin-bottom: govuk-spacing(6);

  &__image-container {
    margin-right: govuk-spacing(6);

    img {
      width: 160px;
    }
  }

  &__alerts {
    display: flex;
    flex-wrap: wrap;
  }

  &__details {
    @extend %govuk-list;
    column-count: 3;

    > li {
      margin-bottom: govuk-spacing(3);
      break-inside: avoid-column;
    }
  }
}



.alerts-link {
  text-decoration: none;

  &__active,
  &__inactive {
    text-decoration: underline;
  }

  &__active {
    padding-right: govuk-spacing(1);
    color: red;
  }

  &__inactive {
    border-left: 2px solid #000;
    padding-left: govuk-spacing(1);
    color: black;
  }
}
