.distinguishing-mark-image {
  max-width: 200px;
  margin-bottom: govuk-spacing(4);

  @include govuk-media-query($from: desktop) {
    margin-left: govuk-spacing(9);
  }
}

.professional-contact {
  border-top: 1px solid $govuk-border-colour;
}

.professional-contact:nth-of-type(1) {
  border-top: none;
}