.establishment-roll-block {
  margin-bottom: 15px;
  border-bottom: 2px solid #979797;
  overflow: hidden;

  &__title {
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 700;
  }

  &__figures {
    margin-left: -18px;
  }

  &--highlight {
    margin: 15px -15px;
    padding: 15px 15px 0;
    border: none;
    background: #e0eef8;
  }

  &--last {
    border-bottom: 0;
  }
}

.block-figures {
  display: flex;
  flex-wrap: wrap;

  &__figure {
    width: 50%;
    margin-bottom: 15px;
    padding: 0 15px;
    border-left: 3px solid #979797;

    @media (min-width: 640px) {
      width: 33.3334%;
    }

    @media (min-width: 800px) {
      width: 16.6667%;
    }
  }
}

.block-figure {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  &__label {
    margin-bottom: 15px;
  }

  &__value {
    display: block;
    font-size: 36px;
    font-weight: 700;
    line-height: 1;
  }
}
