<h3 class="govuk-heading-m">Personal</h3>

{% if activeContacts.personal.length %}
  {% for contact in activeContacts.personal %}
    {% set activeContactsPersonalRows = [] %}

    {% for contactDetail in contact.details %}

      {% if contactDetail.html %}
        {% set value = {html: contactDetail.html | showDefault(missingValueText)} %}
      {% else %}
        {% set value = {text: contactDetail.value | showDefault(missingValueText)} %}
      {% endif %}

      {% set activeContactsPersonalRows = (activeContactsPersonalRows.push(
        {
          key: {
            text: contactDetail.label,
            classes: 'govuk-summary-list__key--indent'
          },
          value: value
        }
      ), activeContactsPersonalRows) %}
    {% endfor %}

    <h3 class="govuk-summary-list-title govuk-heading-s govuk-!-padding-bottom-1">{{ contact.name }}</h3>
    <p class="govuk-body govuk-!-margin-bottom-1">Next of kin</p>
    {% if contact.emergencyContact %}
      <p class="govuk-body govuk-!-margin-bottom-1">Emergency contact</p>
    {% endif %}

    {{ govukSummaryList({
      rows: activeContactsPersonalRows
    }) }}
  {% endfor%}
{% else %}
  <p class="govuk-body">None</p>
{% endif %}

<h3 class="govuk-heading-m">Professional</h3>

{% if activeContacts.professional.length %}
  {% for contact in activeContacts.professional %}
    {% set activeContactsProfessionalRows = [] %}

    {% for contactDetail in contact.details %}

      {% if contactDetail.html %}
        {% set value = {html: contactDetail.html | showDefault(missingValueText)} %}
      {% else %}
        {% set value = {text: contactDetail.value | showDefault(missingValueText)} %}
      {% endif %}

      {% set activeContactsProfessionalRows = (activeContactsProfessionalRows.push(
        {
          key: {
            text: contactDetail.label,
            classes: 'govuk-summary-list__key--indent'
          },
          value: value
        }
      ), activeContactsProfessionalRows) %}
    {% endfor %}

    <h3 class="govuk-summary-list-title govuk-heading-s govuk-!-padding-bottom-1">{{ contact.name }}</h3>

    {{ govukSummaryList({
      rows: activeContactsProfessionalRows
    }) }}
  {% endfor%}
{% else %}
  <p class="govuk-body">None</p>
{% endif %}
