{% from "../../macros/prisonerSummarySection.njk" import prisonerSummarySection %}

{% for address in addresses %}
  <h3 class="govuk-summary-list-title govuk-heading-s govuk-!-padding-bottom-1">{{ address.label }}</h3>
  
  {% if address.noFixedAddress %}
    <p class="govuk-body" data-test="no-fixed-abode">No fixed abode</p>
  {% elif address.details.length %}
    {% for addressType in address.types %}
      <p class="govuk-body govuk-!-margin-bottom-1" data-test="address-type">{{ addressType }}</p>
    {% endfor %}

    {{ prisonerSummarySection(address.details, indentKey = true) }}
  {% else %}
    <p class="govuk-body">{{ address.noAddressMessage }}</p>
  {% endif %}
{% endfor %}
