{% from "../../macros/prisonerSummarySection.njk" import prisonerSummarySection %}

{% for address in addresses %}
  <h3 class="govuk-summary-list-title govuk-heading-s govuk-!-padding-bottom-1">{{ address.label }}</h3>
  {% for addressType in address.types %}
    <p class="govuk-body govuk-!-margin-bottom-1" data-test="address-type">{{ addressType }}</p>
  {% endfor %}

  {% if address.noFixedAddress %}
    <p class="govuk-body">No fixed abode</p>
  {% elif address.details.length %}
    {{ prisonerSummarySection(address.details) }}
  {% else %}
    <p class="govuk-body">{{ address.noAddressMessage }}</p>
  {% endif %}
{% endfor %}
