{% set aliasesRows = [] %}

{% for alias in aliases %}
  {% set aliasesRows = (aliasesRows.push(
    {
      key: {
        text: alias.label,
        classes: "govuk-!-font-weight-regular"
      },
      value: {
        text: alias.value | showDefault
      }
    }
  ), aliasesRows) %}
{% endfor %}

{% if aliasesRows.length %}
  {{ govukSummaryList({
    rows: aliasesRows
  }) }}
{% else %}
  <p class="govuk-body">None</p>
{% endif %}