{% set identifierRows = [] %}

{% for identifier in identifiers %}
  {% if identifier.value or identifier.alwaysShow %}
    {% set identifierRows = (identifierRows.push(
      {
        key: {
          text: identifier.label
        },
        value: {
          text: identifier.value | showDefault(missingEntry)
        }
      }
    ), identifierRows) %}
  {% endif %}
{% endfor %}

{{ govukSummaryList({
  rows: identifierRows
}) }}