
{% if languages.noPreferredLanguageEntered %}
    <p class="govuk-body">No language entered </p>
{% endif %}

{% if languages.speaksAndWritesSamePreferredLanguage %}
    <div class="govuk-body govuk-!-font-size-19">
        <b>{{ languages.language }}</b> {% if languages.interpreterRequired %} - interpreter required {% endif %}
    </div>
{% endif %}

{% if languages.writesOnlyInPreferredLanguage %}
    <div class="govuk-body govuk-!-font-size-19">
        <b>{{ languages.writtenLanguage }}</b> (writes)
    </div>
{% endif %}

{% if languages.speaksOnlyInPreferredLanguage %}
    <div class="govuk-body govuk-!-font-size-19">
        <b>{{ languages.language }}</b>  {% if languages.interpreterRequired %} - interpreter required {% endif %}
    </div>
{% endif %}

{% if languages.speaksAndWritesDifferentPreferredLanguages %}
    <div class="govuk-body govuk-!-font-size-19" data-test="language-speaks-different">
        <b>{{ languages.language }}</b> {% if languages.interpreterRequired %} - interpreter required {% endif %}
    </div>

    <div class="govuk-body govuk-!-font-size-19" data-test="language-written-different">
        <b>{{ languages.writtenLanguage }}</b> (writes)
    </div>
{% endif %}

{% if languages.secondaryLanguages.length > 0 %}
    <h3 class="govuk-summary-list-title govuk-heading-s">Other languages</h3>
    {{ govukSummaryList({
        rows: languages.secondaryLanguages
    }) }}
{% endif %}
