<div class="govuk-hint govuk-!-margin-bottom-6">
    This is self-declared by the prisoner
</div>

<div class="govuk-hint govuk-!-margin-bottom-6">
    Also known as learning difficulties and disabilities (LDD).
</div>

{% set lddHealthProblems = [] %}

{% set learnerProfiles = learnerProfiles.content %}
{% if learnerProfiles and learnerProfiles.length > 0 %}
    {% for learnerProfile in learnerProfiles %}
        {% if learnerProfile.lddHealthProblem %}
            {% set lddHealthProblems = (
                lddHealthProblems.push(learnerProfile.lddHealthProblem),
                lddHealthProblems
            ) %}
        {% endif %}
    {% endfor %}
{% else %}
    <p class="govuk-body">No data found.</p>
{% endif %}


{% if learnerProfiles.length > 0 %}
    {% for lddHealthProblem in lddHealthProblems %}
        <p class="govuk-body">
            {{ lddHealthProblem }}
        </p>
    {% endfor %}
{% else %}
    <p class="govuk-body">None</p>
{% endif %}