<div class="govuk-hint govuk-!-margin-bottom-6">
    This is self-declared by the prisoner.
</div>

<div class="govuk-hint govuk-!-margin-bottom-6">
    Neurodiversity is also known as learning difficulties and disabilities (LDD).
</div>

{% set lddHealthProblems = [] %}

{% set learningDifficulty = learningDifficulty.content %}

{% if not learningDifficulty and learningDifficulty !== '' %}
    <p class="govuk-body">No data found.</p>
    {% elif learningDifficulty and learningDifficulty !== '' %}
    <p class="govuk-body">
        {{ learningDifficulty }}
    </p>
{% else %}
    <p class="govuk-body">None</p>
{% endif %}