{% if professionalContacts.length %}
  {% for contact in professionalContacts %}
    <div class="professional-contact">
      <h3 class="govuk-summary-list-title govuk-heading-s govuk-!-padding-bottom-1">{{ contact.firstName | capitalize }} {{contact.lastName | capitalize}}</h3>
      <p class="govuk-body govuk-!-margin-bottom-1">{{ contact.relationshipDescription }}</p>
    </div>
  {% endfor%}

  <div class="govuk-!-margin-top-3">
    <a href="professional-contacts" class="govuk-link govuk-!-font-size-19">View all professional contacts and their contact details</a>
  </div>
{% else %}
  <p class="govuk-body">None</p>
{% endif %}
