{% set propertyRows = [] %}

{% if personalDetails.property.length %}
  {% for item in personalDetails.property %}
    {% set propertyRows = (propertyRows.push(
      {
        key: {
          text: item.label
        },
        value: {
          text: item.value | showDefault
        }
      }
    ), propertyRows) %}

    {% if item.details.length %}
      {% for itemDetail in item.details %}
        {% set propertyRows = (propertyRows.push(
          {
            key: {
              text: itemDetail.label,
              classes: 'govuk-summary-list__key--indent'
            },
            value: {
              text: itemDetail.value | showDefault(missingEntry)
            }
          }
        ), propertyRows) %}
      {% endfor %}
    {% endif %}
  {% endfor%}
{% else %}
  {% set propertyRows = (propertyRows.push(
    {
      key: {
        text: 'Property'
      },
      value: {
        text: 'None'
      }
    }
  ), propertyRows) %}
{% endif %}

{{ govukSummaryList({
  rows: propertyRows
}) }}
