{% extends "../layouts/prisonerLayout.njk" %}
{% from "../macros/prisonerSummarySection.njk" import prisonerSummarySection %}
{% from "../macros/prisonerAccordionSection.njk" import accordionSection %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set title = "Personal" %}
{% set containerClasses = "prisoner-profile" %}
{% set missingEntry = "Not entered" %}

{% set physicalCharacteristicsContent %}
  <div data-test="physical-characteristics-summary">
    {% include "./partials/physicalCharacteristics.njk" %}
  </div>
{% endset %}

{% set distinguishingMarksContent %}
  <div data-test="distinguishing-marks-summary">
    {% include "./partials/distinguishingMarks.njk" %}
  </div>
{% endset %}

{% set aliasesContent %}
  <div data-test="aliases-summary">
    {% include "./partials/aliases.njk" %}
  </div>
{% endset %}

{% set identifierContent %}
  <div data-test="identifiers-summary">
    {{ prisonerSummarySection(identifiers) }}
  </div>
{% endset %}

{% set personalContent %}
  <div data-test="personal-summary">
    {{ prisonerSummarySection(personalDetails.primary) }}
    {{ prisonerSummarySection(personalDetails.secondary) }}
    {{ prisonerSummarySection(personalDetails.tertiary) }}
    {{ prisonerSummarySection(personalDetails.receptionWarnings) }}
    {{ prisonerSummarySection(personalDetails.listener) }}
    {{ prisonerSummarySection(personalDetails.domesticAbuse) }}
    {% include "./partials/property.njk" %}
  </div>
{% endset %}

{% set personalContactsContent %}
  <div data-test="personal-contacts-summary">
    {% include "./partials/personalContacts.njk" %}
  </div>
{% endset %}

{% set professionalContactsContent %}
  <div id="professional-contacts" data-test="professional-contacts-summary">
    {% include "./partials/professionalContacts.njk" %}
  </div>
{% endset %}

{% set languages %}
  <div data-test="languages-summary">
    {% include "./partials/languages.njk" %}
  </div>
{%  endset %}

{% set addressesContent %}
  <div data-test="addresses-summary">
    {% include "./partials/addresses.njk" %}
  </div>
{% endset %}

{% set careNeedsContent %}
  <div data-test="care-needs-summary">
    {% include "./partials/careNeedsAndAdjustments.njk" %}
  </div>
{% endset %}

{% set leftSections = [
    { heading: 'Personal details', html: personalContent },
    { heading: 'Physical characteristics', html: physicalCharacteristicsContent },
    { heading: 'Distinguishing marks', html: distinguishingMarksContent },
    { heading: 'Personal care needs', html: careNeedsContent },
    { heading: 'Languages', html: languages }
  ]
%}

{% set rightSections = [
    { heading: 'Aliases', html: aliasesContent },
    { heading: 'Identifiers', html: identifierContent },
    { heading: "Prisoner's addresses", html: addressesContent },
    { heading: 'Personal contacts', html: personalContactsContent },
    { heading: 'Professional contacts', html: professionalContactsContent }
  ]
%}

{% block prisonerProfileSection %}
  <div class="govuk-accordion govuk-accordion--split" data-module="govuk-accordion" id="prisoner-accordion">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        {% for section in leftSections %}
          {{ accordionSection(section.heading, section.html, loop.index) }}
        {% endfor %}
      </div>

      <div class="govuk-grid-column-one-half">
        {% for section in rightSections %}
          {% set overallIndex = leftSections.length + loop.index %}
          {{ accordionSection(section.heading, section.html, overallIndex) }}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
