{% extends "../../partials/layout.njk" %}
{% from "../../macros/printLink.njk" import printLink %}
{% from "../macros/prisonerScheduledActivities.njk" import scheduledActivities %}

{% set title = 'Schedule' %}
{% set htmlClasses = "printed-page" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: dpsUrl
      },
      {
        text: breadcrumbPrisonerName,
        href: '/prisoner/' + offenderNo
      },
      {
        text: title
      }
    ],
    classes: 'govuk-!-display-none-print'
  }) }}
{% endblock %}

{% block content %}
  {% set firstDay = days | first %}
  {% set lastDay = days | last %}
  <div class="prisoner-schedule">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-1">{{ prisonerName | possessive | safe }} schedule</h1>
    <p class="govuk-body govuk-!-font-size-24" data-test="schedule-dates">{{ firstDay.date }} to {{ lastDay.date }}</p>

    <div>
      {{ printLink() }}
    </div>

    {% set linkText = 'View 7 days from ' + nextWeekStartDate if when === nextWeek else 'View 7 days from today'  %}
    {% set linkLocation = './schedule?when=nextWeek' if when === nextWeek else './schedule'  %}

    <a class="govuk-body govuk-link govuk-link--no-visited-state govuk-!-display-none-print" href="{{ linkLocation }}" data-test="schedule-select-week">
      {{ linkText }}
    </a>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    {% for day in days %}
      <div class="prisoner-schedule__day" data-test="schedule-day">
        <h2 class="govuk-heading-m">{{ day.date }}</h2>

        <div class="prisoner-schedule__periods">
          <div class="prisoner-schedule__periods__period" data-test="schedule-period">
            <h3 class="govuk-heading-s">Morning</h3>
            <div class="prisoner-schedule-events prisoner-schedule-events--morning govuk-body" data-test="schedule-morning-events">
              {{ scheduledActivities(day.periods.morningActivities) }}
            </div>
          </div>

          <div class="prisoner-schedule__periods__period">
            <h3 class="govuk-heading-s">Afternoon</h3>
            <div class="prisoner-schedule-events prisoner-schedule-events--afternoon govuk-body" data-test="schedule-afternoon-events">
              {{ scheduledActivities(day.periods.afternoonActivities) }}
            </div>
          </div>

          <div class="prisoner-schedule__periods__period">
            <h3 class="govuk-heading-s">Evening</h3>
            <div class="prisoner-schedule-events prisoner-schedule-events--evening govuk-body" data-test="schedule-evening-events">
              {{ scheduledActivities(day.periods.eveningActivities) }}
            </div>
          </div>
        </div>
      </div>

      {% if not loop.last %}
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      {% endif %}
    {% endfor %}

    {{ printLink() }}
  </div>
{% endblock %}