@import "colours/palette";

.dateInputResults {
  width: 100%;
}

.rightHandSide {
  float: right
}

.sortableLink, .sortableLink:hover {
  text-decoration: none;
  color: $link-colour;
}

.no-padding {
  padding: 0;
}

@mixin checkboxMixin {
  content: "";
  border: 2px solid;
  background: transparent;
  width: 17px;
  height: 17px;
  position: absolute;
  top: -3px;
  left: 14px;
}

@mixin tickMixin {
  content: "";
  border: solid;
  border-width: 0 0 3px 3px;
  background: transparent;
  border-top-color: transparent;
  width: 8px;
  height: 3px;
  position: absolute;
  top: 3px;
  left: 19px;
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  zoom: 1;
  filter: alpha(opacity=0);
  opacity: 0;
}


/* box */
.whereaboutsCheckbox [type=checkbox] + label::before {
  @include checkboxMixin;
}
/* tick */
.whereaboutsCheckbox [type=checkbox] + label::after {
  @include tickMixin;
}

th.straight {
  padding-bottom: 10px;
  vertical-align: bottom;
}

.print-icon {
  position: relative;
  top: 4px;
  left: -2px;
}

tbody > tr + td {
  padding-left: .7em;
  color: red;
}


@media screen {

  /* from https://css-tricks.com/rotated-table-column-headers */
  th.rotate {
    /* Something you can count on */
    height: 6em;
    padding: 0 0 10px 0;
    vertical-align: bottom;
  }
  th.rotate > div {
    transform:
            /* Magic Numbers */
            translate(15px, 0px)
              /* 45 is really 360 - 45 */
            rotate(315deg);
    width: 30px;
  }
  th.rotate > div > span {
    padding: 5px 10px;
  }

  td.small-font {
    font-size: 14px;
    padding-right: 1px;
  }

  .no-display {
    display: none;
  }

}


@media print {

  tbody > tr > td:nth-of-type(7) {
    padding-right: .4em;
  }

  .sortableLink {
    color: black;
  }

  .FooterContainer, .page-header, img, #buttons, #updateButton, .no-print {
    display: none;
  }

  .whereabouts-title {
    width: auto;
    display: inline-block;
    margin: 0;
    font-size: 24px;
    padding-right: 1em;
  }

  .prison-title {
    width: auto;
    display: inline-block;
    font-size: 20px;
  }

  .whereabouts-date {
    width: auto;
    display: inline-block;
    font-size: 20px;
    float: right;
  }

  hr {
    margin: 1px;
  }

  .content {
    margin-left: 15px;
    margin-right: 15px;
  }

  .checkbox-column {
    width: 30px;
  }

  div.multiple-choice {
    padding: 0;
  }

  .row-gutters {
    padding: 3px 10px 3px 0;
  }

  th, td {
    border-bottom-width: 0 !important;
  }

  th.straightPrint {
    padding-bottom: 10px;
    vertical-align: bottom;
  }

  /* box */
  .whereaboutsCheckbox [type=checkbox] + label::before {
    @include checkboxMixin;
    top: 1px;
    left: 1px;
    width: 10px;
    height: 10px;
    border: 1.3px solid;
  }
  /* tick */
  .whereaboutsCheckbox [type=checkbox] + label::after {
    @include tickMixin;
    left: 1px;
  }


}

@media screen {
  .checkbox-header {
    padding-left: .8em;
  }
}
