{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro prisonerSummarySection(array = [], missingValueText = 'Not entered', attributes = {}, indentKey = false) %}
  {% set rows = [] %}
  {% set indentClass = "govuk-summary-list__key--indent" if indentKey %}

  {% for detail in array %}

    {% if detail.html %}
      {% set value = {html: detail.html | showDefault(missingValueText)} %}
    {% else %}
      {% set value = {text: detail.value | showDefault(missingValueText)} %}
    {% endif %}

    {% set rows = (rows.push(
      {
        key: {
          text: detail.label,
          classes: indentClass
        },
        value: value
      }
    ), rows) %}
  {% endfor %}

  {% if rows.length %}
    {{ govukSummaryList({
      rows: rows,
      attributes: attributes
    }) }}
  {% endif %}
{% endmacro %}
