{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro prisonerSummarySection(array, missingValueText = 'Not entered', attributes = {}) %}
  {% set rows = [] %}

  {% for detail in array %}
    {% set rows = (rows.push(
      {
        key: {
          text: detail.label
        },
        value: {
          text: detail.value | showDefault(missingValueText)
        }
      }
    ), rows) %}
  {% endfor %}

  {% if rows.length %}
    {{ govukSummaryList({
      rows: rows,
      attributes: attributes
    }) }}
  {% endif %}
{% endmacro %}
