{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro headerItem(label, content) %}
  <li>
    <strong>{{ label }}</strong>
    <br>
    {{ content | showDefault | safe}}
  </li>
{% endmacro %}

{% set alertNumbersHtml %}
  <a class="alerts-link" href={{ "/prisoner/" + prisonerProfileData.offenderNo + "/alerts" }}>
    <span class="alerts-link__active">{{ prisonerProfileData.activeAlertCount }} active</span>
    <span class="alerts-link__inactive">{{ prisonerProfileData.inactiveAlertCount }} inactive</span>
  </a>
{% endset %}

{% set incentiveLevelHtml %}
  <span>{{ prisonerProfileData.incentiveLevel }}</span>
  {% if prisonerProfileData.userCanEdit %}
    <br>
    <a data-qa="iep-details-link" class="govuk-link" href="{{ '/offenders/' + prisonerProfileData.offenderNo + '/incentive-level-details' }}">
      Incentive details
    </a>
  {% endif %}
{% endset %}

{% set categoryHtml %}
  <span>{{ prisonerProfileData.category }}</span>
  {% if prisonerProfileData.categorisationLinkText %}
    <br>
    <a data-qa="categorisation-external-link" class="govuk-link" href="{{ prisonerProfileData.categorisationLink }}">
      {{ prisonerProfileData.categorisationLinkText }}
    </a>
  {% endif %}
{% endset %}

{% set locationHtml %}
  {{ prisonerProfileData.location}}
  <br>
  {{ prisonerProfileData.agencyName}}
{% endset %}


<h1 class="govuk-heading-l">{{ prisonerProfileData.offenderName }}</h1>

<div class="prisoner-header">
  <div class="prisoner-header__image-container">
    <img src="{{ '/app/images/' + prisonerProfileData.offenderNo + '/data' }}" alt="{{ 'Picture of ' + prisonerProfileData.offenderName }}"  class="prisoner-image" />
  </div>

  <div class="prisoner-header__details">
    {% if prisonerProfileData.alerts.length %}
      <ul class="prisoner-header__details__alerts">
        {% for alert in prisonerProfileData.alerts %}
          <li class="{{ alert.classes }}">
            {% if alert.img %}
              <img src="{{ alert.img }}" class="{{ alert.imgClass }}" alt="{{ alert.label }}"/>
            {% endif %}
            {{ alert.label }}
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    <ul class="prisoner-header__details__information">
      {{ headerItem('Prison number', prisonerProfileData.offenderNo) }}
      {{ headerItem('Key worker', prisonerProfileData.keyWorkerName) }}
      {{ headerItem('Last session', prisonerProfileData.keyWorkerLastSession) }}
      {{ headerItem('Incentive level', incentiveLevelHtml) }}
      {{ headerItem('CSRA', prisonerProfileData.csra) }}
      {{ headerItem('Category', categoryHtml) }}
      {{ headerItem('Alerts', alertNumbersHtml) }}
      {{ headerItem('Location', locationHtml) }}
    </ul>

    <div class="prisoner-header__details__actions">
      {{ govukButton({
        text: "Add case note",
        element: "a",
        classes: "prisoner-header__button",
        href: "/"
      }) }}

      {{ govukButton({
        text: "Add appointment",
        element: "a",
        classes: "prisoner-header__button",
        href: "/"
      }) }}

      {{ govukButton({
        text: "Review category",
        element: "a",
        classes: "prisoner-header__button",
        href: "/"
      }) }}
    </div>
  </div>
</div>
