{% if prisonerProfileData.displayRetentionLink %}
  <div class="prisoner-footer">
    <p class="govuk-body" data-test="data-retention-record-details">
      <strong>Prevent removal of this offender record:</strong>
      {{ 'Yes' if prisonerProfileData.offenderRecordRetained else 'Not set' }} - 
      <a href="{{ '/offenders/' + prisonerProfileData.offenderNo + '/retention-reasons' }}" class="govuk-link">
        {{ 'View reasons / update' if prisonerProfileData.offenderRecordRetained else 'Update' }}
      </a>
    </p>
  </div>
{% endif %}