{% extends "../layouts/prisonerLayout.njk" %}
{% from "../macros/prisonerSummarySection.njk" import prisonerSummarySection %}
{% from "../macros/prisonerAccordionSection.njk" import accordionSection %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set title = "Sentence and Release" %}
{% set containerClasses = "prisoner-profile" %}

{% set noReleaseDates = not (releaseDates.currentExpectedReleaseDates.length or
    releaseDates.earlyAndTemporaryReleaseEligibilityDates.length or
    releaseDates.licenceDates.length or
    releaseDates.otherReleaseDates.length) %}

{% set releaseDatesContent %}
    {% if noReleaseDates %}
        <p class="govuk-body" data-test="no-release-dates-message">There are no recorded release dates for this
            prisoner</p>
    {% else %}
        {% if releaseDates.currentExpectedReleaseDates.length %}
            <h3 class="govuk-heading-m" data-test="current-expected-heading">Current expected release dates</h3>
            {{ prisonerSummarySection(releaseDates.currentExpectedReleaseDates, 'Not entered', { "data-test": "current-expected" }) }}
        {% endif %}

        {% if releaseDates.earlyAndTemporaryReleaseEligibilityDates.length %}
            <h3 class="govuk-heading-m" data-test="early-temporary-heading">Early and temporary release dates</h3>
            {{ prisonerSummarySection(releaseDates.earlyAndTemporaryReleaseEligibilityDates, 'Not entered', { "data-test": "early-temporary" }) }}
        {% endif %}

        {% if releaseDates.licenceDates.length %}
            <h3 class="govuk-heading-m" data-test="licence-dates-heading">Licence dates</h3>
            {{ prisonerSummarySection(releaseDates.licenceDates, 'Not entered', { "data-test": "licence-dates" }) }}
        {% endif %}

        {% if releaseDates.otherReleaseDates.length %}
            <h3 class="govuk-heading-m" data-test="other-release-dates-heading">Other dates</h3>
            {{ prisonerSummarySection(releaseDates.otherReleaseDates, 'Not entered', { "data-test": "other-release-dates" }) }}
        {% endif %}
    {% endif %}
{% endset %}

{% set currentSentenceDetails %}
    {%  if showSentences == false %}
        <p class="govuk-body" data-test="no-sentence-data-message">
            There are no current sentence details for this prisoner.
        </p>
    {% endif %}
    {% if showSentences  %}
    <div>
        <p class="govuk-body govuk-!-margin-bottom-4">Contact your Offender Management Unit for specific sentence breakdown.</p>
    </div>
    {{ prisonerSummarySection([{label: 'Effective sentence end date', value: effectiveSentenceEndDate}], 'Not entered', { "data-test": "effective-sentence-end-date" },false) }}

    {% for courtCase in courtCases %}
        <h2 class="govuk-heading-m govuk-!-margin-bottom-1" data-test="case-number">Case Number
            - {{ courtCase.caseInfoNumber }}</h2>
        <div class="govuk-!-margin-bottom-1">
            <b class="govuk-body govuk-!-font-weight-bold"
               data-test="court-name"> {{ courtCase.courtName }} </b>
            </div>
        <div>
            <b class="govuk-body govuk-!-font-weight-bold"> Sentence date </b>
            <span class="govuk-body" data-test="sentence-date"> {{ courtCase.sentenceDate }} </span>
        </div>

        {% if courtCase.offences.length == 1 %}
            <div class="govuk-!-margin-top-3 govuk-!-margin-bottom-3">
                <b class="govuk-body govuk-!-font-weight-bold govuk-!-margin-right-1" data-test="offence-header"> Offence</b> <span class="govuk-body" data-test="inline-offence-description"> {{ courtCase.offences[0] }} </span>
            </div>
        {% endif %}

        {% if courtCase.offences.length > 1 %}
            <div>
                <h3 class="govuk-heading-s govuk-!-margin-top-3"> Offences </h3>
                {% for offence in courtCase.offences %}
                    <p class="govuk-body govuk-!-margin-left-9" data-test="offence-description"> {{ offence }} </p>
                {% endfor %}
            </div>
        {% endif %}

        {% for sentence in courtCase.sentenceTerms %}
            <div class="govuk-!-margin-bottom-4">
                <b class="govuk-body govuk-!-font-weight-bold"
                   data-test="sentence-header"> {{ sentence.sentenceHeader }}</b> <span
                        class="govuk-body govuk-!-margin-left-1"
                        data-test="sentence-description"> {{ sentence.sentenceTypeDescription }} </span>
            </div>

            {{ prisonerSummarySection(sentence.summaryDetailRows, 'Not entered', { "data-test": "sentence-terms" },true) }}

        {% endfor %}
    {% endfor %}
    {% endif %}

    <h2 class="govuk-heading-m">Sentence adjustments</h2>
    {% if sentenceAdjustments.noSentenceAdjustments %}
        <p class="govuk-body" data-test="no-sentence-adjustments-message">There are no sentence adjustments</p>
    {% else %}
        {% if sentenceAdjustments.daysRemovedFromSentence.length > 0 %}
            <h3 class="govuk-heading-s" data-test="other-release-dates-heading">Days removed from sentence</h3>
            {{ prisonerSummarySection(sentenceAdjustments.daysRemovedFromSentence, 'Not entered', { "data-test": "sentence-adjustments-days-removed-section" },true) }}
        {% endif %}

        {% if sentenceAdjustments.daysAddedToSentence.length > 0 %}
            <h3 class="govuk-heading-s" data-test="other-release-dates-heading">Days added to sentence</h3>
            {{ prisonerSummarySection(sentenceAdjustments.daysAddedToSentence, 'Not entered', { "data-test": "sentence-adjustments-days-added-section" }, true) }}
        {% endif %}

        {% if sentenceAdjustments.unusedRemandTime.length > 0 %}
            {{ prisonerSummarySection(sentenceAdjustments.unusedRemandTime, 'Not entered', { "data-test": "sentence-adjustments-days-remaining-section" }) }}
        {% endif %}
    {% endif %}
{% endset %}



{% block prisonerProfileSection %}
    <div class="govuk-accordion govuk-accordion--split" data-module="govuk-accordion" id="prisoner-accordion">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                {{ accordionSection("Current sentence details", currentSentenceDetails, 0) }}
            </div>
            <div class="govuk-grid-column-one-half">
                {{ accordionSection("Release dates", releaseDatesContent, 1) }}
            </div>
        </div>
    </div>
{% endblock %}
