{% extends "../layouts/prisonerLayout.njk" %}
{% from "../macros/prisonerSummarySection.njk" import prisonerSummarySection %}
{% from "../macros/prisonerAccordionSection.njk" import accordionSection %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set title = "Sentence and Release" %}
{% set containerClasses = "prisoner-profile" %}

{% set noDates = not (releaseDates.currentExpectedReleaseDates.length or 
                releaseDates.earlyAndTemporaryReleaseEligibilityDates.length or 
                releaseDates.licenceDates.length or 
                releaseDates.otherReleaseDates.length) %}

{% set releaseDatesContent %}
  {% if noDates %}
    <p class="govuk-body">There are no recorded release dates for this prisoner</p>
  {% else %}
    {% if releaseDates.currentExpectedReleaseDates.length %}
    <h3 class="govuk-heading-m">Current expected release dates</h2>
    {{ prisonerSummarySection(releaseDates.currentExpectedReleaseDates) }}
    {% endif %}
    
    {% if releaseDates.earlyAndTemporaryReleaseEligibilityDates.length %}
      <h3 class="govuk-heading-m">Early and temporary release dates</h2>
      {{ prisonerSummarySection(releaseDates.earlyAndTemporaryReleaseEligibilityDates) }}
    {% endif %}

    {% if releaseDates.licenceDates.length %}
      <h3 class="govuk-heading-m">Licence dates</h2>
      {{ prisonerSummarySection(releaseDates.licenceDates) }}
    {% endif %}
    
    {% if releaseDates.otherReleaseDates.length %}
      <h3 class="govuk-heading-m">Other dates</h2>
      {{ prisonerSummarySection(releaseDates.otherReleaseDates) }}
    {% endif %}
  {% endif %}
{% endset %}




{% block prisonerProfileSection %}
  <div class="govuk-accordion govuk-accordion--split" data-module="govuk-accordion" id="prisoner-accordion">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        {{ accordionSection("Current sentence details", "", 0) }}
      </div>
      <div class="govuk-grid-column-one-half">
        {{ accordionSection("Release dates", releaseDatesContent, 1) }}
      </div>
    </div>
  </div>
{% endblock %}