.dateInput {
  width:9em;
}

.locationSelect {
  width:12em;
}

.no-padding {
  padding: 0;
}
/* box */
.whereaboutsCheckbox [type=checkbox] + label::before {
  content: "";
  border: 2px solid;
  background: transparent;
  width: 34px;
  height: 34px;
  position: absolute;
  top: -13px;
  left: 20px;
}
/* tick */
.whereaboutsCheckbox [type=checkbox] + label::after {
  content: "";
  border: solid;
  border-width: 0 0 5px 5px;
  background: transparent;
  border-top-color: transparent;
  width: 17px;
  height: 7px;
  position: absolute;
  top: -3px;
  left: 28px;
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  zoom: 1;
  filter: alpha(opacity=0);
  opacity: 0;
}

th.straight {
  padding-bottom: 10px;
  vertical-align: bottom;
}
/* from https://css-tricks.com/rotated-table-column-headers */
th.rotate {
  /* Something you can count on */
  height: 6em;
  padding: 0 0 10px 0;
  vertical-align: bottom;
}
th.rotate > div {
  transform:
          /* Magic Numbers */
          translate(25px, 0px)
            /* 45 is really 360 - 45 */
          rotate(315deg);
  width: 30px;
}
th.rotate > div > span {
  /*border-bottom: 1px solid #ccc*/;
  padding: 5px 10px;
}

td.small-font {
   font-size: 14px;
   padding-right: 1px;
}

@media print {
  .FooterContainer, .page-header, #buttons, #updateButton {
    display: none;
  }
  .content {
    margin-left: 15px;
    margin-right: 15px;
  }
}
