.dateInput {
  width:12em;
}

.locationSelect {
  width:12em;
}

th.rotate {
  /* Something you can count on */
  height: 140px;
  white-space: nowrap;
}

th.rotate > div {
  transform:
          /* Magic Numbers */
          translate(25px, 51px)
            /* 45 is really 360 - 45 */
          rotate(315deg);
  width: 30px;
}
th.rotate > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}
