{% extends "../partials/layout.njk" %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "components/datePicker/datePicker.njk" import datePicker %}
{%- from "moj/components/pagination/macro.njk" import mojPagination -%}

{% set title = 'Adjudication history' %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: "Home",
                href: notmUrl
            },
            {
                text: prisonerNameForBreadcrumb,
                href: prisonerProfileLink
            },
            {
                text: "Adjudications"
            }
        ]
    }) }}
{% endblock %}

{% block content %}
    {% if errors.length > 0 %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errors,
            attributes: { 'data-qa-errors': true }
        }) }}
    {% endif %}


    <h1 class="govuk-heading-l">{{ prisonerName | possessive | safe }} adjudication history </h1>

    <div class="govuk-!-padding-3 govuk-!-margin-bottom-5 form-background">
        <h2 class="govuk-heading-m">View by</h2>
        <form class="horizontal-form govuk-body govuk-!-margin-bottom-3" method="GET">
            {{ govukSelect({
                name: 'agencyId',
                id: 'agencyId',
                label: {
                    text: 'Establisment'
                },
                items: agencies | addDefaultSelectedVale('All', true) | setSelected(formValues.agencyId)
            }) }}

            {{ govukSelect({
                name: 'finding',
                id: 'finding',
                label: {
                    text: 'Finding'
                },
                items: findingTypes  | addDefaultSelectedVale('All', true) | setSelected(formValues.finding)
            }) }}


            {{ datePicker({
                id: 'fromDate',
                label: 'Date from',
                name: 'fromDate',
                date: formValues.fromDate,
                errorMessage: errors | findError('fromDate')
            }) }}

            {{ datePicker({
                id: 'toDate',
                label: 'Date to',
                name: 'toDate',
                date: formValues.toDate,
                errorMessage: errors | findError('toDate')
            }) }}

            {{ govukButton({
                text: "Apply",
                preventDoubleClick: true,
                type: "submit"
            }) }}

            <a href="{{ clearLink }}" class="govuk-link">Clear</a>
        </form>
    </div>

    {% if noRecordsFoundMessage != null and noAdjudicationsSelection == false %}
        <p class="govuk-body" data-qa="no-records-found-message"> {{ noRecordsFoundMessage }} </p>
    {% else %}
        {{ mojPagination(pagination) }}

        {% if noAdjudicationsSelection == true %}
            <p class="govuk-body" data-qa="no-records-found-message"> {{ noRecordsFoundMessage }} </p>
        {% endif %}

        {{ govukTable({
            head: [
                {
                    text: "Adjudication number"
                },
                {
                    text: "Report date and time"
                },
                {
                    text: "Establishment"
                },
                {
                    text: "Offence description"
                },
                {
                    text: "Finding"
                }
            ],
            rows: rows,
            attributes: { "data-qa": "adjudications-history-table" }
        }) }}

        {{ mojPagination(pagination) }}
    {% endif %}

{% endblock %}
