{% extends '../partials/layout.njk' %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set title = 'CSRA History' %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: 'Home',
                href: '/'
            },
            {
                text: breadcrumbPrisonerName,
                href: profileUrl
            },
            {
                text: title
            }
        ],
        classes: 'govuk-!-display-none-print'
    }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">CSRA History for {{ prisonerName }}</h1>

  <form novalidate="novalidate" class="form-background govuk-!-padding-3 govuk-!-margin-bottom-5 govuk-!-display-none-print" data-test="csra-form">
    <h2 class="govuk-heading-m">View by</h2>

    <div class="horizontal-form govuk-!-margin-bottom-3">
      {{ govukSelect({
        id: "csra",
        name: "csra",
        label: {
          text: "CSRA"
        },
        items: csraOptions | addDefaultSelectedVale('All', true) | setSelected(formValues.csra),
        attributes: {
          "data-test": "csra-select"
        }
      }) }}

      {{ govukSelect({
        id: "location",
        name: "location",
        label: {
          text: "Location"
        },
        items: locationOptions | addDefaultSelectedVale('All', true) | setSelected(formValues.location),
        attributes: {
          "data-test": "location-select"
        }
      }) }}

      {{ govukButton({
        text: "Apply",
        type: "submit"
      }) }}

      <a href="./csra-history" class="govuk-body govuk-link govuk-link--no-visited-state govuk-!-padding-bottom-1">Clear</a>
    </div>
  </form>

  {% if rows.length %}
    {{ govukTable({
      head: [
        { text: "Date" },
        { text: "CSRA" },
        { text: "Location" },
        { text: "Comments" }
      ],
      rows: rows,
      attributes: { "data-test": "csra-table" }
    }) }}
  {% else %}
    <p class="govuk-body" data-qa="no-results-message">There are no CSRAs to display.</p>
  {% endif %}

{% endblock %}