{% extends "../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{%- from "moj/components/pagination/macro.njk" import mojPagination -%}

{% set title =  "Location details" %}

{% set rows = [] %}
{% for cell in cellData %}
  {% set rows = (rows.push([  
    {
      text: cell.establishment
    },
    {
      text: cell.location
    },
    {
      text: cell.movedIn
    },
    {
      text: cell.movedOut
    },
    {
      html: '<a href="' + './location-history?fromDate=' + cell.assignmentDateTime + '&toDate=' + cell.assignmentEndDateTime + '&locationId=' + cell.livingUnitId + '&agencyId=' + cell.agencyId + '" class="govuk-link">View details</a>'
    }
  ]), rows) %}
{% endfor %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: dpsUrl
      },
      {
        text: breadcrumbPrisonerName,
        href: profileUrl
      },
      {
        text: 'Location details'
      }
    ],
    classes: 'govuk-!-display-none-print'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-l">{{ prisonerName | possessive | safe }} location details</h1>
    </div>
    {% if canViewCellMoveButton %}
      <div class="govuk-grid-column-one-quarter pull-right">
        {{ govukButton({
          href: changeCellLink,
          text: "Change cell",
          preventDoubleClick: true,
          classes: "govuk-button",
          attributes: {
            "data-test": 'cell-move-button'
          }
          }) }}
      </div>
    {% endif %}
  </div>
  <h2 class="govuk-heading-m">Current location</h2>
  <div class="horizontal-information horizontal-information--with-border">
    <div class="horizontal-information__item">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Establishment</h3>
      <p class="govuk-body" data-test="establishment"> {{ currentLocation.establishment }} </p>
    </div>
    <div class="horizontal-information__item">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Location</h3>
      <p class="govuk-body" data-test="location"> {{ currentLocation.location }} </p>
    </div>
    <div class="horizontal-information__item">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Moved in</h3>
      <p class="govuk-body" data-test="moved-in"> {{ currentLocation.movedIn }} </p>
    </div>
    {% if occupants.length %}
      <div class="horizontal-information__item">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Currently sharing with</h3>
        {% for occupant in occupants %}
          <p class="govuk-body" data-test="occupants">
            <a class="govuk-link" href={{occupant.profileUrl}}>{{ occupant.name }}</a>
          </p>
        {% endfor %}
      </div>
    {% endif %}
    <div class="horizontal-information__item">
      <a href="{{ './location-history?fromDate=' + currentLocation.assignmentDateTime + '&toDate=' + currentLocation.assignmentEndDateTime + '&locationId=' + currentLocation.livingUnitId + '&agencyId=' + currentLocation.agencyId }}" class="govuk-link govuk-body" data-test="cell-details-link">
      View details
      </a>
    </div>
  </div>

  <h2 class="govuk-heading-m">Previous locations</h2>
  {% if rows.length %}
      {{ govukTable({
        head: [
          { text: "Establishment" },
          { text: "Location" },
          { text: "Moved in" },
          { text: "Moved out" },
          { html: '<span class="govuk-visually-hidden">Details link</span>' }
        ],
        rows: rows,
        attributes: { "data-test": "prisoner-cell-history" }
      }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p class="govuk-body">
        <a class="govuk-link" href={{ profileUrl }} data-test="back-link">Return to prisoner profile</a>
      </p>
    </div>
  </div>
  
{% endblock %}