{% extends "../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set title = "Picture of " + offenderNo %}

{% block content %}
  <div class="prisoner-full-image">
    <div>
      <img src="{{ '/app/images/' + offenderNo + '/data?fullSizeImage=true' }}" alt="{{ 'Picture of ' + offenderName }}"/>
    </div>

    {{ govukButton({
      text: "Back",
      element: "a",
      href: backUrl,
      classes: "govuk-button--secondary govuk-!-display-none-print"
    }) }}
  </div>
{% endblock %}
