{% extends "./layouts/prisonerLayout.njk" %}
{% from "components/datePicker/datePicker.njk" import datePicker %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set title = "Alerts" %}
{% set containerClasses = "prisoner-profile" %}


{% block prisonerProfileSection %}
  <h2 class="govuk-heading-m">View by</h2>
  <form class="horizontal-form govuk-!-display-none-print">
    {{ govukSelect({
      name: 'alertType',
      id: 'alertType',
      label: {
          text: "Type of alert"
      },
      items: alertTypeValues | addDefaultSelectedVale('Select', true) | setSelected(alertType),
      errorMessage: errors | findError(alertType)
    }) }}

    {{ datePicker({
      id: 'fromDate',
      label: 'Date from',
      name: 'fromDate',
      date: fromDate,
      errorMessage: errors | findError('fromDate')
    }) }}

    {{ datePicker({
      id: 'toDate',
      label: 'Date to',
      name: 'toDate',
      date: toDate,
      errorMessage: errors | findError('toDate')
    }) }}

    {{ govukButton({
      text: "Apply",
      preventDoubleClick: true,
      type: "submit"
    }) }}

    <a href="./alerts" class="govuk-link govuk-link--no-visited-state govuk-!-padding-bottom-1 govuk-body govuk-!-margin-left-3">Clear</a>
  </form>

  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-one-quarter">
      <h3 class="govuk-heading-m">1 - {{totalAlerts}} of {{totalAlerts}}</h3>
    </div>
    <div class="govuk-grid-column-one-quarter">
    </div>
    <div class="govuk-grid-column-one-quarter">
    </div>
    <div class="govuk-grid-column-one-quarter">
      {{ govukButton({
      href: "./create-alert",
      text: "Create alert"
      }) }}
    </div>
  </div>

  <h2 class="govuk-heading-m">Active alerts</h2>

    {{ govukTable({
      head: [
        {
          text: "Type of alert"
        },
        {
          text: "Alert"
        },
        {
          text: "Comments"
        },
        {
          text: "Date from"
        },
        {
          text: "Created by"
        },
        {
          text: " "
        }
      ],
      rows: activeAlerts,
      attributes: { "data-qa": "active-alerts-table" }
    }) }}

  <h2 class="govuk-heading-m">Inactive alerts</h2>
    {{ govukTable({
      head: [
        {
          text: "Type of alert"
        },
        {
          text: "Details"
        },
        {
          text: "Comments"
        },
        {
          html: "Date from /<br>date closed"
        },
        {
          html: "Created by /<br>closed by"
        }
      ],
      rows: inactiveAlerts,
      attributes: { "data-qa": "inactive-alerts-table" }
    }) }}
  
{% endblock %}