{% extends "../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set title =  "Location history" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: dpsUrl
      },
      {
        text: breadcrumbPrisonerName,
        href: profileUrl
      },
      {
        text: 'Location details',
        href: profileUrl + '/cell-history'
      },
      {
        text: title
      }
    ],
    classes: 'govuk-!-display-none-print'
  }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l" data-test="title">{{ prisonerName | possessive | safe }} history in location {{ locationName }}</h1>

  <h2 class="govuk-heading-m">Location details</h2>

  <div class="horizontal-information horizontal-information--with-border">
    <div class="horizontal-information__item">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Location</h3>
      <p class="govuk-body" data-test="establishment">
        {{ locationDetails.description }}
      </p>
    </div>
    <div class="horizontal-information__item">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Moved in</h3>
      <p class="govuk-body" data-test="moved-in">
        {{ locationDetails.movedIn }}
      </p>
    </div>
    <div class="horizontal-information__item">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Moved out</h3>
      <p class="govuk-body" data-test="moved-out">
        {{ locationDetails.movedOut }}
      </p>
    </div>
    <div class="horizontal-information__item">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Cell type</h3>
      <p class="govuk-body" data-test="cell-type">
        {{ locationDetails.attributes | join(', ', 'description') | safe }}
      </p>
    </div>
  </div>

  {% set rows = [] %}
  {% for prisoner in locationSharingHistory %}
    {% set rows = (rows.push([  
      {
        html: '<a href="/prisoner/' + prisoner.number + '" class="govuk-link" target="_blank" rel="noopener noreferrer">' + prisoner.name + ' (opens in a new tab)</a>' if prisoner.shouldLink,
        text: prisoner.name
      },
      {
        text: prisoner.number
      },
      {
        text: prisoner.movedIn
      },
      {
        text: prisoner.movedOut
      }
    ]), rows) %}
  {% endfor %}

  {% if rows.length %}
    <h2 class="govuk-heading-m">Shared with</h2>
    
    {{ govukTable({
      head: [
        { text: "Name" },
        { text: "Prison number" },
        { text: "Moved in" },
        { text: "Moved out" }
      ],
      rows: rows,
      attributes: { "data-test": "prisoner-location-history" }
    }) }}
  {% else %}
    <p class="govuk-body" data-test="no-history-message">{{ prisonerName }} has not shared this cell with anyone else.</p>
  {% endif %}

  <a href="{{ profileUrl + '/cell-history' }}" class="govuk-link govuk-body">
    Return to location details
  </a>
{% endblock %}
