{% extends "../partials/layout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set title = "Quick Look" %}

{% block content %}
  {% include "./partials/prisonerProfileHeader.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h3 class="govuk-heading-m">Offences</h3>
      
      {% set offenceRows = [] %}

      {% for offence in offenceDetails %}
        {% set offenceRows = (offenceRows.push(
          {
            key: {
              text: offence.label
            },
            value: {
              text: offence.value | showDefault
            }
          }
        ), offenceRows) %}
      {% endfor %}

      {{ govukSummaryList({
        rows: offenceRows
      }) }}
    </div>

    <div class="govuk-grid-column-one-half">
      <h3 class="govuk-heading-m">Money</h3>
      {% set balanceRows = [] %}

      {% for balance in balanceDetails %}
        {% set balanceRows = (balanceRows.push(
          {
            key: {
              text: balance.label
            },
            value: {
              text: balance.value | showDefault
            }
          }
        ), balanceRows) %}
      {% endfor %}

      {{ govukSummaryList({
        rows: balanceRows
      }) }}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h3 class="govuk-heading-m">Personal information</h3>
      {% set personalRows = [] %}

      {% for personal in personalDetails %}
        {% set personalRows = (personalRows.push(
          {
            key: {
              text: personal.label
            },
            value: {
              text: personal.value | showDefault
            }
          }
        ), personalRows) %}
      {% endfor %}

      {{ govukSummaryList({
        rows: personalRows
      }) }}
    </div>
  </div>
{% endblock %}
