{% extends "../partials/layout.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set title = "Change incentive level" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: '/'
      },
      {
        text: breadcrumbPrisonerName,
        href: profileUrl
      },
      {
        text: 'Incentive details',
         href: profileUrl + '/incentive-level-details'
      },
      {
        text: title
      }
    ],
    classes: 'govuk-!-display-none-print'
  }) }}
{% endblock %}

{% block content %}
  {% if errors.length > 0 %}
    {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors,
        attributes: { "data-test": "form-errors" }
    }) }}
  {% endif %}

  <h1 class="govuk-heading-l">{{ title }} for {{ prisonerName }}</h1>

  <p class="govuk-body" data-test="prisoner-number"><span class="govuk-!-font-weight-bold">Prison number:</span> {{offenderNo}}</p>
  <p class="govuk-body" data-test="current-incentive-level"><span class="govuk-!-font-weight-bold">Current level:</span> {{iepLevel}}</p>

  <form method="POST" novalidate="novalidate">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
    <input type="hidden" name="agencyId" value="{{ agencyId }}"/>
    <input type="hidden" name="bookingId" value="{{ bookingId }}"/>
    <input type="hidden" name="iepLevel" value="{{ iepLevel }}"/>

    {{ govukRadios({
      classes: "govuk-radios--inline",
      idPrefix: "newIepLevel",
      name: "newIepLevel",
      errorMessage: errors | findError('newIepLevel'),
      fieldset: {
        legend: {
          text: "What is the new incentive level?",
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: selectableLevels,
      attributes: { "data-test": "new-level" }
    }) }}

    {{ govukCharacterCount({
      name: "reason",
      id: "reason",
      value: formValues.reason,
      errorMessage: errors | findError('reason'),
      classes: 'govuk-!-width-one-half',
      maxlength: 240,
      label: { text: "Reason for change" },
      attributes: { "data-test": "change-reason" }
    }) }}

    {{ govukButton({
      text: "Confirm change",
      type: "submit",
      classes: "govuk-!-margin-right-2",
      attributes: { "data-test": "submit-change" }
    }) }}

    {{ govukButton({
        text: "Cancel",
        element: 'a',
        href: profileUrl + '/incentive-level-details',
        classes: "govuk-button--secondary",
        attributes: { "data-test": "cancel-change" }
    }) }}
  </form>
{% endblock %}