{% extends "./layouts/prisonerLayout.njk" %}
{% from "./macros/prisonerAccordionSection.njk" import accordionSection %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set title = "Personal" %}
{% set containerClasses = "prisoner-profile" %}

{% set aliasesContent %}
  {% set aliasesRows = [] %}

  {% for alias in aliases %}
    {% set aliasesRows = (aliasesRows.push(
      {
        key: {
          text: alias.label,
          classes: "govuk-!-font-weight-regular"
        },
        value: {
          text: alias.value | showDefault
        }
      }
    ), aliasesRows) %}
  {% endfor %}
  
  {% if aliasesRows.length %}
    {{ govukSummaryList({
      rows: aliasesRows,
      classes: "govuk-!-margin-bottom-2"
    }) }}
  {% else %}
    <p class="govuk-body">None</p>
  {% endif %}
{% endset %}

{% set identifierContent %}
  {% set identifierRows = [] %}

  {% for identifier in identifiers %}
    {% if identifier.value or identifier.alwaysShow %}
      {% set identifierRows = (identifierRows.push(
        {
          key: {
            text: identifier.label
          },
          value: {
            text: identifier.value | showDefault('Not entered')
          }
        }
      ), identifierRows) %}
    {% endif %}
  {% endfor %}

  {{ govukSummaryList({
    rows: identifierRows,
    classes: "govuk-!-margin-bottom-2"
  }) }}
{% endset %}

{% set leftSections = [
    { heading: 'Personal details', html: '<p class="govuk-body">Personal details content</p>' },
    { heading: 'Physical characteristics', html: '<p class="govuk-body">Physical characteristics content</p>' },
    { heading: 'Distinguishing marks', html: '<p class="govuk-body">Distinguishing marks content</p>' },
    { heading: 'Personal care needs', html: '<p class="govuk-body">Personal care needs content</p>' },
    { heading: 'Languages', html: '<p class="govuk-body">Languages content</p>' }
  ]
%}

{% set rightSections = [
    { heading: 'Aliases', html: aliasesContent },
    { heading: 'Identifiers', html: identifierContent },
    { heading: 'Addresses', html: '<p class="govuk-body">Addresses content</p>' },
    { heading: 'Active contacts', html: '<p class="govuk-body">Active contacts content</p>' }
  ]
%}

{% block prisonerProfileSection %}
  <div class="govuk-accordion govuk-accordion--split" data-module="govuk-accordion" id="prisoner-accordion">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        {% for section in leftSections %}
          {{ accordionSection(section.heading, section.html, loop.index) }}
        {% endfor %}
      </div>

      <div class="govuk-grid-column-one-half">
        {% for section in rightSections %}
          {% set overallIndex = leftSections.length + loop.index %}
          {{ accordionSection(section.heading, section.html, overallIndex) }}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}