{% extends "../partials/layout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set title = "Quick Look" %}

{% block content %}
  {% include "./partials/prisonerProfileHeader.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ govukSummaryList({
        rows: offenceDetails
      }) }}
    </div>
  </div>
{% endblock %}
