{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "components/datePicker/datePicker.njk" import datePicker %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}


<form novalidate="novalidate" class="prisoner-visits__form" data-test="prisoner-visits-form">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
  {% call govukFieldset({
    legend: {
      text: "View by",
      classes: "govuk-fieldset__legend--s"
    }
  }) %}
    <div class="horizontal-form govuk-!-margin-bottom-3">
      {{ govukSelect({
        id: "visitType",
        name: "visitType",
        label: {
          text: "Visit type"
        },
        items: visitTypes | addDefaultSelectedVale('All', true) | setSelected(formValues.visitType),
        attributes: { 'data-test': 'prisoner-visits-type' }
      }) }}

      {{ datePicker({
        id: 'fromDate',
        label: 'Date from',
        name: 'fromDate',
        date: formValues.fromDate,
        errorMessage: errors | findError('fromDate'),
        attributes: { "data-test": "from-filter" }
      }) }}

      {{ datePicker({
        id: 'toDate',
        label: 'Date to',
        name: 'toDate',
        date: formValues.toDate,
        errorMessage: errors | findError('toDate'),
        attributes: { "data-test": "to-filter" }
      }) }}

      {{ govukButton({
        text: "Apply",
        type: "submit"
      }) }}

      <a href="./visits" data-test="clear-link" class="govuk-link govuk-link--no-visited-state govuk-!-padding-bottom-1 govuk-body govuk-!-margin-left-3">Clear</a>
    </div>
  {% endcall %}
</form>
