{% macro holdAgainstTransferAlertLink(holdAgainstTransferAlerts) %}
  {% set dialogId = holdAgainstTransferAlerts.displayId %}
  <div class="govuk-body">
    Hold against transfer<br>
    <a href="#anchor-{{dialogId}}" class="govuk-link govuk-link--no-visited-state modal_dialog_button" data-qa="hold_against_transfer_details" data-targetdialogid={{ dialogId }}>View alerts</a>
  </div>
{% endmacro %}
