{% extends "./layouts/prisonerFinanceLayout.njk" %}
{% from "../../macros/printLink.njk" import printLink %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block prisonerFinanceSection %}
  <h1 class="govuk-heading-l">Damage obligations for {{ prisoner.name }}</h1>

  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Currently owes</h2>
  <p class="govuk-body-l" data-test="total-owed">{{ totalOwed }}</p>

  {{ printLink(align="right") }}

  {% if rows.length %}
    {{ govukTable({
      head: [
        { text: "Obligation number" },
        { text: "Adjudication" },
        { text: "Date" },
        { text: "Amount" },
        { text: "Paid" },
        { text: "Owes" },
        { text: "Location" }
      ],
      rows: rows,
      attributes: { "data-test": "damage-obligations-table" }
    }) }}
  {% endif %}
{% endblock %}