{% extends "./layouts/prisonerFinanceLayout.njk" %}
{% from "../../macros/printLink.njk" import printLink %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set testIdPrefix = "private-cash-" %}

{% block prisonerFinanceSection %}
  <h1 class="govuk-heading-l">Private cash account for {{ prisoner.name }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Current balance</h2>
      <p class="govuk-body-l" data-test="{{ testIdPrefix + 'current-balance' }}">{{ currentBalance }}</p>
    </div>

    {% if pendingRows.length %}
      <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Pending</h2>
        <p class="govuk-body-l" data-test="{{ testIdPrefix + 'pending-balance' }}">{{ pendingBalance }}</p>
      </div>
    {% endif %}
  </div>

  {{ printLink(align="right") }}

  {% if pendingRows.length %}
    <h2 class="govuk-heading-m">Pending</h2>
    <p class="govuk-body govuk-!-margin-bottom-1">This is all received money which has not yet been cleared into the account.</p>
    <p class="govuk-body">This is not part of the current balance.</p>

    {{ govukTable({
      head: [
        { text: "Date" },
        { text: "Money in" },
        { text: "Money out" },
        { text: "Payment description" },
        { text: "Location" }
      ],
      rows: pendingRows,
      classes: "govuk-!-margin-bottom-6",
      attributes: { "data-test": testIdPrefix + "pending-table" }
    }) }}

    <h2 class="govuk-heading-m">Completed <span class="print-only">payments for {{ period }}</span></h2>
  {% endif %}

  {% include "./partials/prisonerFinanceFilter.njk" %}

  {% if nonPendingRows.length %}
    {{ govukTable({
      head: [
        { text: "Date" },
        { text: "Money in" },
        { text: "Money out" },
        { text: "Payment description" },
        { text: "Location" }
      ],
      rows: nonPendingRows,
      attributes: { "data-test": testIdPrefix + "non-pending-table" }
    }) }}
  {% else %}
    <p class="govuk-body" data-test="{{ testIdPrefix + 'no-transactions-message' }}">There are no payments in or out of this account for the selected month.</p>
  {% endif %}
{% endblock %}
