{% extends "./layouts/prisonerFinanceLayout.njk" %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block prisonerFinanceSection %}
  <h1 class="govuk-heading-l">Private cash account for {{ prisoner.name }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Current balance</h2>
      <p class="govuk-body-l" data-test="current-balance">{{ currentBalance }}</p>
    </div>

    {% if pendingRows.length %}
      <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Pending balance</h2>
        <p class="govuk-body-l" data-test="pending-balance">{{ pendingBalance }}</p>
      </div>
    {% endif %}
  </div>

  {% if pendingRows.length %}
    <h2 class="govuk-heading-m">Pending</h2>
    <p class="govuk-body govuk-!-margin-bottom-1">This is all received money which has not yet been cleared into the account.</p>
    <p class="govuk-body">This is not part of the current balance.</p>

    {{ govukTable({
      head: [
        { text: "Date" },
        { text: "Money in" },
        { text: "Money out" },
        { text: "Payment description" },
        { text: "Location" }
      ],
      rows: pendingRows,
      classes: "govuk-!-margin-bottom-6",
      attributes: { "data-test": "private-cash-pending-table" }
    }) }}

    <h2 class="govuk-heading-m">Completed</h2>
  {% endif %}

  <form novalidate="novalidate" class="form-background govuk-!-padding-3 govuk-!-margin-bottom-5" data-test="private-cash-date-form">
    <h2 class="govuk-heading-m">View by</h2>

    <div class="horizontal-form govuk-!-margin-bottom-3">
      {{ govukSelect({
        id: "month",
        name: "month",
        label: {
          text: "Month"
        },
        items: monthOptions | setSelected(formValues.selectedMonth),
        attributes: {
          "data-test": "private-cash-month"
        }
      }) }}

      {{ govukSelect({
        id: "year",
        name: "year",
        label: {
          text: "Year"
        },
        items: yearOptions | setSelected(formValues.selectedYear),
        attributes: {
          "data-test": "private-cash-year"
        }
      }) }}

      {{ govukButton({
        text: "Select",
        type: "submit"
      }) }}
    </div>
  </form>

  {% if nonPendingRows.length %}
    {{ govukTable({
      head: [
        { text: "Date" },
        { text: "Money in" },
        { text: "Money out" },
        { text: "Payment description" },
        { text: "Location" }
      ],
      rows: nonPendingRows,
      attributes: { "data-test": "private-cash-non-pending-table" }
    }) }}
  {% else %}
    <p class="govuk-body" data-test="no-transactions-message">There are no payments in or out of this account for the selected month.</p>
  {% endif %}
{% endblock %}
