{% extends "./layouts/prisonerFinanceLayout.njk" %}
{% from "../../macros/printLink.njk" import printLink %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set testIdPrefix = "savings-" %}

{% block prisonerFinanceSection %}
  <h1 class="govuk-heading-l">Savings account for {{ prisoner.name }}</h1>

  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Current balance</h2>
  <p class="govuk-body-l" data-test="{{ testIdPrefix + 'current-balance' }}">{{ currentBalance }}</p>

  {{ printLink(align="right") }}

  {% include "./partials/prisonerFinanceFilter.njk" %}

  <h2 class="govuk-heading-m print-only">Payments for {{ period }}</h2>

  {% if savingsRows.length %}
    {{ govukTable({
      head: [
        { text: "Date" },
        { text: "Money in" },
        { text: "Money out" },
        { text: "Balance" },
        { text: "Payment description" },
        { text: "Location" }
      ],
      rows: savingsRows,
      attributes: { "data-test": testIdPrefix + "table" }
    }) }}
  {% else %}
    <p class="govuk-body" data-test="{{ testIdPrefix + 'no-transactions-message' }}">There are no payments in or out of this account for the selected month.</p>
  {% endif %}

{% endblock %}