{% extends "../../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "moj/components/pagination/macro.njk" import mojPagination %}

{% set title = 'Visits' %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: '/'
      },
      {
        text: breadcrumbPrisonerName,
        href: '/prisoner/' + offenderNo
      }
    ]
  }) }}
{% endblock %}

{% macro hideIfNotFirst(text, first) %}
  <span class="{{ 'govuk-visually-hidden' if not first }}">{{ text }}</span>
{% endmacro %}

{% set rows = [] %}
{% for visit in results %}
  {% set rows = (rows.push([  
    {
      html: hideIfNotFirst(visit.date | getDate('DD/MM/YYYY'), visit.isFirst),
      classes: 'govuk-table__cell--last' if visit.isLast 
    },
    {
      text: hideIfNotFirst(visit.time, visit.isFirst),
      classes: 'govuk-table__cell--last' if visit.isLast 
    },
    {
      text: hideIfNotFirst(visit.type, visit.isFirst),
      classes: 'govuk-table__cell--last' if visit.isLast
    },
    {
      text: hideIfNotFirst(visit.status, visit.isFirst),
      classes: 'govuk-table__cell--last' if visit.isLast
    },
    {
      text: visit.name,
      classes: 'govuk-table__cell--last' if visit.isLast
    },
    {
      text: visit.age,
      classes: 'govuk-table__cell--last' if visit.isLast 
    },
    {
      text: visit.relationship,
      classes: 'govuk-table__cell--last' if visit.isLast
    },
    {
      text: hideIfNotFirst(visit.prison, visit.isFirst),
      classes: 'govuk-table__cell--last' if visit.isLast
    }
  ]), rows) %}
{% endfor %}

{% block content %}
  <h1 class="govuk-heading-l">{{ prisonerName | possessive | safe }} visits</h1>

  <div class="prisoner-visits">
    {% include './partials/prisonerVisitsSearchForm.njk' %}

    <div class="prisoner-visits__results">
      {% if rows.length %}
        {{ mojPagination(pagination) }}

        {{ govukTable({
          head: [
            { text: "Date" },
            { text: "Time" },
            { text: "Type" },
            { text: "Status" },
            { text: "Scheduled visitors" },
            { text: "Visitor's age" },
            { text: "Relationship" },
            { text: "Establishment" }
          ],
          rows: rows,
          attributes: { "data-test": "prisoner-visits-results" },
          classes: 'govuk-table--with-child-rows'
        }) }}
      
        {{ mojPagination(pagination) }}
      </div>
    {% else %}
      <p class="govuk-body" data-test="no-visit-results">There are no visits for this prisoner</p>
    {% endif %}
  </div>
{% endblock %}
