{% extends "../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "../macros/alertFlags.njk" import alertFlags %}
{% from "../macros/categoryFlag.njk" import categoryFlag %}

{% set title = 'Currently out - ' + livingUnitName %}
{% set rows = [] %}
{% for prisoner in results %}
  {% set prisonerImage = '<img src="/app/images/' + prisoner.offenderNo + '/data" alt="Image of ' + prisoner.name + '" class="results-table__results__image" />' %}
  {% set prisonerLink = '<a href="/prisoner/' + prisoner.offenderNo + '" class="govuk-link">' + prisoner.name + '</a>'%}
  {% set rows = (rows.push([
    { html: prisonerImage },
    {
      html: prisonerLink,
      attributes: {
        "data-sort-value": prisoner.name
      }
    },
    { text: prisoner.offenderNo },
    { text: prisoner.dob },
    { text: prisoner.location },
    { text: prisoner.incentiveLevel },
    { html: alertFlags(prisoner.alerts, newLine=true) + categoryFlag('', prisoner.category, false) },
    { text: prisoner.currentLocation },
    { text: prisoner.comment }
  ]), rows) %}
{% endfor %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
  items: [
    {
      text: "Digital Prison Services",
      href: "/"
    },
    {
      text: "Today’s establishment roll",
      href: "/establishment-roll"
    }
  ]
})
}}
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-l">{{title}}</h1>
    <div class="results-table results-table__results">
      {{ govukTable({
        head: [
          { html: '<span class="govuk-visually-hidden">Picture</span>' },
          {
            text: "Name",
            attributes: {
              "aria-sort": "ascending"
            }
          },
          { text: "Prison no." },
          {
            text: "D.O.B."
          },
          {
            text: "Location"
          },
          {
            text: "Incentive level"
          },
          {
            text: "Flags"
          },
          {
            text: "Current location"
          },
          {
            text: "Comment"
          }
        ],
        rows: rows
      }) }}
    </div>
      
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script src="/assets/moj/components/sortable-table/sortable-table.js"></script>
  <script>
    new MOJFrontend.SortableTable({
      table: $('table')[0],
    })
  </script>
{% endblock %}