{% extends "../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "../macros/printLink.njk" import printLink %}

{% set title = 'Establishment roll' %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: dpsUrl
      },
      {
        text: title
      }
    ],
    classes: 'govuk-!-display-none-print'
  })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-!-margin-bottom-6">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-3">{{ title }} for {{ date }}</h1>
    {{ printLink() }}
  </div>

  <div class="establishment-roll-today">
    <h2 class="govuk-heading-m">Movements</h2>

    <div class="horizontal-information">
      <div class="horizontal-information__item">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Unlock roll</h3>
        <p class="govuk-body" data-test="unlock-roll">{{todayStats.unlockRoll}}</p>
      </div>

      <div class="horizontal-information__item">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">In today</h3>
        <p class="govuk-body" data-test="in-today">
          {% if todayStats.inToday > 0 %}
            <a class="govuk-link" href="/establishment-roll/in-today">{{todayStats.inToday}}</a>
          {% else %}
            {{todayStats.inToday}}
          {% endif %}
        </p>
      </div>

      <div class="horizontal-information__item">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Out today</h3>
        <p class="govuk-body" data-test="out-today">
          {% if todayStats.outToday > 0 %}
            <a class="govuk-link" href="/establishment-roll/out-today">{{todayStats.outToday}}</a>
          {% else %}
            {{todayStats.outToday}}
          {% endif %}
        </p>
      </div>

      <div class="horizontal-information__item">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Current roll</h3>
        <p class="govuk-body" data-test="current-roll">{{todayStats.currentRoll}}</p>
      </div>

      <div class="horizontal-information__item">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">In reception</h3>
        <p class="govuk-body" data-test="unassigned-in">
          {% if todayStats.unassignedIn > 0 %}
            <a class="govuk-link" href="/establishment-roll/in-reception">{{todayStats.unassignedIn}}</a>
          {% else %}
            {{todayStats.unassignedIn}}
          {% endif %}
        </p>
      </div>

      <div class="horizontal-information__item">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Arriving today</h3>
        <p class="govuk-body" data-test="enroute">
          {% if todayStats.enroute > 0 %}
            <a class="govuk-link" data-test="enroute" href="/establishment-roll/en-route">{{todayStats.enroute}}</a>
          {% else %}
            {{todayStats.enroute}}
          {% endif %}
        </p>
      </div>
    </div>
  </div>

    {{ govukTable({
    head: [
      { text: "Location" },
      { text: "Beds in use" },
      { text: "Currently in cell" },
      { text: "Currently out" },
      { text: "Operational capacity" },
      { text: "Net vacancies" },
      { text: "Out of order" }
    ],
    rows: rows,
    attributes: { "data-test": "establishment-roll-table" }
  }) }}      
{% endblock %}