{% extends "../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "../macros/alertFlags.njk" import alertFlags %}
{% from "../macros/categoryFlag.njk" import categoryFlag %}

{% set title = 'En route to ' + agencyName %}
{% set rows = [] %}
{% for prisoner in results %}
  {% set prisonerImage = '<img src="/app/images/' + prisoner.offenderNo + '/data" alt="Image of ' + prisoner.name + '" class="prisoner-search__results-list__image" />' %}
  {% set rows = (rows.push([
    { html: prisonerImage },
    {
      text: prisoner.name
    },
    { text: prisoner.offenderNo },
    { text: prisoner.dob },
    { html: prisoner.departed },
    { text: prisoner.from },
    { text: prisoner.reason },
    { html: alertFlags(prisoner.alerts, newLine=true) + categoryFlag('', prisoner.category, false) }
  ]), rows) %}
{% endfor %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
  items: [
    {
      text: "Digital Prison Services",
      href: "/"
    },
    {
      text: "Today’s establishment roll",
      href: "/establishment-roll"
    }
  ]
})
}}
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-l">{{title}}</h1>
    <div class="establishment-roll-list">
      {{ govukTable({
        head: [
          { html: '<span class="govuk-visually-hidden">Picture</span>' },
          {
            text: "Name",
            attributes: {
              "aria-sort": "ascending"
            }
          },
          { text: "Prison no." },
          {
            text: "D.O.B."
          },
          {
            text: "Departed"
          },
          {
            text: "En route from"
          },
          {
            text: "Reason"
          },
          {
            text: "Flags"
          }
        ],
        rows: rows
      }) }}
    </div>
      
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script src="/assets/moj/components/sortable-table/sortable-table.js"></script>
  <script>
    new MOJFrontend.SortableTable({
      table: $('table')[0],
    })
  </script>
{% endblock %}