{% extends "../partials/layout.njk" %}
{% from "../macros/alertFlags.njk" import alertFlags %}
{% from "../macros/categoryFlag.njk" import categoryFlag %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: "Digital Prison Services",
                href: "/"
            },
            {
                text: "Today’s establishment roll",
                href: "/establishment-roll"
            }
        ]
    }) }}
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-l">In reception</h1>

    {% if offenders.length > 0 %}
        <div class="results-table results-table__results">
            <table class="govuk-table govuk-table--with-child-rows" data-test="cell-results-table">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Picture</span></th>
                    <th scope="col" class="govuk-table__header" aria-sort="ascending">Name</th>
                    <th scope="col" class="govuk-table__header">Prison no.</th>
                    <th scope="col" class="govuk-table__header">D.O.B</th>
                    <th scope="col" class="govuk-table__header">Received from</th>
                    <th scope="col" class="govuk-table__header">Incentive Level</th>

                    <th scope="col" class="govuk-table__header">Flags</th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                {% for offender in offenders %}
                     <tr class="govuk-table__row">
                         <td class="govuk-table__cell">
                             <a target="_blank" rel="noopener noreferrer" class="govuk-link" href="{{ "/prisoner/" + offender.offenderNo }}">
                                 <img id="{{ "image-" + offender.offenderNo }}" alt="{{ "prisoner " + offender.offenderNo }}" src="{{ "/app/images/" + offender.offenderNo + "/data" }}" class="results-table__results__image">
                             </a>
                         </td>
                         <td class="govuk-table__cell">
                             <a target="_blank" rel="noopener noreferrer" class="govuk-link" href="{{ "/prisoner/" + offender.offenderNo }}">
                                 {{ offender.name }}
                             </a>
                         </td>
                         <td class="govuk-table__cell">{{ offender.offenderNo }}</td>
                         <td class="govuk-table__cell">{{ offender.dateOfBirth }}</td>
                         <td class="govuk-table__cell">{{ offender.fromAgencyDescription }}</td>
                         <td class="govuk-table__cell">{{ offender.iepLevel }}</td>
                         <td class="govuk-table__cell">
                             {% if offender.alerts.length > 0 %}
                                {{ alertFlags(offender.alerts) }}
                             {% endif %}
                             {{ categoryFlag('', offender.category, false) }}
                         </td>
                     </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p class="govuk-body" data-test="no-results-message">There are no prisoners in reception</p>
    {% endif %}
{% endblock %}

{% block bodyEnd %}
    {{ super() }}
    <script src="/assets/moj/components/sortable-table/sortable-table.js"></script>
    <script>
      new MOJFrontend.SortableTable({
        table: $('table')[0],
      })
    </script>
{% endblock %}
