{% extends "../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set title = 'Move someone temporarily out of a cell' %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Digital Prison Services",
        href: '/'
      },
      {
        text: "Change someone’s cell",
        href: '/change-someones-cell'
      }
    ],
    classes: 'govuk-!-display-none-print'
  })
  }}
{% endblock %}

{% block content %}

  {% if errors.length > 0 %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors,
      attributes: { 'data-qa-errors': true }
      }) 
    }}
  {% endif %}

  <h1 class="govuk-heading-l govuk-!-margin-bottom-1">
    {{title}}
  </h1>
  <p class="govuk-body govuk-!-margin-bottom-6">Create a space for another prisoner by moving someone temporarily out of a cell.</p>

  <form novalidate="novalidate" data-test="prisoner-search-form">
    <div class="horizontal-form govuk-!-margin-bottom-3">
      {{ govukInput({
        id: "keywords",
        name: "keywords",
        value: formValues.keywords,
        label: {
            html: 'Enter a prisoner&#8217;s name or number'
        },
        classes: 'govuk-!-width-full',
        attributes: {
          'data-test': 'prisoner-search-keywords'
        }
      }) }}

      {{ govukButton({
        text: "Search",
        type: "submit",
        classes: "govuk-button--secondary"
      }) }}
    </div>
  </form>

  {% if showHelp %}
    <div data-test="prisoner-search-help-text">
      <p class="govuk-body">You can move someone out of a cell temporarily if you need to create some space.</p>
      <p class="govuk-body">This might be because:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the cell they are in is needed by someone else</li>
        <li>the cell you want to move them to is still occupied by someone else</li>
        <li>someone is being transferred out of the establishment and will later be moved to reception</li>
      </ul>
      <p class="govuk-body">The prisoner you move will not have a cell allocated. You should place them in a cell as soon as possible.</p>
    </div>
  {% endif %}

  {% if showResults %}
    <p class="govuk-body pull-right"><strong>Prisoners listed:</strong> {{totalOffenders}}</p>

    {% if results.length %}
      {% set rows = [] %}
      {% for prisoner in results %}
        {% set prisonerImageHtml %}
          <img src="/app/images/{{prisoner.offenderNo}}/data" alt="Image of {{prisoner.name}}" class="prisoner-search__results-list__image" />
        {% endset -%}
        {% set prisonerLinkHtml %}
          <a href="/prisoner/{{prisoner.offenderNo}}" class="govuk-link">{{prisoner.name}}</a>
        {% endset -%}
        {% set cellHistoryLinkHtml %}
          <a href="{{prisoner.cellHistoryUrl}}" class="govuk-link" data-test="prisoner-cell-history-link">View cell history</a>
        {% endset -%}
        {% set cellMoveLinkHtml %}
          <a href="{{prisoner.cellMoveUrl}}" class="govuk-link" data-test="prisoner-cell-move-link">Move out of cell</a>
        {% endset -%}
        {% set rows = (rows.push([
          { html: prisonerImageHtml },
          {
            html: prisonerLinkHtml,
            attributes: {
              "data-sort-value": prisoner.name
            }
          },
          { text: prisoner.offenderNo },
          { text: prisoner.assignedLivingUnitDesc },
          { html: cellHistoryLinkHtml },
          { html: cellMoveLinkHtml }
        ]), rows) %}
      {% endfor %}

      <div class="prisoner-search__results-list">
        {{ govukTable({
          head: [
            { html: '<span class="govuk-visually-hidden">Picture</span>' },
            {
              text: "Name",
              attributes: {
                "aria-sort": "ascending"
              }
            },
            { text: "Prison number" },
            {
              text: "Location",
              attributes: {
                "aria-sort": "none"
              }
            },
            { text: "" },
            { text: "" }
          ],
          rows: rows,
          attributes: { "data-test": "prisoner-search-results-table" }
        }) }}
      </div>
    {% else %}
    <p class="govuk-body">There are no results for the name or number you have entered. You can search again.</p>
    {% endif %}
  {% endif %}
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script src="/assets/moj/components/sortable-table/sortable-table.js"></script>
  <script>
    new MOJFrontend.SortableTable({
      table: $('table')[0],
    })
  </script>
{% endblock %}
