{% extends "../partials/layout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set title = "CSRA details" %}

{% block content %}
  <h1 class="govuk-heading-l">{{title}}</h1>

  {{ govukSummaryList({
      classes: "govuk-summary-list--no-border govuk-body govuk-!-margin-bottom-5",
      rows: [
        {
          key: {
            text: "Cell location"
          },
          value: {
            text: cellLocation
          }
        },
        {
          key: {
            text: "Name"
          },
          value: {
            text: prisonerName
          }
        },
        {
          key: {
            text: "CSRA level"
          },
          value: {
            text: level
          }
        },
        {
          key: {
            text: "Comments"
          },
          value: {
            text: comment
          }
        },
        {
          key: {
            text: "Assessment date"
          },
          value: {
            text: date
          }
        },
        {
          key: {
            text: "Assessment location"
          },
          value: {
            text: location
          }
        }
      ] | removePaddingBottom
  }) }}

  <p class="govuk-body govuk-!-margin-top-4">
    <a class="govuk-link" href={{ backLink }} data-test="back-link">{{ backLinkText }}</a>
  </p>
  
{% endblock %}
