{% extends "../partials/layout.njk" %}
{% from "../macros/alertFlags.njk" import alertFlags %}

{% set title = "Select a location" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: dpsUrl
      },
      {
        text: breadcrumbPrisonerName,
        href: '/prisoner/' + offenderNo
      },
      {
        text: 'Select a location'
      }
    ]
}) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">{{title}}</h1>

  <div class="cell-move-header">
    <div class="govuk-grid-row govuk-!-margin-top-2">
      <div class="govuk-grid-column-one-half">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Name</h2>
          </div>
          <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Current location</h2>
          </div>
          <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-1">CSRA rating</h2>
          </div>
        </div>
      </div>
      <div class="govuk-grid-column-one-half">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Relevant alerts</h2>
          </div>
          <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Non-associations</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="govuk-grid-row govuk-!-margin-bottom-2">
      <div class="govuk-grid-column-one-half">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <p class="govuk-body govuk-!-margin-bottom-1"> {{ breadcrumbPrisonerName }} </p>
            <a href="#" class="govuk-link">View details <span class="govuk-visually-hidden">for {{ breadcrumbPrisonerName }}</span> </a>
          </div>
          <div class="govuk-grid-column-one-third">
            <p class="govuk-body govuk-!-margin-bottom-1"> {{ prisonerDetails.assignedLivingUnit.description }} </p>
          </div>
          <div class="govuk-grid-column-one-third">
            <p class="govuk-body govuk-!-margin-bottom-1"> {{ prisonerDetails.csra }} </p>
            {% if showCsraLink %}
            <a href="#" class="govuk-link">View details <span class="govuk-visually-hidden">for {{ breadcrumbPrisonerName }}</span></a>
            {% endif %}
          </div>
        </div>
      </div>
      
      <div class="govuk-grid-column-one-half">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            {{ alertFlags(alerts) }}
          </div>
          {% if showNonAssociationsLink %}
          <div class="govuk-grid-column-one-half">
            <a href="#" class="govuk-link">View non-associations <span class="govuk-visually-hidden">for {{ breadcrumbPrisonerName }}</span></a>
          </div>
          {% else %}
            <div class="govuk-grid-column-one-half">
              <p class="govuk-body govuk-!-margin-bottom-1">You must also check any local processes</p>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}
