{% extends "../partials/layout.njk" %}
{% from "../components/card/card.njk" import card %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set title = 'Change someone’s cell' %}
{% set feedbackBannerBackground = '#f0f4f5 '%}

{% block main %}
  <div class="govuk-width-container">
    {{ govukBackLink({
      text: "Digital Prison Services",
      href: "/"
    }) }}

    <h1 class="govuk-heading-l govuk-!-margin-top-7">{{ title }}</h1>
  </div>

  <div class="homepage-content">
    <div class="govuk-width-container">
      <ul class="govuk-grid-row card-group">
        {% for task in tasks %}
          <li class="govuk-grid-column-one-third card-group__item">
            {{ card({
              "href": task.href,
              "clickable": "true",
              "heading": task.heading,
              "description": task.description,
              "id": task.id
            }) }}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
  <script src="/static/js/card.js"></script>
{% endblock %}