{% extends "../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../macros/alertFlags.njk" import alertFlags %}
{% from "../macros/categoryFlag.njk" import categoryFlag %}

{% set title = 'Search for a prisoner' %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Digital Prison Services",
        href: '/'
      },
      {
        text: "Change someone’s cell",
        href: '/change-someones-cell'
      }
    ],
    classes: 'govuk-!-display-none-print'
  })
  }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">
    {{title}}
  </h1>

  <form novalidate="novalidate" class="prisoner-search__form" data-test="prisoner-search-form">
    <div class="horizontal-form govuk-!-margin-bottom-3">
      {{ govukInput({
        id: "keywords",
        name: "keywords",
        value: formValues.keywords,
        errorMessage: errors | findError('keywords'),
        label: {
            text: "Enter a prisoner's name or number"
        },
        classes: 'govuk-!-width-full',
        attributes: {
          'data-test': 'prisoner-search-keywords'
        }
      }) }}

      {{ govukButton({
        text: "Search",
        type: "submit"
      }) }}
    </div>
  </form>

  {% if hasSearched %}
    <p class="govuk-body pull-right"><strong>Prisoners listed:</strong> {{totalOffenders}}</p>

    {% if results.length %}
      {% set rows = [] %}
      {% for prisoner in results %}
        {% set prisonerImage = '<img src="/app/images/' + prisoner.offenderNo + '/data" alt="Image of ' + prisoner.name + '" class="prisoner-search__results-list__image" />' %}
        {% set prisonerLink = '<a href="/prisoner/' + prisoner.offenderNo + '" class="govuk-link">' + prisoner.name + '</a>'%}
        {% set cellHistoryLink = '<a href="' + prisoner.cellHistoryUrl + '" class="govuk-link" data-test="prisoner-cell-history-link">View cell history</a>'%}
        {% set cellSearchLink = '<a href="' + prisoner.cellSearchUrl + '" class="govuk-link" data-test="prisoner-cell-search-link">Change cell</a>'%}
        {% set rows = (rows.push([
          { html: prisonerImage },
          {
            html: prisonerLink,
            attributes: {
              "data-sort-value": prisoner.name
            }
          },
          { text: prisoner.offenderNo },
          { text: prisoner.assignedLivingUnitDesc },
          { html: alertFlags(prisoner.alerts, newLine=true) + categoryFlag('', prisoner.categoryCode, false) },
          { html: cellHistoryLink },
          { html: cellSearchLink }
        ]), rows) %}
      {% endfor %}

      <div class="prisoner-search__results-list">
        {{ govukTable({
          head: [
            { html: '<span class="govuk-visually-hidden">Picture</span>' },
            {
              text: "Name",
              attributes: {
                "aria-sort": "ascending"
              }
            },
            { text: "Prison number" },
            {
              text: "Location",
              attributes: {
                "aria-sort": "ascending"
              }
            },
            {
              text: "Relevant alerts"
            }
          ],
          rows: rows,
          attributes: { "data-test": "prisoner-search-results-table" }
        }) }}
      </div>
    {% else %}
    <p class="govuk-body">There are no results for the name or number you have entered. You can search again.</p>
    {% endif %}
  {% endif %}
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script src="/assets/moj/components/sortable-table/sortable-table.js"></script>
  <script>
    new MOJFrontend.SortableTable({
      table: $('table')[0],
    })
  </script>
{% endblock %}
