{% extends "../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: "Home",
                href: dpsUrl
            },
            {
                text: breadcrumbPrisonerName,
                href: '/prisoner/' + offenderNo
            },
            {
                text: 'Change Cell'
            }
        ]
    }) }}
{% endblock %}

{% block content %}
    {{ govukPanel({
        titleText: title,
        classes: "govuk-!-margin-bottom-6"
    }) }}

    <p class="govuk-body govuk-!-margin-bottom-6">
        <a class="govuk-link" href="https://www.surveymonkey.co.uk/r/5QLYDWY" target="_blank" rel="noopener noreferrer" data-test="exit-survey-link">
            What did you think of this service? (Takes 60 seconds - opens in a new tab)
        </a>
    </p>

    {{ govukButton({
        text: "Return to prisoner’s profile",
        element: 'a',
        href: prisonerProfileLink,
        attributes: {
            'data-test': 'back-to-profile'
        }
    }) }}

    <p class="govuk-body">
        <a class="govuk-link" href="{{ prisonerSearchLink }}" data-test="back-to-search">Select another prisoner</a>
    </p>
{% endblock %}
