{% extends "../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}


{% set title = "Change cell" %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: "Home",
                href: dpsUrl
            },
            {
                text: breadcrumbPrisonerName,
                href: '/prisoner/' + offenderNo
            },
            {
                text: 'Change cell'
            }
        ]
    }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row govuk-!-margin-bottom-6">
        <div class="govuk-grid-column-full">
            <h1  class="govuk-heading-l">
                You are moving {{ name }} to cell {{ description }}
            </h1>
            {% if showWarning %}
                {{ govukInsetText({
                    text: "You must have checked any local processes for non-associations."
                }) }}
            {% endif %}

            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <input type="hidden" name="cellId" value="{{ cellId }}"/>
                {{ govukButton({ text: "Confirm move", type: "submit" }) }}
            </form>

            <p class="govuk-body govuk-!-margin-top-4">
                <a href="{{ selectCellUrl }}" class="govuk-link" data-qa="back-to-select-cell">Select another cell</a>
            </p>
        </div>
    </div>
{% endblock %}

