{% extends "../partials/layout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{%- from "moj/components/banner/macro.njk" import mojBanner -%}

{% set title = "You must consider the risks of the prisoners involved" %}

{% macro alertDetails(alert) %}
  <p class="govuk-body" data-test="alert-comment">{{ alert.comment or "No details entered" | safe }}</p>
  <p class="govuk-body" data-test="alert-date">{{ alert.date}}</p>
{% endmacro %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
      items: [
          {
              text: "Home",
              href: '/'
          },
          {
              text: prisonerNameForBreadcrumb,
              href: profileUrl
          },
          {
              text: 'Select cell',
              href: selectCellUrl
          },
          {
              text: "Consider risks"
          }
      ]
  }) }}
{% endblock %}

{% block content %}
  {% if errors.length > 0 %}
    {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors,
        attributes: { 'data-test-errors': true }
    }) }}
  {% endif %}

  <h1 class="govuk-heading-l">{{title}}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if nonAssociations.length %}
        {{ govukWarningText({
          text: currentOffenderName + " has a non-association with a prisoner on this wing:",
          iconFallbackText: "Warning",
          attributes: {
            "data-test":"non-associations-sub-heading"
          }
        }) }}
        
        {% for nonAssociation in nonAssociations %}
          {{ govukInsetText({
            html: govukSummaryList({
              classes: "govuk-summary-list--no-border govuk-body",
              attributes: {'data-test': 'non-association-summary-' + nonAssociation.prisonNumber},
              rows: [
                {
                  key: {
                    text: "Name"
                  },
                  value: {
                    text: nonAssociation.name
                  }
                },
                {
                  key: {
                    text: "Prison number"
                  },
                  value: {
                    text: nonAssociation.prisonNumber
                  }
                },
                {
                  key: {
                    text: "Location"
                  },
                  value: {
                    text: nonAssociation.location
                  }
                },
                {
                  key: {
                    text: "Type"
                  },
                  value: {
                    text: nonAssociation.type
                  }
                },
                {
                  key: {
                    text: "Reason"
                  },
                  value: {
                    text: nonAssociation.reason
                  }
                },
                {
                  key: {
                    text: "Comment"
                  },
                  value: {
                    text: nonAssociation.comment
                  }
                }
              ] | removePaddingBottom
            }),
            classes: 'govuk-!-padding-top-0 govuk-!-padding-bottom-0'
          }) }}
        {% endfor %}
      {% endif %}

      <p class="govuk-body">You must have checked any local processes for non-associations.</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      {% if showOffendersNamesWithCsra %}
        <ul class="govuk-list" data-test="csra-messages">
          {% for offender in offendersFormattedNamesWithCsra %}
            <li>{{ offender }}</li>
          {% endfor %}
        </ul>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      {% endif %}

      {% if showRisks %}
        {% if currentOffenderActiveAlerts.length %}
          <h2 class="govuk-heading-m govuk-!-font-weight-regular" data-test="offender-alerts-heading">{{ currentOffenderName }} has:</h2>

          <ul class="govuk-list govuk-list--bullet">
            {% for alert in currentOffenderActiveAlerts %}
              <li data-test="offender-alert-message">
              {{ alert.title }}
              {{ govukInsetText({
                html: alertDetails(alert),
                classes: 'govuk-!-margin-top-2'
              }) }}
              </li>
            {% endfor %}

            {% if categoryWarning %}
              <li data-test="category-warning">{{ categoryWarning }}</li>
            {% endif %}
          </ul>
        {% endif %}

        {% for occupant in currentOccupantsWithFormattedActiveAlerts %}
          <h2 class="govuk-heading-m govuk-!-font-weight-regular" data-test="occupant-alerts-heading">{{ occupant.name }} has:</h2>

          <ul class="govuk-list govuk-list--bullet">
            {% for alert in occupant.alerts %}
              <li class="govuk-body" data-test="occupant-alert-message">
              {{ alert.title }}
              {{ govukInsetText({
                html: alertDetails(alert),
                classes: 'govuk-!-margin-top-2'
              }) }}
              </li>
            {% endfor %}
          </ul>
        {% endfor %}

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      {% endif %}

      <form method="POST" novalidate="novalidate">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "confirmation",
          name: "confirmation",
          errorMessage: errors | findError('confirmation'),
          fieldset: {
              attributes: { 'data-test': 'confirmation-input' },
              legend: {
                  text: confirmationQuestionLabel,
                  classes: "govuk-fieldset__legend--s"
              }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
            ]
        }) }}

        {{ govukButton({ text: "Continue", type: "submit" }) }}
      </form>
    </div>
  </div>
{% endblock %}
