{% extends "../partials/layout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{%- from "moj/components/banner/macro.njk" import mojBanner -%}


{% set title = "Are you sure you want to select this cell?" %}
{% macro nonAssociationHtml(nonAssociation) %}
  {{ govukSummaryList({
        classes: "govuk-summary-list--no-border govuk-body",
        attributes: {'data-test': 'non-association-summary-' + nonAssociation.prisonNumber},
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: nonAssociation.name
            }
          },
          {
            key: {
              text: "Prison number"
            },
            value: {
              text: nonAssociation.prisonNumber
            }
          },
          {
            key: {
              text: "Location"
            },
            value: {
              text: nonAssociation.location
            }
          },
          {
            key: {
              text: "Type"
            },
            value: {
              text: nonAssociation.type
            }
          },
          {
            key: {
              text: "Reason"
            },
            value: {
              text: nonAssociation.reason
            }
          },
          {
            key: {
              text: "Comment"
            },
            value: {
              text: nonAssociation.comment
            }
          }
        ] | removePaddingBottom
    }) }}
{% endmacro %}

{% macro alertDetails(alert) %}
  {% if alert.comment %}
    <p class="govuk-body" data-test="alert-details">{{ alert.subTitle | safe}}</p>
    <p class="govuk-body" data-test="alert-comment">{{ alert.comment | safe }}</p>
  {% endif %}
  <p class="govuk-body" data-test="alert-date">{{ alert.date}}</p>
{% endmacro %}

{% block content %}

  {% if errors.length > 0 %}
    {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors,
        attributes: { 'data-test-errors': true }
    }) }}
  {% endif %}

  <h1 class="govuk-heading-l">{{title}}</h1>

  {% if nonAssociations.length %}
    <h2 class="govuk-heading-m" data-test="non-associations-heading">{{ offenderName }} has non-associations </h2>
    <h3 class="govuk-heading-s" data-test="non-associations-sub-heading"><svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
<path d="M13.7,18.5h-2.4v-2.4h2.4V18.5z M12.5,13.7c-0.7,0-1.2-0.5-1.2-1.2V7.7c0-0.7,0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2v4.8
C13.7,13.2,13.2,13.7,12.5,13.7z M12.5,0.5c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S19.1,0.5,12.5,0.5z" /></svg>There is a non-association with a prisoner in this location</h3>
    {% for nonAssociation in nonAssociations %}
      {{ govukInsetText({
      html: nonAssociationHtml(nonAssociation),
      classes: 'govuk-!-padding-top-0 govuk-!-padding-bottom-0'
    }) }}
    {% endfor %}
  {% endif %}

  {% if csraWarningMessage %}
    <h2 class="govuk-heading-m" data-test="csra-heading">You must consider the CSRA of the prisoners involved</h2>
    <p class="govuk-body" data-test="csra-sub-heading">You are moving a prisoner:</p>
    <ul>
      <li class="govuk-body" data-test="csra-message">{{ csraWarningMessage }}</li>
    </ul>
  {% endif %}


  {% if showRisks %}
      <h2 class="govuk-heading-m" data-test="alerts-heading">You must consider the risks of the prisoners involved</h2>
      <p class="govuk-body" data-test="alerts-sub-heading">You are moving a prisoner:</p>
      <ul>
        {% for alert in currentOffenderActiveAlerts %}
          <li class="govuk-body" data-test="offender-alert-message"> {{ alert.title }}
          {{ govukInsetText({
            html: alertDetails(alert),
            classes: 'govuk-body govuk-!-margin-bottom-0 govuk-body govuk-!-margin-top-2 govuk-!-padding-top-0 govuk-!-padding-bottom-0'
          }) }}
          </li>
        {% endfor %}
        {% if categoryWarning %}
          <li class="govuk-body" data-test="category-warning">who is a Cat A prisoner into a cell with another prisoner</li>
        {% endif %}
        {% for alert in currentOccupantsActiveAlerts %}
          <li class="govuk-body" data-test="occupant-alert-message"> {{ alert.title }}
          {{ govukInsetText({
            html: alertDetails(alert),
            classes: 'govuk-body govuk-!-margin-bottom-0 govuk-body govuk-!-margin-top-2 govuk-!-padding-top-0 govuk-!-padding-bottom-0'
          }) }}
          </li>
        {% endfor %}
      </ul>
  {% endif %}

  <form method="POST" novalidate="novalidate">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    {{ govukRadios({
    classes: "govuk-radios--inline",
    idPrefix: "confirmation",
    name: "confirmation",
    errorMessage: errors | findError('confirmation'),
    items: [
      {
        value: "yes",
        text: "Yes"
      },
      {
        value: "no",
        text: "No"
      }
      ]
    }) }}

    {{ govukButton({ text: "Continue", type: "submit" }) }}
  </form>
  
{% endblock %}
