{% extends "../partials/layout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set title = "Active non-association details for " + prisonerName %}

{% block content %}
  <h1 class="govuk-heading-l">{{title}}</h1>

  <p class="govuk-body" data-test="message">You must check any local processes for non-association details.</p>
  {% for nonAssociation in nonAssociationsRows %}
    {{ govukSummaryList({
        classes: "govuk-summary-list--no-border govuk-body govuk-!-margin-bottom-5",
        attributes: {'data-test': 'non-association-summary-' + nonAssociation.prisonNumber},
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: nonAssociation.name
            }
          },
          {
            key: {
              text: "Prison number"
            },
            value: {
              text: nonAssociation.prisonNumber
            }
          },
          {
            key: {
              text: "Location"
            },
            value: {
              text: nonAssociation.location
            }
          },
          {
            key: {
              text: "Type"
            },
            value: {
              text: nonAssociation.type
            }
          },
          {
            key: {
              text: nonAssociation.selectedOffenderKey
            },
            value: {
              text: nonAssociation.selectedOffenderRole
            }
          },
          {
            key: {
              text: nonAssociation.otherOffenderKey
            },
            value: {
              text: nonAssociation.otherOffenderRole
            }
          },
          {
            key: {
              text: "Comment"
            },
            value: {
              text: nonAssociation.comment
            }
          },
          {
            key: {
              text: "Effective date"
            },
            value: {
              text: nonAssociation.effectiveDate
            }
          }
        ] | removePaddingBottom
    }) }}
  {% endfor %}

  <p class="govuk-body govuk-!-margin-top-4">
    <a class="govuk-link" href={{ backLink }} data-test="back-link">{{ backLinkText }}</a>
  </p>
  
{% endblock %}
