{% extends "../partials/layout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set title = "Prisoner details" %}

{% block content %}
  <h1 class="govuk-heading-l">{{title}}</h1>

  {{ govukSummaryList({
      classes: "govuk-summary-list--no-border govuk-body govuk-!-margin-bottom-5",
      rows: [
        {
          key: {
            text: "Cell location"
          },
          value: {
            text: cellLocation
          }
        },
        {
          key: {
            text: "Name"
          },
          value: {
            text: prisonerName
          }
        },
        {
          key: {
            text: "Prison number"
          },
          value: {
            text: offenderNo
          }
        },
        {
          key: {
            text: "Age"
          },
          value: {
            text: age
          }
        },
        {
          key: {
            text: "Religion"
          },
          value: {
            text: religion
          }
        },
        {
          key: {
            text: "Ethnicity"
          },
          value: {
            text: ethnicity
          }
        },
        {
          key: {
            text: "Sexual orientation"
          },
          value: {
            text: sexualOrientation
          }
        },
        {
          key: {
            text: "Smoker or vaper"
          },
          value: {
            text: smokerOrVaper
          }
        },
        {
          key: {
            text: "Main offence"
          },
          value: {
            text: mainOffence
          }
        }
      ] | removePaddingBottom
  }) }}

  <p class="govuk-body govuk-!-margin-top-4">
    <a class="govuk-link" href={{ backLink }} data-test="back-link">{{ backLinkText }}</a>
  </p>

  <p class="govuk-body govuk-!-margin-top-4">
    <a class="govuk-link" href={{ profileUrl }} target="_blank" rel="noopener noreferrer" data-test="profile-link">View full profile (opens in a new tab)</a>
  </p>
  
{% endblock %}
