{% extends "../partials/layout.njk" %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "../macros/alertFlags.njk" import alertFlags %}

{% set title = "Select a location" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: dpsUrl
      },
      {
        text: breadcrumbPrisonerName,
        href: profileUrl
      },
      {
        text: 'Select a location'
      }
    ]
}) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">{{title}}</h1>

  {% include "./partials/prisonerInformation.njk" %}

  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-full">
      <form class="horizontal-form" method="GET" action="{{ formAction }}">
        <h2 class="govuk-heading-s govuk-!-margin-right-2 govuk-!-margin-top-1">View by:</h2>

          {{ govukSelect({
              name: 'location',
              id: 'location',
              label: {
                text: 'Select residential unit',
                classes: 'govuk-visually-hidden'
              },
              items: locations
          }) }}

          {{ govukSelect({
              name: 'attribute',
              id: 'attribute',
              label: {
                text: 'Select cell type',
                classes: 'govuk-visually-hidden'
              },
              items: cellAttributes | addDefaultSelectedVale('Select cell type', true)
          }) }}

          {{ govukButton({
              text: "Search",
              preventDoubleClick: true,
              type: "submit"
          }) }}

          <a href="{{ selectLocationRootUrl }}" class="govuk-link">Clear</a>
      </form>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-top-8">
    <div class="govuk-grid-column-full">
      <a class="govuk-link" href="{{ profileUrl }}">Return to prisoner's profile</a>
    </div>
  </div>
      
  
{% endblock %}
