{% extends "../partials/layout.njk" %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "../macros/alertFlags.njk" import alertFlags %}

{% set title = "Select an available cell" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: dpsUrl
      },
      {
        text: breadcrumbPrisonerName,
        href: '/prisoner/' + offenderNo
      },
      {
        text: 'Select a cell'
      }
    ]
}) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">{{title}}</h1>

  {% include "./partials/prisonerInformation.njk" %}

  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-full">
      <form class="horizontal-form" method="GET">
        <h2 class="govuk-heading-m govuk-!-margin-right-2 govuk-!-margin-top-1">View by:</h2>

        {{ govukSelect({
          name: 'location',
          id: 'location',
          label: {
            text: 'Select residential unit',
            classes: 'govuk-visually-hidden'
          },
          items: locations | setSelected(formValues.location)
        }) }}

        {{ govukSelect({
          name: 'subLocation',
          id: 'subLocation',
          label: {
            text: 'Select area in residential unit',
            classes: 'govuk-visually-hidden'
          },
          items: subLocations  | setSelected(formValues.subLocation)
        }) }}

        {{ govukSelect({
          name: 'attribute',
          id: 'attribute',
          label: {
            text: 'Select cell type',
            classes: 'govuk-visually-hidden'
          },
          items: cellAttributes | addDefaultSelectedVale('Select cell type', true)  | setSelected(formValues.attribute)
        }) }}

        {{ govukButton({
          text: "Search",
          preventDoubleClick: true,
          type: "submit"
        }) }}

        <a href="{{ selectCellRootUrl }}" class="govuk-link">Clear</a>
      </form>
    </div>
  </div>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header" aria-sort="ascending">Location</th>
        <th scope="col" class="govuk-table__header">Cell type</th>
        <th scope="col" class="govuk-table__header" aria-sort="none">Capacity</th>
        <th scope="col" class="govuk-table__header" aria-sort="none">Spaces</th>
        <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Select cell</span></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for cell in cells %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ cell.description }}</th>
          <td class="govuk-table__cell">{{ cell.type | join('<br>', 'description') if cell.type.length else '--' }}</td>
          <td class="govuk-table__cell">{{ cell.capacity }}</td>
          <td class="govuk-table__cell">{{ cell.spaces }}</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Select cell</a></td>
        </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td class="govuk-table__cell" colspan="4">Cell swap</td>
        <td class="govuk-table__cell"><a href="#" class="govuk-link">Select</a></td>
      </tr>
    </tfoot>
  </table>

{% endblock %}

{% block pageScripts %}
  <script src="/js/selectCell.js"></script>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script src="/assets/moj/components/sortable-table/sortable-table.js"></script>
  <script>
  new MOJFrontend.SortableTable({
    table: $('table')[0],
  })
  </script>
{% endblock %}
