{% extends "../partials/layout.njk" %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "../macros/alertFlags.njk" import alertFlags %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% set title = "Select an available cell" %}


{% macro makeRow(cell, index, last, occupier) %}

  {% set cellClass = 'govuk-table__cell govuk-table__cell--last' if last else 'govuk-table__cell' %}

  {% if index === 1 %}
    <td class="{{ cellClass }}">{{ cell.description }}</th>
    <td class="{{ cellClass }}">{{ cell.type | join(',<br>', 'description') | safe if cell.type.length else 'Nothing entered' }}</td>
    <td class="{{ cellClass }}">{{ cell.capacity }}</td>
    <td class="{{ cellClass }}">{{ cell.spaces }}</td>
  {% else %}
    <td class="{{ cellClass }}">
    </td>
    <td class="{{ cellClass }}">
    </td>
    <td class="{{ cellClass }}">
    </td>
    <td class="{{ cellClass }}">
    </td>
  {% endif %}

  {% if occupier != null %}
  <td class="{{ cellClass }}">
    {{ occupier.name }}
    <div>
      <a href="{{ occupier.viewOffenderDetails }}" class="govuk-link" data-test="csra-link">View details <span class="govuk-visually-hidden">for {{ occupier.name }}</span></a>
    </div>
    <div>
      {% if occupier.nonAssociation %}
        <div class="non-association govuk-!-margin-top-1">
          NON-ASSOCIATION
        </div>
      {% endif %}
    </div>
  </td>
  <td class="{{ cellClass }}">
    <p class="govuk-body govuk-!-margin-bottom-1">
      {{ occupier.csra }}
    </p>

    {% if occupier.showCsraLink %}
      <div>
        <a href="{{ occupier.csraDetailsUrl }}" class="govuk-link" data-test="csra-link">View details <span class="govuk-visually-hidden">for {{ occupier.name }} CSRA</span></a>
      </div>
    {% endif %}
  </td>
  <td class="{{ cellClass }}">
    {% if occupier.alerts.length %}
      {{ alertFlags(occupier.alerts) }}
    {% else %}
      <p class="govuk-body govuk-!-margin-bottom-1">None</p>
    {% endif %}
  </td>
  {% else %}
    <td class="{{ cellClass }}">
    </td>
    <td class="{{ cellClass }}">
    </td>
    <td class="{{ cellClass }}">
    </td>
  {% endif %}

  {% if index === 1 %}
     <td class="{{ cellClass }}"><a href="{{ '/prisoner/' + offenderNo + '/cell-move/move-validation?cellId=' + cell.id }}" class="govuk-link">Select cell</a></td>
  {% else %}
      <td class="{{ cellClass }}">
      </td>
  {% endif %}

{% endmacro %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: dpsUrl
      },
      {
        text: breadcrumbPrisonerName,
        href: '/prisoner/' + offenderNo
      },
      {
        text: 'Select a cell'
      }
    ]
}) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">{{title}}</h1>

  {% include "./partials/prisonerInformation.njk" %}

  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-full">
      <form class="horizontal-form" method="GET">
        <h2 class="govuk-heading-s govuk-!-margin-right-2 govuk-!-margin-top-1">View by:</h2>

        {{ govukSelect({
          name: 'location',
          id: 'location',
          label: {
            text: 'Select residential unit',
            classes: 'govuk-visually-hidden'
          },
          items: locations | setSelected(formValues.location)
        }) }}

        {{ govukSelect({
          name: 'subLocation',
          id: 'subLocation',
          label: {
            text: 'Select area in residential unit',
            classes: 'govuk-visually-hidden'
          },
          items: subLocations  | setSelected(formValues.subLocation)
        }) }}

        {{ govukSelect({
          name: 'attribute',
          id: 'attribute',
          label: {
            text: 'Select cell type',
            classes: 'govuk-visually-hidden'
          },
          items: cellAttributes | addDefaultSelectedVale('Select cell type', true)  | setSelected(formValues.attribute)
        }) }}

        {{ govukButton({
          text: "Search",
          preventDoubleClick: true,
          type: "submit"
        }) }}

        <a href="{{ selectCellRootUrl }}" class="govuk-link">Clear</a>
      </form>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if showNonAssociationWarning %}
        {{ govukWarningText({
          attributes: {
            id: 'non-association-warning'
          },
          text: breadcrumbPrisonerName + " has a non-association with a prisoner in this location.",
          iconFallbackText: "Warning"
        }) }}
      {% endif %}
    </div>

    <div class="{{ 'govuk-grid-column-one-third' if showNonAssociationWarning else 'govuk-grid-column-full' }}">
      <p class="govuk-body pull-right govuk-!-margin-top-2">
        <a data-test="select-cswap-link" href="{{ '/prisoner/' + offenderNo + '/cell-move/confirm-cell-move?cellId=C-SWAP' }}" class="govuk-link">Move to cell swap</a>
      </p>
    </div>
  </div>

  {% if cells %}
    <table class="govuk-table govuk-table--with-child-rows" data-test="cell-results-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" data-test="location-table-header">Location</th>
          <th scope="col" class="govuk-table__header">Cell type</th>
          <th scope="col" class="govuk-table__header">Capacity</th>
          <th scope="col" class="govuk-table__header">Spaces</th>
          <th scope="col" class="govuk-table__header">Occupier</th>

          <th scope="col" class="govuk-table__header">CSRA</th>
          <th scope="col" class="govuk-table__header">Relevant alerts</th>
          <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Select cell</span></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for cell in cells %}
          {% if cell.occupants.length > 0 %}
              {% for occupier in cell.occupants %}
                <tr class="govuk-table__row">
                  {{ makeRow(cell, loop.index, cell.occupants.length === loop.index, occupier) }}
                </tr>
                {% endfor %}
          {% else %}
          <tr class="govuk-table__row">
            {{ makeRow(cell, 1, true, null) }}
          </tr>
          {% endif%}
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p class="govuk-body" data-test="no-results-message">There are no results for what you have chosen.</p>
  {% endif %}

{% endblock %}

{% block pageScripts %}
  <script src="/js/selectCell.js"></script>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script src="/assets/moj/components/sortable-table/sortable-table.js"></script>
  <script>
  new MOJFrontend.SortableTable({
    table: $('table')[0],
  })
  </script>
{% endblock %}
