{% extends "../partials/layout.njk" %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../macros/alertFlags.njk" import alertFlags %}

{% set title = "Select a location" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: dpsUrl
      },
      {
        text: breadcrumbPrisonerName,
        href: '/prisoner/' + offenderNo
      },
      {
        text: 'Select a location'
      }
    ]
}) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">{{title}}</h1>

  {% include "./partials/prisonerInformation.njk" %}

  <div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-full">
      <form class="horizontal-form" method="GET" action="{{ formAction }}">
        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-right-2 govuk-!-margin-top-2">View by:</p>

          {{ govukSelect({
              name: 'location',
              id: 'location',
              items: locations | addDefaultSelectedVale('Select residential unit', true) | setSelected(formValues.location),
              errorMessage: errors | findError(type)
          }) }}

          {{ govukSelect({
              name: 'attribute',
              id: 'attribute',
              items: cellAttributes | addDefaultSelectedVale('Select cell type', true) | setSelected(formValues.attribute)
          }) }}

          {{ govukButton({
              text: "Search",
              preventDoubleClick: true,
              type: "submit"
          }) }}

          <a href="{{ selectLocationRootUrl }}" class="govuk-link">Clear</a>
      </form>
    </div<
  </div>
      
  
{% endblock %}
